<section id="cta-80">
    <div class="cs-stripes"></div>
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-content">
            <span class="cs-topper cta-topper">Contact us</span>
            <h2 class="cs-title">Ready To Get Started?</h2>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="/contact">Contact Us</a>
        </div>
        <!-- Right Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/cta.png">
            <source media="(min-width: 601px)" srcset="/assets/images/cta.png">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/cta.png" alt="laptop" width="457" height="632">
        </picture>
    </div>
</section>
                                