<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1612">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">One Last Thing Before You Go...</span>
            <h2 class="cs-title">Stop Spinning. Start Growing.</h2>
            <p class="cs-text">
                Building a website that works is hard. Join our newsletter to get free, actionable tips right in your inbox. We promise no spam, no selling your data. (Unless, of course, you consider cat photos spam.)
            </p>
            <form class="cs-form" name="Newsletter CTA" method="post" netlify netlify-honeypot="bot-field">
                <label class="nm-honeypot">Not for humans <input name="bot-field" /></label>
                <input class="cs-input" type="email" id="cs-email-302-1612" name="find-us" placeholder="Email Address">
                <button class="cs-button-solid cs-submit" type="submit">Subscribe</button>
            </form>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="../../assets/images/newsletter-cta-m.webp">
        <source media="(min-width: 601px)" srcset="../../assets/images/newsletter-cta.webp">
        <img loading="lazy" decoding="async" src="../../assets/images/newsletter-cta.webp" alt="A cat wearing glasses looks at a laptop. Its paws are resting on an open notebook and a pen." width="1920" height="1080" aria-hidden="true">
    </picture>
</section>
                                