<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1612">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Subscribe</span>
            <h2 class="cs-title">Subscribe Your Email for Newsletter & Promotion</h2>
            <p class="cs-text">
                Nulla dig nissimmi quis neque interdum. An Ohio man allegedly punched his lawyer in the face in court Tuesday upon finding out he was sentenced.
            </p>
            <form class="cs-form" name="Contact Form" method="post">
                <input class="cs-input" type="email" id="cs-email-302-1612" name="find-us" placeholder="Email Address">
                <button class="cs-button-solid cs-submit" type="submit">Subscribe Now</button>
            </form>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!-- <source media="(max-width: 600px)" srcset="../../assets/images/Light.svg">
        <source media="(min-width: 601px)" srcset="../../assets/images/Light.svg"> -->
        <img loading="lazy" decoding="async" src="../../assets/images/Light.svg" alt="" width="1920" height="486" aria-hidden="true">
    </picture>
    <!--
    <div class="cs-wrapper">
        <img class="cs-fish cs-fish1" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/left-fish.svg" alt="fish" width="1920" height="486" aria-hidden="true">
        <img class="cs-fish cs-fish1" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/right-fish.svg" alt="fish" width="1920" height="486" aria-hidden="true">
    </div> -->
</section>
