<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1293">
    <div class="cs-container">      
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <div class="nm-logo">
                <a aria-label="go back to home" class="cs-logo" href="/">
                    <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="../../assets/svgs/logo-mono-dark-vertical.svg" alt="logo" width="165" height="180">
                </a>
            </div>
            <div class="nm-contact">
                <p class="cs-text">
                    Grow your business and enjoy more peace of mind with our custom websites and designs.
                </p>
                <p class="cs-text">
                    {{ client.email }}
                </p>
            </div>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">About</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about">Our Story & Values</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Services</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/services/web-design">Web Design</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/services/support">Support</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/services/branding">Branding</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/prices">Prices</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Connect</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">Copyright© 2025. Neva Masquerade. All Right Reserved.
        </span>
        <a href="https://app.termly.io/policy-viewer/policy.html?policyUUID=860aeba8-a027-40c3-83cc-a2a4be6f5fef" class="cs-copyright-link">Terms of Service</a>
        <a href="https://app.termly.io/policy-viewer/policy.html?policyUUID=997f84d1-6725-4adf-9c11-7c2de54f0f85" class="cs-copyright-link">Disclaimer</a>
    </div>
</footer>
