<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1293">
    <div class="cs-container">      
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <div class="nm-logo">
                <a aria-label="go back to home" class="cs-logo" href="/">
                    <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="../../assets/svgs/logo-vertical-dark.svg" alt="logo" width="165" height="180">
                </a>
            </div>
            <div class="nm-contact">
                <p class="cs-text">
                    Grow your business and enjoy more peace of mind with our custom websites and designs.
                </p>
                <p class="cs-text">
                    {{ client.email }}
                </p>
            </div>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Services</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/services/web-design">Web design</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/services/support">Support</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/services/branding">Branding</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/prices">Prices</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">About</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about">Our story & values</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Connect</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/contact">Contact us</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="https://www.linkedin.com/company/neva-masquerade/">LinkedIn</a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">Copyright© 2025. Neva Masquerade. All Right Reserved.
        </span>
        <a href="/terms-of-service" class="cs-copyright-link">Terms of service</a>
        <a href="/disclaimer" class="cs-copyright-link">Disclaimer</a>
        <a href="/cookie-policy" class="cs-copyright-link">Cookie-policy</a>
        <a href="/privacy" class="cs-copyright-link">Privacy policy</a>        
        <a href="#" class="termly-display-preferences cs-copyright-link">Consent preferences</a>
    </div>
</footer>
