<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name": "{{ client.name }}",
        {% if preloadImg %}"image": "{{ client.domain }}{{ preloadImg }}",{% endif %}
        {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
        {% if client.email %}"email": "{{ client.email }}",{% endif %}
        {% if client.address %}
            "address": {
                "@type": "PostalAddress" {%- if client.address.lineOne -%},
                    "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                {%- endif -%}
                {%- if client.address.city -%},
                    "addressLocality": "{{ client.address.city }}"
                {%- endif -%}
                {%- if client.address.state -%},
                    "addressRegion": "{{ client.address.state }}"
                {%- endif -%}
                {%- if client.address.zip -%},
                    "postalCode": "{{ client.address.zip }}"
                {%- endif -%}
                {%- if client.address.country -%},
                    "addressCountry": "{{ client.address.country }}"
                {%- endif -%}
            },
        {% endif %}
        {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
        {% if client.socials %}
            "sameAs": [{%- for platform, url in client.socials -%}
                    {% if not loop.first %},{% endif %}"{{ url }}"
                {%- endfor -%}]
        {% endif %}
    }
</script>