<!-- A fully fleshed-out <head>, dynamically changing based on client.json and the page front matter -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Standard meta tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="">
        <link rel="canonical" href="https://{{ client.domain }}{{ page.url }}">

        <!--Social Media Display-->
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://{{ client.domain }}{{ page.url }}" />
        <meta property="og:image" content="/assets/images/logo-small.png" />
        <meta property="og:image:secure_url" content="/assets/images/logo-small.png" />

        <!--Favicons-->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v1">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicons/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- Preloads -->
        <link rel="preload" as="image" href="/assets/svgs/logo-white.svg">
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-regular.woff2" crossorigin>
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-700.woff2" crossorigin>

        <!-- Preload an image - tag not rendered if preloadImg is blank to stop console errors -->
        {% if preloadImg != '' %}
            <link rel="preload" as="image" href="{{ preloadImg }}" />
        {% endif %}

        <!-- Sitewide Stylesheets and Scripts -->
        <link rel="stylesheet" href="/assets/css/root.css">
        <link rel="stylesheet" href="/assets/css/dark.css">
        <script defer src="/assets/js/nav.js"></script>
        <script defer src="/assets/js/dark.js"></script>

        {% block head %}{% endblock %}

        <!--For home page, use service keywords for the title, including location for SEO.
        Other pages should just include the page name.
        
        EXAMPLE:
        Home page - House Painting Contractors | Painters and Co. | TestCity, WA
        About Page - About us | Painters and Co.
        -->
        <title>
            {% if page.url == '/'%}
                {{ title }}
                |
                {{ client.name }}
                |
                {{ client.address.city }},
                {{ client.address.state }}
            {% else %}
                {{ title }}
                |
                {{ client.name }}
            {% endif %}
        </title>
    </head>
    <body>
        <!--Screen reader skip main nav-->
        <a class="skip" aria-label="skip to main content" href="#main">Click To Skip To Main Content</a>

        {% include "components/header.html" %}
        <main id="main">
            {% block body %}{% endblock %}
        </main>
        {% include "components/footer.html" %}

    </body>
</html>