---
title: "About | Neva Masquerade"
description: "Be bold, be unique, and be you with Neva Masquerade. Learn about our mission to help small businesses shine online with custom websites and branding."
preloadImg: "/assets/textures/blue-banner-m.webp"
permalink: "about/"
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css" media="print" onload="this.media='all'" />
    <style>
        .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: -moz-linear-gradient(
                    left,
                    rgba(18, 38, 51, 0.94) 0%,
                    rgba(18, 38, 51, 0) 100%
                ); /* FF3.6-15 */
                background: -webkit-linear-gradient(
                    left,
                    rgba(18, 38, 51, 0.94) 0%,
                    rgba(18, 38, 51, 0) 100%
                ); /* Chrome10-25,Safari5.1-6 */
                opacity: 1;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    </style>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1106">
        <div class="cs-container">
            <span class="cs-int-title">Our story and values</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="#" class="cs-link cs-active">About</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="../../assets/textures/blue-banner-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="../../assets/textures/blue-banner.webp">
            <img decoding="async" src="../../assets/textures/blue-banner.webp" alt="" width="1280" height="568" aria-hidden="true">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--              Side By Side Reverse            -->
    <!-- ============================================ -->

    <section id="RPsbsr-600">
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="../../assets/images/about-image-1-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="../../assets/images/about-image-1.webp">
            <img loading="lazy" decoding="async" src="../../assets/images/about-image-1.webp" alt="A young couple. The man is holding an umbrella and looks slightly annoyed. The woman is standing next to him with a sassy smile." width="960" height="796">
        </picture>
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">About the Founder</span>
                <h2 class="cs-title">Serving people, not profits</h2>
                <p class="cs-text">
                    Hi, my name is Tianna Hutchins, and I am an unapologetic cat lover, history nerd, and public servant. In 2018, I joined the <strong>U.S. Department of State's web team</strong> as a web editor. Today, I'm the <strong>team lead</strong> overseeing a small team that manages the <strong>Department's main website</strong>. The website <strong>receives millions of visits</strong> each month and peaked at <strong>over 47,500 pages</strong>. Over the past <strong>seven years</strong>, I've learned a lot. Now, I am a <strong>jack-of-all-trades</strong> in the world of websites.
                </p>
                <p class="cs-text">
                    For the next chapter in my career, <strong>I want to share my knowledge and experience with people like you</strong>. I could look for a corporate job, but I would like to use my skills instead to <strong>help small businesses grow</strong>. That's why I started Neva Masquerade.
                </p>
                <p class="cs-text">
                    <strong>You don't have to settle</strong> for a subpar website and weak branding. I'm ready to help you <strong>elevate your brand</strong> and <strong>grow your business</strong>. Are you?
                </p>
                <a href="/contact" class="cs-button-solid">Book a call</a>
            </div>
        </div>
    </section>
    
    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="RPsbs-600">
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="../../assets/images/about-image-2-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="../../assets/images/about-image-2.webp">
            <img loading="lazy" decoding="async" src="../../assets/images/about-image-2.webp" alt="A black cat yawns while looking out a window. It looks like he's screaming excitedly." width="960" height="796">
        </picture>
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">About Neva Masquerade</span>
                <h2 class="cs-title">Be bold. Be unique. Be you.</h2>
                <p class="cs-text">
                    How can you <strong>shine</strong> when your <strong>online presence</strong> feels like a <strong>masquerade</strong>? Starting a business is challenging. Feeling lost, overwhelmed, and sometimes like an imposter is easy. Running a business takes a lot of time. <strong>You don't have time</strong> to grapple with a <strong>subpar website</strong> and an <strong>inconsistent brand</strong>. <strong>Neva Masquerade</strong> was born out of a desire to <strong>ease this burden</strong>. 
                </p>
                <p class="cs-text">
                    <strong>Many small businesses struggle to make their mark</strong>, but it doesn't have to be that way. Our <strong>custom-coded websites</strong> can <strong>free you</strong> from the <strong>hassle</strong> of web design so that you can <strong>focus on what you do best</strong>. We aspire to help businesses like yours thrive.
                </p>
                <p class="cs-text">
                    We don't use templates or page builders because <strong>every web design should be a partnership</strong>. <strong>Your website</strong> should reflect <strong>your vision</strong> and <strong>personality</strong> and not a generic knock-off. Your business deserves to <strong>stand out</strong> and not blend into the crowded marketplace. We're excited to see what we can build together. When can we start?
                </p>
                <a href="/contact" class="cs-button-solid">Book a call</a>
            </div>
        </div>
    </section>
        
    <!-- ============================================ -->
    <!--                  Content                     -->
    <!-- ============================================ -->

    <section id="content-1638">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Why we do it</span>
                    <h2 class="cs-title">Our mission, vision, and values</h2>
                    <h3 class="cs-h3-mission">
                        Mission
                    </h3>
                    <p class="cs-text">
                        To help small business owners <strong>elevate their brands</strong> and <strong>grow their businesses</strong>.
                    </p>
                    <h3 class="cs-h3-mission">
                        Vision
                    </h3>
                    <p class="cs-text">
                        A world where <strong>everyone can be confident</strong> in who they are and <strong>share their dreams</strong>.
                    </p>
                </div>
                <div class="cs-flex">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <span class="cs-item-number">01</span>
                            <div class="cs-item-wrapper">
                                <p class="cs-h3">
                                    <strong>Treat</strong> everyone with <strong>dignity</strong> and <strong>respect</strong>.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">02</span>
                            <div class="cs-item-wrapper">
                                <p class="cs-h3">
                                    <strong>Practice empathy</strong>.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">03</span>
                            <div class="cs-item-wrapper">
                                <p class="cs-h3">
                                    <strong>Share knowledge</strong>.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">04</span>
                            <div class="cs-item-wrapper">
                                <p class="cs-h3">
                                    <strong>Think long-term</strong>.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">05</span>
                            <div class="cs-item-wrapper">
                                <p class="cs-h3">
                                    <strong>Speak</strong> the <strong>truth</strong>.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">06</span>
                            <div class="cs-item-wrapper">
                                <p class="cs-h3">
                                    <strong>Learn</strong> from <strong>mistakes</strong>.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">07</span>
                            <div class="cs-item-wrapper">
                                <p class="cs-h3">
                                    <strong>Embrace</strong> your <strong>weirdness</strong> and have <strong>fun</strong>.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>  
            <div class="cs-wrapper">
                
            </div>
        </div>
    </section>
                                
    {% include 'components/cta.html' %}
{% endblock %}
