---
title: 'About us'
description: 'About page for the agency'
preloadImg: '/assets/images/comp.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}


    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/about1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/about1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/about1.jpg" alt="computer" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Giving Small Businesses The Big Business Treatment</h2>
                <p class="cs-text">
As a team of engineers dedicated to supporting small businesses, we recognized the challenges many face in establishing a professional online presence. Traditional options were often costly and outdated, leaving businesses stuck in a cycle of frustration.                </p>
                <p class="cs-text">
To address this, we introduced our $0 down and $75 a month deal. This innovative approach removes financial barriers, providing businesses with modern, affordable websites. Our streamlined process ensures each website reflects the unique identity of the business.
</p>
<p class="cs-text">
But our commitment goes beyond affordability. We provide personalized support, guiding businesses towards digital success.</p>
                <a href="/portfolio" class="cs-button-solid">Our Portfolio</a>
            </div>
        </div>
        
    </section>



<section id="steps-1661">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">_____</span>
            <h2 class="cs-title">Quality Over Quantity</h2>
            <p class="cs-item-text">

We're all about getting to know each business inside and out, shaping content that really captures its vibe. Our process is super hands-on—we're in it together, working side by side to craft a website that makes you go, "Wow!" No settling here, just pure satisfaction.                </p>

        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <h3 class="cs-h3">No Pre-Written Content</h3>
                <p class="cs-item-text">
We write unique and engaging content around your company. Everyone is unique!</p>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <h3 class="cs-h3">Unbeatable Customer Service</h3>
                <p class="cs-item-text">
                    No automated systems - When you need help the lead developer answers your call.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <h3 class="cs-h3">No Limits On Design</h3>
                <p class="cs-item-text">
                    We can edit the design to cater to your tastes. Everything is customizable!
                </p>
            </li>
        </ul>
    </div>
</section>



<section id="contact-1389">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Get in Touch</h2>
            <ul class="cs-ul">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-76.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Phone</span>
                        <a href="tel:888-4565-789
                        " class="cs-link">+1 (604) 763 2030
                        </a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Email</span>
                        <a href="mailto:Email@stitch.com" class="cs-link">contact@umbia.ca</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-1389" name="Contact Form" method="post">
            <label class="cs-label">
                <input class="cs-input" required type="text" id="name-1389" name="name" placeholder="Your Name">
            </label>
            <label class="cs-label cs-email">
                <input class="cs-input" required type="email" id="email-1389" name="email" placeholder="Your Email Address">
            </label>
            <label class="cs-label cs-phone">
                <input class="cs-input" required type="number" id="phone-1389" name="phone" placeholder="Your Phone Number">
            </label>
            <label class="cs-label">
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1389" placeholder="Type your Message Here ..."></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Submit</button>
        </form>
    </div>
</section>
                                
                                

{% endblock %}