---
title: "About | Neva Masquerade"
description: "Meta description for the page"
preloadImg: "/assets/images/dark-mode-banner.svg"
permalink: "about/"
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1106">
        <div class="cs-container">
            <span class="cs-int-title">Our story and values</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="" class="cs-link cs-active">About</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="../../assets/images/dark-mode-banner.svg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="../../assets/images/dark-mode-banner.svg">
            <img decoding="async" src="../../assets/images/dark-mode-banner.svg" alt="" width="1280" height="568" aria-hidden="true">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--              Side By Side Reverse            -->
    <!-- ============================================ -->

    <section id="RPsbsr-600">
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="../../assets/images/about-image-1.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="../../assets/images/about-image-1.webp">
            <img loading="lazy" decoding="async" src="../../assets/images/about-image-1.webp" alt="room" width="960" height="796">
        </picture>
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">About the founder</span>
                <h2 class="cs-title">Serving people, not profits</h2>
                <p class="cs-text">
                    Hi, my name is Tianna Hutchins and I am an unapologetic cat lover, history nerd, and public servant. In 2018, I joined the U.S. Department of State's web team as a web editor. Today, I'm the team lead overseeing a small team that manages the Department's main website. The website receives millions of visits each month and peaked at over 47,500 pages. Over 7 years, I've learned a lot and now consider myself a jack-of-all-trades in the world of websites. 
                </p>
                <p class="cs-text">
                    For the next chapter in my career, I want to share my knowledge and experience with people like you. I could look for a corporate job, but I'd much rather use my skills to help small businesses grow. That's why I started Neva Masquerade.
                </p>
                <p class="cs-text">
                    You don't have to settle for a subpar website and weak branding. I'm ready to help you elevate your brand, and grow your business. Are you?
                </p>
                <a href="" class="cs-button-solid">Book a call</a>
            </div>
        </div>
    </section>
    
    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="RPsbs-600">
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="../../assets/images/about-image-2.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="../../assets/images/about-image-2.webp">
            <img loading="lazy" decoding="async" src="../../assets/images/about-image-2.webp" alt="room" width="960" height="796">
        </picture>
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">About Neva Masquerade</span>
                <h2 class="cs-title">Be bold. Be unique. Be you.</h2>
                <p class="cs-text">
                    How can you shine when your online presence feels like a masquerade? Starting a business is tough. It's easy to feel lost, overwhelmed, and at times like an imposter. When you have to run a business, you don't have much time to grapple with a subpar website and an inconsistent brand. Neva Masquerade was born out of a desire to ease this burden. 
                </p>
                <p class="cs-text">
                    Many small businesses struggle to make their mark, but it doesn't have to be that way. Our custom-coded websites can free you from the hassle of web design so that you can focus on what you do best. We aspire to help businesses like yours thrive.
                </p>
                <p class="cs-text">
                    We don't use templates or page builders, because every web design should be a partnership. Your website should reflect your vision and personality and not a generic knock-off. Your business deserves to standout and not blend into the crowded marketplace. We're excited to see what we can build together. When can we start? 
                </p>
                <a href="" class="cs-button-solid">Book a call</a>
            </div>
        </div>
    </section>
        
    <!-- ============================================ -->
    <!--                  Content                     -->
    <!-- ============================================ -->

    <section id="content-1638">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Why we do it</span>
                    <h2 class="cs-title">Our mission, vision, and values</h2>
                    <h3 class="cs-h3-mission">
                        Mission
                    </h3>
                    <p class="cs-text">
                        To help small business owners elevate their brands, and grow their businesses.
                    </p>
                    <h3 class="cs-h3-mission">
                        Vision
                    </h3>
                    <p class="cs-text">
                        A world where everyone can be confident in who they are and share their dreams.
                    </p>
                </div>
                <div class="cs-flex">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <span class="cs-item-number">01</span>
                            <div class="cs-item-wrapper">
                                <p class="cs-h3">
                                    Treat everyone with dignity and respect, don’t hate
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">02</span>
                            <div class="cs-item-wrapper">
                                <p class="cs-h3">
                                    Practice empathy, don’t ignore others’ needs
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">03</span>
                            <div class="cs-item-wrapper">
                                <p class="cs-h3">
                                    Share knowledge freely, don’t restrict information
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">04</span>
                            <div class="cs-item-wrapper">
                                <p class="cs-h3">
                                    Think long term, don’t cut corners
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">05</span>
                            <div class="cs-item-wrapper">
                                <p class="cs-h3">
                                    Embrace your weird and have fun, don’t take yourself too seriously
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">06</span>
                            <div class="cs-item-wrapper">
                                <p class="cs-h3">
                                    Speak authentically and honestly, don’t mislead
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <span class="cs-item-number">07</span>
                            <div class="cs-item-wrapper">
                                <p class="cs-h3">
                                    Be human and make mistakes, don’t be afraid to start
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>  
            <div class="cs-wrapper">
                
            </div>
        </div>
    </section>
                                
    {% include 'components/cta.html' %}
{% endblock %}
