---
title: "Contact | Neva Masquerade"
description: "Meta description for the page"
preloadImg: "/assets/images/dark-mode-banner.svg"
permalink: "contact/"
eleventyNavigation:
    key: Book a call
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css" />
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">Contact us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/contact" class="cs-link cs-active">Contact us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="../../assets/images/dark-mode-banner.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="../../assets/images/dark-mode-banner.svg">
        <img decoding="async" src="../../assets/images/dark-mode-banner.svg" alt="" width="1280" height="300" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-590">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="../../assets/images/contact.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="../../assets/images/contact.webp">
            <img loading="lazy" decoding="async" src="../../assets/images/contact.webp" alt="Cats on a web call" width="841" height="877">
        </picture>
        <div class="cs-right">
            <div class="cs-content">
                <span class="cs-topper">Book a call</span>
                <h1 class="cs-title">Get started with a free consultation</h1>
                <p class="cs-text">
                    Fill out this form to request a free call or ask questions. We'll respond within 24 hours to set a date and time. 
                </p>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-590" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-590" name="name" placeholder="Name">
                </label>
                <label class="cs-label">
                    Phone
                    <input class="cs-input" required type="text" id="phone-590" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Email
                    <input class="cs-input" required type="text" id="email-590" name="email" placeholder="Email">
                </label>
                <label class="cs-label">
                    How did you hear about us?
                    <input class="cs-input" required type="text" id="hear-590" name="heat" placeholder="Google">
                </label>
                <label class="cs-label cs-message">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-590" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </form>
        </div>
    </div>
</section>
                                
{% endblock %}
