---
title: 'Pricing for Custom Web and Branding'
description: 'Small business pricing: custom web design, branding, copywriting, & support. See our upfront costs and services designed to fit your budget and help you grow.'
preloadImg: '/assets/textures/blue-banner-m.webp'
permalink: 'prices/'
eleventyNavigation:
    key: Prices
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    {{ super() }}
    <meta property="og:type" content="website" />
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
        <link rel="stylesheet" href="/assets/css/content-pages.css" media="print" onload="this.media='all'; this.onload=null;" />
        <link rel="stylesheet" href="/assets/css/tables.css" media="print" onload="this.media='all'; this.onload=null;" />
        <noscript>
            <link rel="stylesheet" href="/assets/css/content-pages.css" />
            <link rel="stylesheet" href="/assets/css/tables.css" />
        </noscript>
        <style>
            .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

                &:before {
                    /* background color overlay */
                    content: "";
                    position: absolute;
                    display: block;
                    height: 100%;
                    width: 100%;
                    background: -moz-linear-gradient(
                        left,
                        rgba(18, 38, 51, 0.94) 0%,
                        rgba(18, 38, 51, 0) 100%
                    ); /* FF3.6-15 */
                    background: -webkit-linear-gradient(
                        left,
                        rgba(18, 38, 51, 0.94) 0%,
                        rgba(18, 38, 51, 0) 100%
                    ); /* Chrome10-25,Safari5.1-6 */
                    opacity: 1;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    /* Makes img tag act as a background image */
                    object-fit: cover;
                }
            }
        </style>
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->

        <!-- ============================================ -->
        <!--                   Banner                     -->
        <!-- ============================================ -->

        <div id="banner-1106">
            <div class="cs-container">
                <span class="cs-int-title">{{ eleventyNavigation.key }}</span>
                <div class="cs-breadcrumbs">
                    <a href="/" class="cs-link">Home</a>
                    <a href="/{{ permalink }}" class="cs-link cs-active">{{ eleventyNavigation.key }}</a>
                </div>
            </div>
            <!--Background Image-->
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/textures/blue-banner-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/textures/blue-banner.webp">
                <img decoding="async" src="../../assets/textures/blue-banner.webp" alt="" width="1280" height="568" aria-hidden="true">
            </picture>
        </div>

        <!-- ============================================ -->
        <!--                 Content Page                 -->
        <!-- ============================================ -->

        <!-- ============================================ 
            This Stitch is used for content heavy interior pages
            that have no design or layout.  Often times these are 
            content silos where you talk extensively about a topic
            to educate your visitors and rank on Google for the 
            content.  These are great for pages that have a TON
            of content.  Design isn't important here, it's all 
            about making the content accessible and easy to read.
        ================================================= -->

        <section id="content-page-851">
            <div class="cs-container">
                <div class="cs-content">
                    <h1 class="cs-title">Upfront prices for small business design services</h1>
                        <p>
                            Are you frustrated by hidden prices? It's impossible to budget if you don't know how much something should cost. Transparent pricing is better for everyone, so we're upfront about how much you'll pay to work with us.     
                        </p>
                        <p>
                            Each service in our price tables links to a description explaining what it is and why you should buy it.
                        </p>
                        <!--Web design-->
                        <table>
                            <caption>Web design</caption>
                            <thead>
                                <tr>
                                    <th scope="col" class="nm-services">Service</th>
                                    <th scope="col" class="nm-prices">Price</th>
                                    <th scope="col" class="nm-description">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#standard-website">{{ services.stdWeb.name }}</a></td>
                                    <td>${{ services.stdWeb.price}}</td>
                                    <td>5-page website, paid for upfront</td>
                                </tr>
                                <tr>
                                    <td><a href="#subscription-website">{{ services.subWeb.name }}</a></td>
                                    <td>${{ services.subWeb.price }}/month</td>
                                    <td>5-page website, $0 down with monthly payments</td>
                                </tr>
                                <tr>
                                    <td><a href="#figma">{{ services.figma.name }}</a></td>
                                    <td>${{ services.figma.price }} (starts at)</td>
                                    <td>Design files for a developer</td>
                                </tr>
                                <tr>
                                    <td><a href="#extra-pages">{{ services.extraPages.name }}</a></td>
                                    <td>${{ services.extraPages.price }}</td>
                                    <td>Add more pages to your website</td>
                                </tr>
                                <tr>
                                    <td><a href="#blog-configuration">{{ services.blog.name }}</a></td>
                                    <td>${{ services.blog.price }}</td>
                                    <td>Add a blog to your website</td>
                                </tr>
                                <tr>
                                    <td><a href="#dark-mode">{{ services.darkMode.name }}</a></td>
                                    <td>${{ services.darkMode.price }}</td>
                                    <td>Add dark mode to your website</td>
                                </tr>
                            </tbody>
                        </table>
                        <!--Support-->
                        <table>
                            <caption>Support</caption>
                            <thead>
                                <tr>
                                    <th scope="col" class="nm-services">Service</th>
                                    <th scope="col" class="nm-prices">Price</th>
                                    <th scope="col" class="nm-description">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#domain">{{ services.domain.name }}</a></td>
                                    <td>${{ services.domain.price }}/year</td>
                                    <td>We'll manage your domain and DNS records</td>
                                </tr>
                                <tr>
                                    <td><a href="#hosting">{{ services.hosting.name }}</a></td>
                                    <td>${{ services.hosting.price }}/month</td>
                                    <td>We'll manage your web hosting</td>
                                </tr>
                                <tr>
                                    <td><a href="#unlimited-edits">{{ services.edits.name }}</a></td>
                                    <td>${{ services.edits.price }}/month</td>
                                    <td>We'll update your site as often as needed</td>
                                </tr>
                                <tr>
                                    <td><a href="#copywriting">{{ services.copywriting.name }}</a></td>
                                    <td>${{ services.copywriting.price }}/word</td>
                                    <td>We'll write the copy for your website</td>
                                </tr>
                            </tbody>
                        </table>
                        <!--Branding table-->
                        <table>
                            <caption>Branding</caption>
                            <thead>
                                <tr>
                                    <th scope="col" class="nm-services">Service</th>
                                    <th scope="col" class="nm-prices">Price</th>
                                    <th scope="col" class="nm-description">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#social-banner">{{ services.profileGraphic.name }}</a></td>
                                    <td>${{ services.profileGraphic.price }}</td>
                                    <td>Add a custom banner image to your profile</td>
                                </tr>
                                <tr>
                                    <td><a href="#social-graphic">{{ services.socialGraphic.name }}</a></td>
                                    <td>${{ services.socialGraphic.price }}</td>
                                    <td>Get a branded graphic for your post</td>
                                </tr>
                                <tr>
                                    <td><a href="#social-subscription">{{ services.socialSub.name }}</a></td>
                                    <td>${{ services.socialSub.price }}/month</td>
                                    <td>Get branded graphics for less</td>
                                </tr>
                                <tr>
                                    <td><a href="#business-cards">{{ services.businessCards.name }}</a></td>
                                    <td>${{ services.businessCards.price }}</td>
                                    <td>Custom designed business cards</td>
                                </tr>
                                <tr>
                                    <td><a href="#letterhead-envelopes">{{ services.letterhead.name }}</a></td>
                                    <td>${{ services.letterhead.price }}</td>
                                    <td>Custom designed stationery</td>
                                </tr>
                                <tr>
                                    <td><a href="#other-design">{{ services.otherGraphic.name }}</a></td>
                                    <td>{{ services.otherGraphic.price }}</td>
                                    <td>Have a need? Ask us about it</td>
                                </tr>
                                <tr>
                                    <td><a href="#brand-narrative">{{ services.narrative.name }}</a></td>
                                    <td>${{ services.narrative.price }}</td>
                                    <td>Engage customers with a brand story</td>
                                </tr>
                                <tr>
                                    <td><a href="#style-guide">{{ services.styleGuide.name }}</a></td>
                                    <td>${{ services.styleGuide.price }}</td>
                                    <td>Establish styles and rules for your brand</td>
                                </tr>
                                <tr>
                                    <td><a href="#consulting">{{ services.consulting.name }}</a></td>
                                    <td>${{ services.consulting.price }}/hour</td>
                                    <td>Get advice for DIY brand and web strategy</td>
                                </tr>
                            </tbody>
                        </table>
                        <h2 id="web-design">
                            Web design
                        </h2>
                            <p>
                                Small businesses don't need complicated websites or a content management system. WordPress is high-maintenance and overkill for our clients' needs. Do you enjoy spending more time and money on your website than you need to? 
                            </p>
                            <h3 class="cs-h3" id="standard-website">
                                <span class="cs-name">{{ services.stdWeb.name }}</span>
                                <span class="cs-price"><span class="nm-price-mod">Starts at</span> ${{ services.stdWeb.price }}</span>
                            </h3>
                                <p>
                                    Do you have a good amount of cash in your budget and want to own your website? If so, the {{ services.stdWeb.name }} is right for you.
                                </p>
                                <p>
                                    You pay for the {{ services.stdWeb.name }} upfront and own everything.
                                </p>
                                <p>
                                    You can host and maintain it yourself, but we don't recommend that. It's best to add <a href="#hosting">{{ services.hosting.name }}</a> and <a href="#unlimited-edits">{{ services.edits.name }}</a>.
                                </p>
                                <div class="nm-columns">
                                    <div class="nm-column">
                                        <p class="nm-include">
                                            Includes:
                                        </p>
                                        <ul>
                                            <li>
                                                Homepage and 4 content pages (e.g., About, Services, Contact, etc.)
                                            </li>
                                            <li>
                                                Personalized design
                                            </li>
                                            <li>
                                                Hand-coded website developed in HTML, CSS, and JavaScript
                                                <ul>
                                                    <li>Responsive, mobile-first design (looks great on phones)</li>
                                                    <li>PageSpeed Insights scores of 90+ (loads fast and performs well)</li>
                                                    <li>Meets WCAG 2.2 AA standards (accessible to people with disabilities)</li>
                                                </ul>
                                            </li>
                                            <li>
                                                Ownership of the design and codebase
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="nm-column">
                                        <p class="nm-include">
                                            Does not include:
                                        </p>
                                        <ul>
                                            <li>
                                                <a href="#hosting">{{ services.hosting.name }}</a> (add ${{ services.hosting.price }}/month)</li>
                                                <li>
                                                <a href="#unlimited-edits">{{ services.edits.name }}</a> (add ${{ services.edits.price }}/month)</li>
                                                <li>
                                                <a href="#extra-pages">{{ services.extraPages.name }}</a> (add ${{ services.extraPages.price }} fee for each page)</li>
                                                <li>
                                                <a href="#blog-configuration">{{ services.blog.name }}</a> and training session (add ${{ services.blog.price }} fee)</li>
                                                <li>
                                                <a href="#dark-mode">{{ services.darkMode.price }}</a> (add ${{ services.darkMode.price }} fee)</li>
                                                <li>Design refreshes</li>
                                        </ul>
                                    </div>
                                </div>
                            <h3 class="cs-h3" id="subscription-website">
                                <span class="cs-name">{{ services.subWeb.name }}</span>
                                <span class="cs-price">${{ services.subWeb.price }} <span class="nm-price-mod">/ month</span></span>
                            </h3>
                                <p>
                                    Do you have a limited budget and no upfront capital? Do you want to refresh your website's style every few years without paying extra? If you answer yes, the {{ services.subWeb.name }} fits your needs.
                                </p>
                                <p>
                                    You'll pay for your website monthly, and over time, you'll pay for it in full. To give you continued value, we'll let you redesign your website every few years at no extra charge. This frugal option will keep your website fresh and modern.
                                </p>
                                <p>
                                    The subscription also includes <a href="#hosting">{{ services.hosting.name }}</a> and <a href="#unlimited-edits">{{ services.edits.name }}</a>. This adds even more value to your monthly payment.
                                </p>
                                <p>
                                    To make this model work, we own the website. Your domain and the content you provide are always yours, but the design and code are ours. We do this to protect our investment in you. Building a website without upfront payment is a gamble. If you cancel after the first year, we won't receive payment for all our time and labor.
                                </p>
                                <div class="nm-columns">
                                    <div class="nm-column">
                                        <p class="nm-include">
                                            Includes:
                                        </p>
                                        <ul>
                                            <li>Homepage and 4 content pages (About, Services, Contact, etc.)</li>
                                            <li>Personalized design</li>
                                            <li>Hand-coded website developed in HTML, CSS, and JavaScript
                                                <ul>
                                                    <li>Responsive, mobile-first design (looks great on phones)</li>
                                                    <li>PageSpeed Insights scores of 90+ (loads fast and performs well)</li>
                                                    <li>Meets WCAG 2.2 AA standards (accessible to people with disabilities)</li>
                                                </ul>
                                            </li>
                                            <li><a href="#hosting">{{ services.hosting.name }}</a> (${{ services.hosting.price }} value)</li>
                                            <li><a href="#unlimited-edits">{{ services.edits.name }}</a> (${{ services.edits.price }} value)</li>
                                            <li>Design refreshes every ~3 years ($3,000 value)</li>
                                        </ul>
                                    </div>
                                    <div class="nm-column">
                                        <p class="nm-include">
                                            Does not include:
                                        </p>
                                        <ul>
                                            <li>Ownership of the design and codebase</li>
                                            <li><a href="#extra-pages">{{ services.extraPages.name }}</a> (add ${{ services.extraPages.price }} fee for each page)</li>
                                            <li><a href="#blog-configuration">{{ services.blog.name }}</a> and training session (add ${{ services.blog.price }} fee)</li>
                                            <li><a href="#dark-mode">{{ services.darkMode.name }}</a> (add ${{ services.darkMode.price }} fee)</li>
                                        </ul>
                                    </div>
                                </div>
                            <h3 class="cs-h3" id="figma">
                                <span class="cs-name">{{ services.figma.name }}</span>
                                <span class="cs-price"><span class="nm-price-mod">Starts at</span> ${{ services.figma.price }}</span>
                            </h3>
                                <p>
                                    Do you have a developer and need a web designer? If so, a {{ services.figma.name }} is the solution you need.
                                </p>
                                <p>
                                    Figma is the industry standard platform for web designs and prototypes. We'll create an annotated design in Figma for your developer to use. Our design will include 4 breakpoints to ensure it looks good on different devices. The total price will depend on:
                                </p>
                                <ul>
                                    <li>the number of page designs you need,</li>
                                    <li>the complexity of the content and sections and</li>
                                    <li>if you need more than 2 rounds of revisions.</li>
                                </ul>
                            <h3 class="nm-h3">
                                Add-ons
                            </h3>
                                <p>
                                    Both website packages include 5 custom-designed and custom-coded pages. You can add more features and services to either package. All are one-time charges.
                                </p>
                                <h4 class="nm-h4" id="extra-pages">
                                    <span class="cs-name">{{ services.extraPages.name }}</span>
                                    <span class="cs-price">${{ services.extraPages.price }} <span class="nm-price-mod">/ each</span></span>
                                </h4>
                                    <p>
                                        Do you need more than 5 pages?
                                    </p>
                                    <p>
                                        We can create as many as you need. After we've built the page, we'll never charge you for working on it again.
                                    </p>
                                    <p>
                                        This fee covers the time and effort required to create each extra page.
                                    </p>
                                <h4 class="nm-h4" id="blog-configuration">
                                    <span class="cs-name">{{ services.blog.name }}</span>
                                    <span class="cs-price">${{ services.blog.price }}</span>
                                </h4>
                                    <p>
                                        Do you want to blog to improve your website's search engine optimization (SEO)?
                                    </p>
                                    <p>
                                        We can add a blog for you to manage yourself. To do this, we use Decap CMS. It works with static websites (like what we build). Unlike WordPress, it doesn't have a database, so it has lower maintenance and is more secure. It's also super easy to use.
                                    </p>
                                    <p>
                                        This fee covers configuring Decap CMS, styling the blog, and a training session on how to use it.
                                    </p>
                                <h4 class="nm-h4" id="dark-mode">
                                    <span class="cs-name">{{ services.darkMode.name }}</span>
                                    <span class="cs-price">${{ services.darkMode.price }}</span>
                                </h4>
                                    <p>
                                        Are you a fan of dark mode? Do you want to wow people?
                                    </p>
                                    <p>
                                        Dark mode adds a modern feature your competitors may not have on their websites. It can also benefit people with certain eye conditions. It's a good feature.
                                    </p>
                                    <p>
                                        This fee covers the extra CSS work required to add dark mode styles to your website.
                                    </p>
                        <h2 id="support">
                            Support
                        </h2>
                            <p>
                                Your website needs don't end with design and development. Websites demand continuous maintenance and support, as well as good content. Do you have someone experienced in this line of work?
                            </p>
                            <h3 class="cs-h3" id="domain">
                                <span class="cs-name">{{ services.domain.name }}</span>
                                <span class="cs-price">${{ services.domain.price }} <span class="nm-price-mod">/ year</span></span>
                            </h3>
                                <p>
                                    Do you know what a domain is? What about DNS records?
                                </p>
                                <p>
                                    Your domain is like your website's name. You need to renew it yearly, or it will expire and break your website. The Domain Name System (DNS) connects your website and email to your domain.
                                </p>
                                <p>
                                    We can manage all this for you for a small annual fee.
                                </p>
                            <h3 class="cs-h3" id="hosting">
                                <span class="cs-name">{{ services.hosting.name }}</span>
                                <span class="cs-price">${{ services.hosting.price }} <span class="nm-price-mod">/ month</span></span>
                            </h3>
                                <span class="nm-available">
                                    (Included with {{ services.subWeb.name }})
                                </span>
                                <p>
                                    Do you know what a web host is or how it works?
                                </p>
                                <p>
                                    Don't worry, most non-technical people don't. Hosting is what puts your website on the Internet and makes it available to your customers.
                                </p>
                                <p>
                                    You can choose to host your {{ services.stdWeb.name }} yourself. If you do, you must set up the right tech stack and troubleshoot it if something goes wrong.
                                </p>
                                <p>
                                    Or, we can do it all for you. If a problem comes up, we'll take care of it. You don't need to do a thing.
                                </p>
                            <h3 class="cs-h3" id="unlimited-edits">
                                <span class="cs-name">{{ services.edits.name }}</span>
                                <span class="cs-price">${{ services.edits.price }} <span class="nm-price-mod">/ month</span></span>
                            </h3>
                                <span class="nm-available">
                                    (Included with {{ services.subWeb.name }})
                                </span>
                                <p>
                                    Do you want to make Google happy by keeping your website up-to-date?
                                </p>
                                <p>
                                    Regular updates can improve your ranking in search results. This monthly retainer covers all updates to your existing pages.
                                </p>
                                <p>
                                    We'll take care of everything and won't charge for the time it takes. The retainer covers it all.
                                </p>
                            <h3 class="cs-h3" id="copywriting">
                                <span class="cs-name">{{ services.copywriting.name }}</span>
                                <span class="cs-price">${{ services.copywriting.price }} <span class="nm-price-mod">/ word</span></span>
                            </h3>
                                <p>
                                    Do you know how to write persuasive copy?
                                </p>
                                <p>
                                    A website is only as good as its content. The most stunning website with perfect code won't be effective if the content sucks. Brand storytelling offers a proven framework that engages and persuades.
                                </p>
                                <p>
                                    We'll use this approach to turn boring features and benefits into a compelling story. If you add our <a href="#brand-narrative">{{ services.narrative.name }}</a> service, we'll give you these talking points and tips on how to use them on your own.
                                </p>
                        <h2 id="branding">
                            Branding
                        </h2>
                            <p>
                                You don't need millions to be a brand&mdash;you already are one. But existing doesn't mean it's any good. You need to be consistent and strategic to build your brand and make it good. How effective is your brand today?
                            </p>
                            <h3 class="cs-h3" id="social-banner">
                                <span class="cs-name">{{ services.profileGraphic.name }}</span>
                                <span class="cs-price">${{ services.profileGraphic.price }}</span>
                            </h3>
                                <p>
                                    Do you have Facebook, LinkedIn, or other social media accounts?
                                </p>
                                <p>
                                    Many platforms have space for a banner image on your profile page. Many people put a pretty picture there, but that's a waste of space. Turn it into a digital billboard to drive potential leads into your marketing funnel.
                                </p>
                                <p>
                                    Unique selling proposition + call to action + social proof = a banner image with purpose
                                </p>
                                <p>
                                    We style this winning formula to look like it belongs to your brand. Use it to make your profile part of your customer acquisition strategy.
                                </p>
                            <h3 class="cs-h3" id="social-graphic">
                                <span class="cs-name">{{ services.socialGraphic.name }}</span>
                                <span class="cs-price">${{ services.socialGraphic.price }}</span>
                            </h3>
                                <p>
                                    Do you know how to grab attention on social media?
                                </p>
                                <p>
                                    It varies by platform, but eye-catching visuals are a must for many. A good graphic can stop scrolling and hold attention. People need to recognize you when they see your graphics, and then they need to remember you.
                                </p>
                                <p>
                                    We can take the text and any images you provide and turn them into a branded graphic.
                                </p>
                            <h3 class="cs-h3" id="social-subscription">
                                <span class="cs-name">{{ services.socialSub.name }}</span>
                                <span class="cs-price">${{ services.socialSub.price }} <span class="nm-price-mod">/ month</span></span>
                            </h3>
                                <p>
                                    Do you post often on your socials?
                                </p>
                                <p>
                                    Every content strategy should call for frequent posting on your social media accounts. If you post a lot, you'll need a lot of graphics.
                                </p>
                                <p>
                                    We offer a subscription to get custom graphics at a reduced cost. We'll create a few layouts for you; whenever you request a graphic, you pick which style you want it in. This will keep the quality consistent and reduce our turnaround time.
                                </p>
                                <p>
                                    Your subscription includes the first 5 graphics. After that, they are $15 each, a 57% savings.
                                </p>
                            <h3 class="cs-h3" id="business-cards">
                                <span class="cs-name">{{ services.businessCards.name }}</span>
                                <span class="cs-price">${{ services.businessCards.price }}</span>
                            </h3>
                                <p class="nm-available">
                                    (Design only)
                                </p>
                                <p>
                                    Do you have a physical reminder of business?
                                </p>
                                <p>
                                    Business cards remind people you exist. Sometimes, they may be a lead's first contact with your brand, so you must make a strong impression.
                                </p>
                                <p>
                                    We can make your business cards look like your website and socials.
                                </p>
                            <h3 class="cs-h3" id="letterhead-envelopes">
                                <span class="cs-name">{{ services.letterhead.name }}</span>
                                <span class="cs-price">${{ services.letterhead.price }}</span>
                            </h3>
                                <p class="nm-available">
                                    (Design only)
                                </p>
                                <p>
                                    Do you send things by mail? Do you need to print official-looking documents?
                                </p>
                                <p>
                                    A stationery set will add professionalism to your written communications. Customers must recognize your brand at every interaction. Whether digital, in-person, or checking their mail, a consistent look will convey professionalism.
                                </p>
                                <p>
                                    We can create letterhead and envelope designs that compliment your online presence.
                                </p>
                            <h3 class="cs-h3" id="other-design">
                                <span class="cs-name">{{ services.otherGraphic.name }}</span>
                                <span class="cs-price">{{ services.otherGraphic.price }}</span>
                            </h3>
                                <p>
                                    Do you have other graphic design needs?
                                </p>
                                <p>
                                    We're a web design agency first; graphic design is not our primary focus. If you need something else designed, ask. We'll provide a quote if we can do it well.
                                </p>
                            <h3 class="cs-h3" id="style-guide">
                                <span class="cs-name">{{ services.styleGuide.name }}</span>
                                <span class="cs-price">${{ services.styleGuide.price }}</span>
                            </h3>
                                <p>
                                    Do you know the rules for using your logo, fonts, and colors? Do you have rules for their consistent application?
                                </p>
                                <p>
                                    Style guides are a guardrail. They keep you consistent. They make design workflows more efficient and streamline decision-making. They teach newcomers how to create content for your brand. You can't overvalue a style guide.
                                </p>
                                <p>
                                    If you don't have a style guide, we can fix that. Our style guide will include pages on:
                                </p>
                                <ul>
                                    <li>Company mission, vision, and values</li>
                                    <li>Brand narrative (if applicable)</li>
                                    <li>Tone and voice</li>
                                    <li>Typography</li>
                                    <li>Logo usage</li>
                                    <li>Color palette</li>
                                    <li>Imagery</li>
                                    <li>Website</li>
                                    <li>Templates (if applicable)</li>
                                </ul>
                            <h3 class="cs-h3" id="brand-narrative">
                                <span class="cs-name">{{ services.narrative.name }}</span>
                                <span class="cs-price">${{ services.narrative.price }}</span>
                            </h3>
                                <p>
                                    Does your current brand tell a story? Does it engage people and inspire them to take action?
                                </p>
                                <p>
                                    Stories sell, and emotions drive decisions, not reason. We use facts to justify our choices after we've already made them. A brand narrative lets you capitalize on this human nature with your messaging.
                                </p>
                                <p>
                                    Tell this story everywhere. Any time your business comes up in conversation, pull from your brand narrative.
                                </p>
                                <p>
                                    We apply this strategy to our <a href="#copywriting">copywriting</a>; we'll give you the talking points to use.
                                </p>
                            <h3 class="cs-h3" id="consulting">
                                <span class="cs-name">{{ services.consulting.name }}</span>
                                <span class="cs-price">${{ services.consulting.price }} <span class="nm-price-mod">/ hour</span></span>
                            </h3>
                                <p>
                                    Do you feel stuck? Are you unsure where to start or what to do next?
                                </p>
                                <p>
                                    We're available for consultations if you want more help with your brand or web strategy. Unfortunately, we can't do everything and must make tough choices about what to offer and cut. We love sharing our knowledge on these topics. If we can help you DIY a few things, let's schedule a call and figure out what you need to do!
                                </p>
                        <h2>
                            Intrigued? Let's chat
                        </h2>
                            <p>
                                Do you have questions? Are you wondering how to start? Let's schedule a free discovery call to discuss your needs and goals.
                            </p>
                            <a href="/contact/" class="cs-button-solid">Book a call</a>
                </div>
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="../../assets/images/prices.webp">
                        <img decoding="async" src="../../assets/images/prices.webp" alt="A cat wearing a crown sits next to a goblet of milk." width="542" height="520" aria-hidden="true">
                    </picture>
                </div>
            </div>
        </section>
    {% include 'components/cta.html' %}
{% endblock %}