---
title: 'Prices'
description: 'Tired of hidden costs? Check out our pricing tables and services. We create websites, branding, and copywriting for small businesses.'
preloadImg: '/assets/textures/blue-banner-m.webp'
permalink: 'prices/'
eleventyNavigation:
    key: Prices
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
        <link rel="stylesheet" href="/assets/css/content-pages.css" media="print" onload="this.media='all'; this.onload=null;" />
        <link rel="stylesheet" href="/assets/css/tables.css" media="print" onload="this.media='all'; this.onload=null;" />
        <noscript>
            <link rel="stylesheet" href="/assets/css/content-pages.css" />
            <link rel="stylesheet" href="/assets/css/tables.css" />
        </noscript>
        <style>
            .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

                &:before {
                    /* background color overlay */
                    content: "";
                    position: absolute;
                    display: block;
                    height: 100%;
                    width: 100%;
                    background: -moz-linear-gradient(
                        left,
                        rgba(18, 38, 51, 0.94) 0%,
                        rgba(18, 38, 51, 0) 100%
                    ); /* FF3.6-15 */
                    background: -webkit-linear-gradient(
                        left,
                        rgba(18, 38, 51, 0.94) 0%,
                        rgba(18, 38, 51, 0) 100%
                    ); /* Chrome10-25,Safari5.1-6 */
                    opacity: 1;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    /* Makes img tag act as a background image */
                    object-fit: cover;
                }
            }
        </style>
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->

        <!-- ============================================ -->
        <!--                   Banner                     -->
        <!-- ============================================ -->

        <div id="banner-1106">
            <div class="cs-container">
                <span class="cs-int-title">{{ eleventyNavigation.key }}</span>
                <div class="cs-breadcrumbs">
                    <a href="/" class="cs-link">Home</a>
                    <a href="#" class="cs-link cs-active">{{ eleventyNavigation.key }}</a>
                </div>
            </div>
            <!--Background Image-->
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/textures/blue-banner-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/textures/blue-banner.webp">
                <img decoding="async" src="../../assets/textures/blue-banner.webp" alt="" width="1280" height="568" aria-hidden="true">
            </picture>
        </div>

        <!-- ============================================ -->
        <!--                 Content Page                 -->
        <!-- ============================================ -->

        <!-- ============================================ 
            This Stitch is used for content heavy interior pages
            that have no design or layout.  Often times these are 
            content silos where you talk extensively about a topic
            to educate your visitors and rank on Google for the 
            content.  These are great for pages that have a TON
            of content.  Design isn't important here, it's all 
            about making the content accessible and easy to read.
        ================================================= -->

        <section id="content-page-851">
            <div class="cs-container">
                <div class="cs-content">
                    <h1 class="cs-title">Upfront prices for small business design services</h1>
                        <p>
                            Are you <strong>frustrated</strong> by hidden prices? It's <strong>impossible to budget</strong> if you don't know how much something should cost. <strong>Transparent pricing</strong> is better for everyone, so we're upfront about how much you'll pay to work with us.     
                        </p>
                        <p>
                            Each service in our price tables links to a <strong>description</strong> explaining <strong>what it is</strong> and <strong>why you should buy it</strong>.
                        </p>
                        <!--Web design-->
                        <table>
                            <caption>Web design</caption>
                            <thead>
                                <tr>
                                    <th scope="col" class="nm-services">Service</th>
                                    <th scope="col" class="nm-prices">Price</th>
                                    <th scope="col" class="nm-description">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#standard-website">Standard website</a></td>
                                    <td>$3,000</td>
                                    <td>5-page website, paid for upfront</td>
                                </tr>
                                <tr>
                                    <td><a href="#subscription-website">Subscription website</a></td>
                                    <td>$175/month</td>
                                    <td>5-page website, $0 down with monthly payments</td>
                                </tr>
                                <tr>
                                    <td><a href="#figma">Figma design</a></td>
                                    <td>$500 (starts at)</td>
                                    <td>Design files for a developer</td>
                                </tr>
                                <tr>
                                    <td><a href="#extra-pages">Extra pages</a></td>
                                    <td>$100</td>
                                    <td>Add more pages to your website</td>
                                </tr>
                                <tr>
                                    <td><a href="#blog">Blog</a></td>
                                    <td>$250</td>
                                    <td>Add a blog to your website</td>
                                </tr>
                                <tr>
                                    <td><a href="#dark-mode">Dark mode</a></td>
                                    <td>$150</td>
                                    <td>Add dark mode to your website</td>
                                </tr>
                            </tbody>
                        </table>
                        <!--Support-->
                        <table>
                            <caption>Support</caption>
                            <thead>
                                <tr>
                                    <th scope="col" class="nm-services">Service</th>
                                    <th scope="col" class="nm-prices">Price</th>
                                    <th scope="col" class="nm-description">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#domain">Domain management</a></td>
                                    <td>$20/year</td>
                                    <td>We'll manage your domain and DNS records</td>
                                </tr>
                                <tr>
                                    <td><a href="#hosting">Hosting</a></td>
                                    <td>$25/month</td>
                                    <td>We'll manage your web hosting</td>
                                </tr>
                                <tr>
                                    <td><a href="#unlimited-edits">Unlimited content edits</a></td>
                                    <td>$50/month</td>
                                    <td>We'll update your site as often as needed</td>
                                </tr>
                                <tr>
                                    <td><a href="#copywriting">Copywriting</a></td>
                                    <td>$0.50/word</td>
                                    <td>We'll write the copy for your website</td>
                                </tr>
                            </tbody>
                        </table>
                        <!--Branding table-->
                        <table>
                            <caption>Branding</caption>
                            <thead>
                                <tr>
                                    <th scope="col" class="nm-services">Service</th>
                                    <th scope="col" class="nm-prices">Price</th>
                                    <th scope="col" class="nm-description">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#social-banner">Social media profile banner</a></td>
                                    <td>$100</td>
                                    <td>Add a custom banner image to your profile</td>
                                </tr>
                                <tr>
                                    <td><a href="#social-graphic">Social media graphic</a></td>
                                    <td>$35</td>
                                    <td>Get a branded graphic for your post</td>
                                </tr>
                                <tr>
                                    <td><a href="#social-subscription">Social media subscription</a></td>
                                    <td>$75/month</td>
                                    <td>Get branded graphics for less</td>
                                </tr>
                                <tr>
                                    <td><a href="#business-cards">Business Cards</a></td>
                                    <td>$250</td>
                                    <td>Custom designed business cards</td>
                                </tr>
                                <tr>
                                    <td><a href="#letterhead-envelopes">Letterhead and envelopes</a></td>
                                    <td>$500</td>
                                    <td>Custom designed stationery</td>
                                </tr>
                                <tr>
                                    <td><a href="#other-design">Other graphic design services</a></td>
                                    <td>Varies</td>
                                    <td>Have a need? Ask us about it</td>
                                </tr>
                                <tr>
                                    <td><a href="#brand-narrative">Brand narrative</a></td>
                                    <td>$500</td>
                                    <td>Engage customers with a brand story</td>
                                </tr>
                                <tr>
                                    <td><a href="#style-guide">Brand style guide</a></td>
                                    <td>$1,000</td>
                                    <td>Establish styles and rules for your brand</td>
                                </tr>
                                <tr>
                                    <td><a href="#consulting">Consulting</a></td>
                                    <td>$85/hour</td>
                                    <td>Get advice for DIY brand and web strategy</td>
                                </tr>
                            </tbody>
                        </table>
                        <h2 id="web-design">
                            Web design
                        </h2>
                            <p>
                                <strong>Small businesses don't need complicated websites</strong> or a content management system. <strong>WordPress</strong> is <strong>high-maintenance</strong> and <strong>overkill</strong> for our clients' needs. Do you enjoy spending more time and money on your website than you need to? 
                            </p>
                            <h3 class="cs-h3" id="standard-website">
                                <span class="cs-name">Standard website</span>
                                <span class="cs-price"><span class="nm-price-mod">Starts at</span> $3,000</span>
                            </h3>
                                <p>
                                    <strong>Do you have</strong> a good amount of <strong>cash</strong> in your budget and <strong>want to own</strong> your website? If so, the <strong>standard website</strong> is right for you.
                                </p>
                                <p>
                                    <strong>You pay</strong> for the standard website <strong>upfront</strong> and <strong>own everything</strong>.
                                </p>
                                <p>
                                    You can host and maintain it yourself, but we don't recommend that. It's best to add <a href="#hosting">hosting</a> and <a href="#unlimited-edits">unlimited content edits</a>.
                                </p>
                                <div class="nm-columns">
                                    <div class="nm-column">
                                        <p class="nm-include">
                                            Includes:
                                        </p>
                                        <ul>
                                            <li>
                                                <strong>Homepage</strong> and <strong>4</strong> content pages (e.g., About, Services, Contact, etc.)
                                            </li>
                                            <li>
                                                <strong>Personalized</strong> design
                                            </li>
                                            <li>
                                                <strong>Hand-coded</strong> website developed in HTML, CSS, and JavaScript
                                                <ul>
                                                    <li>Responsive, mobile-first design (<strong>looks great</strong> on phones)</li>
                                                    <li>PageSpeed Insights scores of 90+ (<strong>loads fast</strong> and performs well)</li>
                                                    <li>Meets WCAG 2.2 AA standards (<strong>accessible</strong> to people with disabilities)</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <strong>Ownership</strong> of the design and codebase
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="nm-column">
                                        <p class="nm-include">
                                            Does not include:
                                        </p>
                                        <ul>
                                            <li>
                                                <a href="#hosting">Hosting</a> (add $25/month)</li>
                                                <li>
                                                <a href="#unlimited-edits">Unlimited content edits</a> (add $50/month)</li>
                                                <li>
                                                <a href="#extra-pages">Extra pages</a> (add $100 fee for each page)</li>
                                                <li>
                                                <a href="#blog">Blog</a> and training session (add $250 fee)</li>
                                                <li>
                                                <a href="#dark-mode">Dark mode</a> (add $150 fee)</li>
                                                <li>Design refreshes</li>
                                        </ul>
                                    </div>
                                </div>
                            <h3 class="cs-h3" id="subscription-website">
                                <span class="cs-name">Subscription website</span>
                                <span class="cs-price">$175 <span class="nm-price-mod">/ month</span></span>
                            </h3>
                                <p>
                                    Do you have a <strong>limited budget</strong> and <strong>no upfront capital</strong>? Do you want to <strong>refresh</strong> your website's style <strong>every few years</strong> without paying extra? If you answer yes, the <strong>subscription website</strong> fits your needs.
                                </p>
                                <p>
                                    You'll <strong>pay</strong> for your website <strong>monthly</strong>, and over time, you'll pay for it in full. To give you continued value, we'll let you <strong>redesign your website</strong> every few years at <strong>no extra charge</strong>. This frugal option will keep your website <strong>fresh</strong> and <strong>modern</strong>.
                                </p>
                                <p>
                                    The subscription also includes <a href="#hosting">hosting</a> and <a href="#unlimited-edits">unlimited content edits</a>. This adds even more value to your monthly payment.
                                </p>
                                <p>
                                    To make this model work, <strong>we own the website</strong>. Your <strong>domain</strong> and the <strong>content</strong> you provide are always <strong>yours</strong>, but the <strong>design</strong> and <strong>code</strong> are <strong>ours</strong>. We do this to protect our investment in you. Building a website without upfront payment is a gamble. If you cancel after the first year, we won't receive payment for all our time and labor.
                                </p>
                                <div class="nm-columns">
                                    <div class="nm-column">
                                        <p class="nm-include">
                                            Includes:
                                        </p>
                                        <ul>
                                            <li><strong>Homepage</strong> and <strong>4</strong> content pages (About, Services, Contact, etc.)</li>
                                            <li><strong>Personalized</strong> design</li>
                                            <li><strong>Hand-coded</strong> website developed in HTML, CSS, and JavaScript
                                                <ul>
                                                    <li>Responsive, mobile-first design (<strong>looks great</strong> on phones)</li>
                                                    <li>PageSpeed Insights scores of 90+ (<strong>loads fast</strong> and performs well)</li>
                                                    <li>Meets WCAG 2.2 AA standards (<strong>accessible</strong> to people with disabilities)</li>
                                                </ul>
                                            </li>
                                            <li><a href="#hosting">Hosting</a> ($25 value)</li>
                                            <li><a href="#unlimited-edits">Unlimited content edits</a> ($50 value)</li>
                                            <li>Design refreshes every ~3 years ($3,000 value)</li>
                                        </ul>
                                    </div>
                                    <div class="nm-column">
                                        <p class="nm-include">
                                            Does not include:
                                        </p>
                                        <ul>
                                            <li>Ownership of the design and codebase</li>
                                            <li><a href="#extra-pages">Extra pages</a> (add $100 fee for each page)</li>
                                            <li><a href="#blog">Blog</a> and training session (add $250 fee)</li>
                                            <li><a href="#dark-mode">Dark mode</a> (add $150 fee)</li>
                                        </ul>
                                    </div>
                                </div>
                            <h3 class="cs-h3" id="figma">
                                <span class="cs-name">Figma design</span>
                                <span class="cs-price"><span class="nm-price-mod">Starts at</span> $500</span>
                            </h3>
                                <p>
                                    Do you <strong>have a developer</strong> and <strong>need a web designer</strong>? If so, a <strong>Figma design</strong> is the solution you need.
                                </p>
                                <p>
                                    Figma is the industry standard platform for web designs and prototypes. We'll create an <strong>annotated design</strong> in Figma for your developer to use. Our design will include <strong>4 breakpoints</strong> to ensure it looks good on different devices. The total price will depend on:
                                </p>
                                <ul>
                                    <li>the <strong>number</strong> of page <strong>designs</strong> you need,</li>
                                    <li>the <strong>complexity</strong> of the <strong>content</strong> and <strong>sections</strong> and</li>
                                    <li>if you need <strong>more than 2</strong> rounds of <strong>revisions</strong>.</li>
                                </ul>
                            <h3 class="nm-h3">
                                Add-ons
                            </h3>
                                <p>
                                    Both website packages include 5 custom-designed and custom-coded pages. You can <strong>add more features</strong> and <strong>services</strong> to either package. All are <strong>one-time charges</strong>.
                                </p>
                                <h4 class="nm-h4" id="extra-pages">
                                    <span class="cs-name">Extra pages</span>
                                    <span class="cs-price">$100 <span class="nm-price-mod">/ each</span></span>
                                </h4>
                                    <p>
                                        Do you need <strong>more</strong> than 5 <strong>pages</strong>?
                                    </p>
                                    <p>
                                        We can create <strong>as many as you need</strong>. After we've built the page, <strong>we'll never charge you</strong> for working on it <strong>again</strong>.
                                    </p>
                                    <p>
                                        This fee covers the time and effort required to create each extra page.
                                    </p>
                                <h4 class="nm-h4" id="blog">
                                    <span class="cs-name">Blog</span>
                                    <span class="cs-price">$250</span>
                                </h4>
                                    <p>
                                        Do you want to <strong>blog</strong> to improve your website's <strong>search engine optimization (SEO)</strong>?
                                    </p>
                                    <p>
                                        We can add a blog for you to manage yourself. To do this, we use <strong>Decap CMS</strong>. It works with static websites (like what we build). Unlike WordPress, it doesn't have a database, so it has <strong>lower maintenance</strong> and is <strong>more secure</strong>. It's also super easy to use.
                                    </p>
                                    <p>
                                        This fee covers <strong>configuring</strong> Decap CMS, <strong>styling</strong> the blog, and a <strong>training session</strong> on how to use it.
                                    </p>
                                <h4 class="nm-h4" id="dark-mode">
                                    <span class="cs-name">Dark mode</span>
                                    <span class="cs-price">$150</span>
                                </h4>
                                    <p>
                                        Are you a fan of <strong>dark mode</strong>? Do you want to wow people?
                                    </p>
                                    <p>
                                        Dark mode adds a <strong>modern feature</strong> your competitors may not have on their websites. It can also <strong>benefit people</strong> with certain <strong>eye conditions</strong>. It's a good feature.
                                    </p>
                                    <p>
                                        This fee covers the <strong>extra CSS work</strong> required to add dark mode styles to your <strong>website</strong>.
                                    </p>
                        <h2 id="support">
                            Support
                        </h2>
                            <p>
                                Your <strong>website needs don't end</strong> with design and development. Websites demand <strong>continuous maintenance</strong> and <strong>support</strong>, as well as <strong>good content</strong>. Do you have someone experienced in this line of work?
                            </p>
                            <h3 class="cs-h3" id="domain">
                                <span class="cs-name">Domain management</span>
                                <span class="cs-price">$20 <span class="nm-price-mod">/ year</span></span>
                            </h3>
                                <p>
                                    Do you know what a <strong>domain</strong> is? What about <strong>DNS records</strong>?
                                </p>
                                <p>
                                    Your domain is like your website's name. <strong>You need to renew it yearly</strong>, or it will expire and break your website. The Domain Name System (DNS) connects your website and email to your domain.
                                </p>
                                <p>
                                    We can manage all this for you for a <strong>small annual fee</strong>.
                                </p>
                            <h3 class="cs-h3" id="hosting">
                                <span class="cs-name">Hosting</span>
                                <span class="cs-price">$25 <span class="nm-price-mod">/ month</span></span>
                            </h3>
                                <span class="nm-available">
                                    (Included with subscription website)
                                </span>
                                <p>
                                    Do you know what a <strong>web host</strong> is or how it works?
                                </p>
                                <p>
                                    Don't worry, most non-technical people don't. Hosting is what <strong>puts your website on the Internet</strong> and makes it available to your customers.
                                </p>
                                <p>
                                    You can choose to host your Standard Website yourself. If you do, you must set up the right <strong>tech stack</strong> and <strong>troubleshoot</strong> it if something goes wrong.
                                </p>
                                <p>
                                    Or, we can do it all for you. If a problem comes up, we'll take care of it. You don't need to do a thing.
                                </p>
                            <h3 class="cs-h3" id="unlimited-edits">
                                <span class="cs-name">Unlimited content edits</span>
                                <span class="cs-price">$50 <span class="nm-price-mod">/ month</span></span>
                            </h3>
                                <span class="nm-available">
                                    (Included with subscription website)
                                </span>
                                <p>
                                    Do you want to make Google happy by keeping your website up-to-date?
                                </p>
                                <p>
                                    <strong>Regular updates</strong> can <strong>improve</strong> your <strong>ranking</strong> in search results. This monthly retainer covers <strong>all updates</strong> to your existing pages.
                                </p>
                                <p>
                                    We'll take care of everything and <strong>won't charge</strong> for the <strong>time</strong> it takes. The retainer covers it all.
                                </p>
                            <h3 class="cs-h3" id="copywriting">
                                <span class="cs-name">Copywriting</span>
                                <span class="cs-price">$0.50 <span class="nm-price-mod">/ word</span></span>
                            </h3>
                                <p>
                                    Do you know how to write persuasive copy?
                                </p>
                                <p>
                                    A website is only as good as its content. The most stunning website with perfect code won't be effective if the content sucks. <strong>Brand storytelling</strong> offers a <strong>proven framework</strong> that engages and persuades.
                                </p>
                                <p>
                                    We'll use this approach to <strong>turn boring features</strong> and <strong>benefits</strong> into a <strong>compelling story</strong>. If you add our <a href="#brand-narrative">brand narrative</a> service, we'll give you these talking points and tips on how to use them on your own.
                                </p>
                        <h2 id="branding">
                            Branding
                        </h2>
                            <p>
                                You don't need millions to be a brand&mdash;you already are one. But existing doesn't mean it's any good. You need to be <strong>consistent</strong> and <strong>strategic</strong> to build your brand and make it good. How effective is your brand today?
                            </p>
                            <h3 class="cs-h3" id="social-banner">
                                <span class="cs-name">Social media profile banner</span>
                                <span class="cs-price">$100</span>
                            </h3>
                                <p>
                                    Do you have Facebook, LinkedIn, or other social media accounts?
                                </p>
                                <p>
                                    Many platforms have space for a <strong>banner image</strong> on your <strong>profile page</strong>. Many people put a pretty picture there, but that's a waste of space. Turn it into a digital billboard to <strong>drive</strong> potential <strong>leads</strong> into your <strong>marketing funnel</strong>.
                                </p>
                                <p>
                                    <strong>Unique selling proposition</strong> + <strong>call to action</strong> + <strong>social proof</strong> = a banner image with purpose
                                </p>
                                <p>
                                    We style this <strong>winning formula</strong> to look like it belongs to your brand. Use it to make your profile part of your <strong>customer acquisition strategy</strong>.
                                </p>
                            <h3 class="cs-h3" id="social-graphic">
                                <span class="cs-name">Social media graphic</span>
                                <span class="cs-price">$35</span>
                            </h3>
                                <p>
                                    Do you know how to grab attention on social media?
                                </p>
                                <p>
                                    It varies by platform, but <strong>eye-catching visuals</strong> are a must for many. A good graphic can <strong>stop scrolling</strong> and <strong>hold attention</strong>. People need to <strong>recognize</strong> you when they see your graphics, and then they need to <strong>remember</strong> you.
                                </p>
                                <p>
                                    We can take the text and any images you provide and turn them into a <strong>branded graphic</strong>.
                                </p>
                            <h3 class="cs-h3" id="social-subscription">
                                <span class="cs-name">Social media subscription</span>
                                <span class="cs-price">$75 <span class="nm-price-mod">/ month</span></span>
                            </h3>
                                <p>
                                    Do you post often on your socials?
                                </p>
                                <p>
                                    Every <strong>content strategy</strong> should call for <strong>frequent posting</strong> on your social media accounts. If you post a lot, you'll need a lot of graphics.
                                </p>
                                <p>
                                    We offer a subscription to get <strong>custom graphics</strong> at a <strong>reduced cost</strong>. We'll create a few <strong>layouts</strong> for you; whenever you request a graphic, you <strong>pick</strong> which <strong>style</strong> you want it in. This will keep the <strong>quality consistent</strong> and <strong>reduce</strong> our <strong>turnaround time</strong>.
                                </p>
                                <p>
                                    Your subscription includes the first <strong>5 graphics</strong>. After that, they are <strong>$15 each</strong>, a <strong>57% savings</strong>.
                                </p>
                            <h3 class="cs-h3" id="business-cards">
                                <span class="cs-name">Business cards</span>
                                <span class="cs-price">$250</span>
                            </h3>
                                <p class="nm-available">
                                    (Design only)
                                </p>
                                <p>
                                    Do you have a physical reminder of business?
                                </p>
                                <p>
                                    Business cards remind people you exist. Sometimes, they may be a lead's <strong>first contact</strong> with your brand, so you must make a <strong>strong impression</strong>.
                                </p>
                                <p>
                                    We can make your business cards look like your website and socials.
                                </p>
                            <h3 class="cs-h3" id="letterhead-envelopes">
                                <span class="cs-name">Letterhead &amp; envelopes</span>
                                <span class="cs-price">$500</span>
                            </h3>
                                <p class="nm-available">
                                    (Design only)
                                </p>
                                <p>
                                    Do you send things by mail? Do you need to print official-looking documents?
                                </p>
                                <p>
                                    A <strong>stationery set</strong> will add <strong>professionalism</strong> to your written communications. Customers must recognize your brand at every interaction. Whether digital, in-person, or checking their mail, a consistent look will convey professionalism.
                                </p>
                                <p>
                                    We can create letterhead and envelope designs that compliment your online presence.
                                </p>
                            <h3 class="cs-h3" id="other-design">
                                <span class="cs-name">Other graphic design services</span>
                                <span class="cs-price">Varies</span>
                            </h3>
                                <p>
                                    Do you have other graphic design needs?
                                </p>
                                <p>
                                    We're a web design agency first; graphic design is not our primary focus. If you need something else designed, ask. We'll provide a quote if we can do it well.
                                </p>
                            <h3 class="cs-h3" id="style-guide">
                                <span class="cs-name">Brand style guide</span>
                                <span class="cs-price">$1,000</span>
                            </h3>
                                <p>
                                    Do you know the rules for using your logo, fonts, and colors? Do you have rules for their consistent application?
                                </p>
                                <p>
                                    <strong>Style guides</strong> are a guardrail. They keep you <strong>consistent</strong>. They make design workflows more <strong>efficient</strong> and <strong>streamline</strong> decision-making. They <strong>teach</strong> newcomers how to create content for your brand. You <strong>can't overvalue</strong> a style guide.
                                </p>
                                <p>
                                    If you don't have a style guide, we can fix that. Our style guide will include pages on:
                                </p>
                                <ul>
                                    <li>Company mission, vision, and values</li>
                                    <li>Brand narrative (if applicable)</li>
                                    <li>Tone and voice</li>
                                    <li>Typography</li>
                                    <li>Logo usage</li>
                                    <li>Color palette</li>
                                    <li>Imagery</li>
                                    <li>Website</li>
                                    <li>Templates (if applicable)</li>
                                </ul>
                            <h3 class="cs-h3" id="brand-narrative">
                                <span class="cs-name">Brand narrative</span>
                                <span class="cs-price">$500</span>
                            </h3>
                                <p>
                                    Does your current brand tell a story? Does it engage people and inspire them to take action?
                                </p>
                                <p>
                                    <strong>Stories sell</strong>, and <strong>emotions drive decisions</strong>, not reason. We use <strong>facts</strong> to <strong>justify</strong> our <strong>choices</strong> after we've already made them. A <strong>brand narrative</strong> lets you capitalize on this human nature with your <strong>messaging</strong>.
                                </p>
                                <p>
                                    Tell this story everywhere. Any time your business comes up in conversation, pull from your brand narrative.
                                </p>
                                <p>
                                    We apply this strategy to our <a href="#copywriting">copywriting</a>; we'll give you the talking points to use.
                                </p>
                            <h3 class="cs-h3" id="consulting">
                                <span class="cs-name">Consulting</span>
                                <span class="cs-price">$85 <span class="nm-price-mod">/ hour</span></span>
                            </h3>
                                <p>
                                    Do you feel stuck? Are you unsure where to start or what to do next?
                                </p>
                                <p>
                                    We're available for <strong>consultations</strong> if you want more help with your <strong>brand</strong> or <strong>web strategy</strong>. Unfortunately, we can't do everything and must make tough choices about what to offer and cut. We love sharing our knowledge on these topics. If we can help you <strong>DIY</strong> a few things, let's <strong>schedule a call</strong> and figure out what you need to do!
                                </p>
                </div>
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="../../assets/images/prices.webp">
                        <img decoding="async" src="../../assets/images/prices.webp" alt="A cat wearing a crown sits next to a goblet of milk." width="542" height="520" aria-hidden="true">
                    </picture>
                </div>
            </div>
        </section>
    {% include 'components/cta.html' %}
{% endblock %}