---
title: "Project One | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "project-one/"
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Project One Gallery</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/cabinets2-m.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/cabinets2.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/cabinets2.jpg"
                alt="kitchen cabinets"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <picture class="cs-picture cs-picture1">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port1-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port1.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port1.jpg"
                            alt="new hallway"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port4-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port4.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port4.jpg"
                            alt="new home construction"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port7-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port7.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port7.jpg"
                            alt="building a new wall"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <picture class="cs-picture cs-picture1">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port2-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port2.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port2.jpg"
                            alt="new kitchen"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port5-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port5.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port5.jpg"
                            alt="apartment addition"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port8-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port8.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port8.jpg"
                            alt="kew kitchen cabinets"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <picture class="cs-picture cs-picture1">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port3-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port3.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port3.jpg"
                            alt="new kitchen"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port6-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port6.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port6.jpg"
                            alt="apartment addition"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port9-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port9.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port9.jpg"
                            alt="kew kitchen cabinets"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>

                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
            </div>
            <a href="/contact" class="cs-button-solid">Get Free Quote</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
