---
title: 'Portfolio'
description: 'Portfolio page to show previous projects'
preloadImg: '/assets/images/comp.jpg'
permalink: 'portfolio/'
eleventyNavigation:
    key: Portfolio
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

 


    <section id="int-hero">
        <h1 id="home-h">Our Projects</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/comp.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/comp.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/comp.jpg" alt="office background" loading="eager" width="2500" height="1667">
        </picture>
    </section>




<section id="services-1663">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/responsive.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/responsive.png">
            <img loading="lazy" decoding="async" src="/assets/images/responsive.png" alt="computer screen" width="605" height="690">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Real Estate</span>
            <h2 class="cs-title">A Personal Real Estate Site</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae pariatur ex iure quaerat unde sequi numquam maiores accusantium aspernatur autem, illum itaque similique nam nobis delectus nihil placeat deserunt error deleniti eos! Quas est iure recusandae assumenda perspiciatis, iusto tempora maxime esse natus ipsa. Laboriosam placeat voluptate eveniet inventore aut.
            </p>
            <a href="" class="cs-button-solid">Visit Site</a>
        </div>
    </div>
</section>




<section id="services-1664">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/responsive.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/responsive.png">
            <img loading="lazy" decoding="async" src="/assets/images/responsive.png" alt="computer screen" width="605" height="690">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Immigration</span>
            <h2 class="cs-title">A Professional Immigration Consultancy</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae pariatur ex iure quaerat unde sequi numquam maiores accusantium aspernatur autem, illum itaque similique nam nobis delectus nihil placeat deserunt error deleniti eos! Quas est iure recusandae assumenda perspiciatis, iusto tempora maxime esse natus ipsa. Laboriosam placeat voluptate eveniet inventore aut.
            </p>
    
            <a href="" class="cs-button-solid">Visit Site</a>
        </div>
    </div>
</section>




<section id="services-1663">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/responsive.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/responsive.png">
            <img loading="lazy" decoding="async" src="/assets/images/responsive.png" alt="computer screen" width="605" height="690">
        </picture>
        <div class="cs-content">
            <span class="cs-topper"> Construction</span>
            <h2 class="cs-title">A Professional Home Renovations Company</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae pariatur ex iure quaerat unde sequi numquam maiores accusantium aspernatur autem, illum itaque similique nam nobis delectus nihil placeat deserunt error deleniti eos! Quas est iure recusandae assumenda perspiciatis, iusto tempora maxime esse natus ipsa. Laboriosam placeat voluptate eveniet inventore aut.
            </p>
            <a href="" class="cs-button-solid">Visit Site</a>
        </div>
    </div>
</section>   


{% include 'components/cta.html' %}

{% endblock %}