---
title: 'Services | Neva Masquerade'
description: 'Description for <meta> description and OG tags'
preloadImg: '/assets/images/dark-mode-banner.svg'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->

        <!-- ============================================ -->
        <!--                   Banner                     -->
        <!-- ============================================ -->

        <div id="banner-1106">
            <div class="cs-container">
                <span class="cs-int-title">Services</span>
                <div class="cs-breadcrumbs">
                    <a href="/" class="cs-link">Home</a>
                    <a href="" class="cs-link cs-active">Services</a>
                </div>
            </div>
            <!--Background Image-->
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/dark-mode-banner.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/dark-mode-banner.svg">
                <img decoding="async" src="../../assets/images/dark-mode-banner.svg" alt="" width="1280" height="568" aria-hidden="true">
            </picture>
        </div>

        <!-- ============================================ -->
        <!--                 Content Page                 -->
        <!-- ============================================ -->

        <!-- ============================================ 
            This Stitch is used for content heavy interior pages
            that have no design or layout.  Often times these are 
            content silos where you talk extensively about a topic
            to educate your visitors and rank on Google for the 
            content.  These are great for pages that have a TON
            of content.  Design isn't important here, it's all 
            about making the content accessible and easy to read.
        ================================================= -->

        <section id="content-page-851">
            <div class="cs-container">
                <div class="cs-content">
                    <h1 class="cs-title">Web design services for your small business</h1>
                        <p>Pre-designed templates and page builders like Wix, Squarespace, or WordPress make it easy for anyone to build a website, but that doesn't guarantee it'll be a <em>good</em> website. Page builders frequently suffer from slow load times and bloated code. Templates lack originality and may result in multiple near-identical websites as the theme is overused.</p>
                        <p>At Neva Masquerade, we believe that everyone should have a fast-loading, quality, and unique website. That's why we never use pre-designed templates or page builders. When you work with us, you'll get a website that is:</p>
                        <ul>
                            <li>designed for you;</li>
                            <li>fast, responsive, and mobile-first;</li>
                            <li>secure and safe from hackers;</li>
                            <li>user-friendly and accessible; and</li>
                            <li>optimized for search engines.</li>
                        </ul>
                        <h2>Custom websites designed with you in mind</h2>
                            <p>We start every project by getting to know you so that we can craft a design that perfectly suits your business. We'll follow your existing brand guidelines if you have them, but if you don't that's not a problem, we can pick colors and fonts for you. Additionally, you may also purchase:</p>
                            <ul>
                                <li>social media banners,</li>
                                <li>social media graphics,</li>
                                <li>business cards,</li>
                                <li>stationary,</li>
                                <li>brand style guide,</li>
                                <li>and more.</li>
                            </ul>
                            <p>When building a brand, consistency is key. That's why we'll make sure that everything looks like it belongs together.</p>
                        <h2>Mobile first and lightning fast</h2>
                            <p>Most people will use a phone to visit your website---how it looks and behaves on mobile is critical. To ensure the best mobile experience, we focus our code on styling for mobile first, then we add additional styles for larger screens. We also check our design at various screen sizes and make adjustments until it looks great on every device.</p>
                            <p>We hand-code every website using HTML, CSS, and a little JavaScript. By doing it this way and following best practices, we're able to create streamlined websites that load instantly. You won't need to worry about losing customers because your website took too long to load.</p>
                        <h2>Sleep easy, your site is secure</h2>
                            <p>Content management systems (CMS) make updating pages easy, but they create vulnerabilities that can open your website up to hackers. If you're using a page builder, you must keep your site updated constantly to keep it secure. Miss a key update and you could be at risk.</p>
                            <p>You don't have to worry about that with us. Static websites, like we make, offer better security because they don't rely on databases or server-side rendering, or to put it in other words there's nothing to hack. Also, since static websites don't have a CMS, regular security updates aren't necessary, using HTTPS and SSL certificates is enough for us to ensure your website is secure.</p>
                        <h2>User-friendly and accessible</h2>
                            <p>Don't give people a reason to leave your website. Think about it, how long are you willing to stick around on a website that is confusing and difficult to use? Probably not long. If your customers have too many problems using your website, they're going to leave and go to one of your competitors instead.</p>
                            <p>Our websites follow industry best-practices to give your customers a great user experience. We also follow WCAG 2.0 AA accessibility guidelines to guarantee everyone can use your website, including people with disabilities.</p>
                        <h2>On-page SEO to increase organic traffic</h2>
                            <p>A lot goes into search engine optimization, or SEO for short, both on your website and off of it. We do everything we can to boost your on-page SEO, including:</p>
                            <ul>
                                <li>adding title tags and meta descriptions,</li>
                                <li>following URL best practices,</li>
                                <li>using header tags properly,</li>
                                <li>structuring content appropriately,</li>
                                <li>optimizing images, and</li>
                                <li>ensuring the website is mobile-friendly.</li>
                            </ul>
                            <p>Additionally, if you'd like help with researching keywords and copywriting for your evergreen pages, you can purchase these services as an add-on.</p>
                </div>
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="../../assets/images/services.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="../../assets/images/services.jpg">
                        <img decoding="async" src="../../assets/images/services.jpg" alt="A cat sleeping on an open laptop." width="542" height="520" aria-hidden="true">
                    </picture>
                </div>
            </div>
        </section>
    {% include 'components/cta.html' %}
{% endblock %}