---
title: 'Services | Neva Masquerade'
description: 'Description for <meta> description and OG tags'
preloadImg: '/assets/images/dark-mode-banner.svg'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
    <link rel="stylesheet" href="/assets/css/services.css" />
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->

        <!-- ============================================ -->
        <!--                   Banner                     -->
        <!-- ============================================ -->

        <div id="banner-1106">
            <div class="cs-container">
                <span class="cs-int-title">Services</span>
                <div class="cs-breadcrumbs">
                    <a href="/" class="cs-link">Home</a>
                    <a href="" class="cs-link cs-active">Services</a>
                </div>
            </div>
            <!--Background Image-->
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/dark-mode-banner.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/dark-mode-banner.svg">
                <img decoding="async" src="../../assets/images/dark-mode-banner.svg" alt="" width="1280" height="568" aria-hidden="true">
            </picture>
        </div>

        <!-- ============================================ -->
        <!--                  Services                    -->
        <!-- ============================================ -->

        <section id="services-690">
            <div class="cs-container">
                <div class="cs-content">
                    <div class="cs-flex-group">
                        <span class="cs-topper">Goodbye frustrations. Hello customers.</span>
                        <h2 class="cs-title"><span class="cs-color">Web design</span> and <span class="cs-color">branding</span> for your small business</h2>
                    </div>
                    <p class="cs-text">
                        Get a fast, unique website that can't help but draw-in customers. We'll guide you to a stunning online presence that reflects your brand. Your competition will never overshadow you again. 
                    </p>
                </div>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <a href="/services/web-design" class="cs-link">
                            <picture class="cs-picture">
                                <img class="cs-icon" src="../../assets/svgs/design.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                            </picture>
                            <h3 class="cs-h3">Web Design & Maintenance</h3>
                            <p class="cs-item-text">
                                Get a custom, fast, and unique website. No page builders. No pre-designed templates. All you.
                            </p>
                        </a>
                    </li>
                    <li class="cs-item">
                        <a href="/services/support" class="cs-link">
                            <picture class="cs-picture">
                                <img class="cs-icon" src="../../assets/svgs/maintenance.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                            </picture>
                            <h3 class="cs-h3">Support</h3>
                            <p class="cs-item-text">
                                Never worry about your website again. We'll keep it online and updated so that you don't have to.
                            </p>
                        </a>
                    </li>
                    <li class="cs-item">
                        <a href="/services/branding" class="cs-link">
                            <picture class="cs-picture">
                                <img class="cs-icon" src="../../assets/svgs/branding.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                            </picture>
                            <h3 class="cs-h3">Branding</h3>
                            <p class="cs-item-text">
                                Everywhere you are, you should look the same. Get consistent design that match your website.
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
                                
    {% include 'components/cta.html' %}
{% endblock %}