---
title: 'Web management for your small business | Neva Masquerade'
description: 'Clear copy and a reliable website draw customers in. Neva Masquerade offers effortless support for your small business website. Now, you can focus on what you do best.'
preloadImg: '/assets/textures/blue-banner-m.webp'
permalink: 'services/support/'
eleventyNavigation:
    key: Support
    order: 1200
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
        <link rel="stylesheet" href="/assets/css/content-pages.css" media="print" onload="this.media='all'" />
        <style>
            .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

                &:before {
                    /* background color overlay */
                    content: "";
                    position: absolute;
                    display: block;
                    height: 100%;
                    width: 100%;
                    background: -moz-linear-gradient(
                        left,
                        rgba(18, 38, 51, 0.94) 0%,
                        rgba(18, 38, 51, 0) 100%
                    ); /* FF3.6-15 */
                    background: -webkit-linear-gradient(
                        left,
                        rgba(18, 38, 51, 0.94) 0%,
                        rgba(18, 38, 51, 0) 100%
                    ); /* Chrome10-25,Safari5.1-6 */
                    opacity: 1;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    /* Makes img tag act as a background image */
                    object-fit: cover;
                }
            }
        </style>
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->

        <!-- ============================================ -->
        <!--                   Banner                     -->
        <!-- ============================================ -->

        <div id="banner-1106">
            <div class="cs-container">
                <span class="cs-int-title">{{ eleventyNavigation.key }}</span>
                <div class="cs-breadcrumbs">
                    <a href="/" class="cs-link">Home</a>
                    <a href="/services" class="cs-link">Services</a>
                    <a href="#" class="cs-link cs-active">{{ eleventyNavigation.key }}</a>
                </div>
            </div>
            <!--Background Image-->
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/textures/blue-banner.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/textures/blue-banner.webp">
                <img decoding="async" src="../../assets/textures/blue-banner.webp" alt="" width="1280" height="568" aria-hidden="true">
            </picture>
        </div>

        <!-- ============================================ -->
        <!--                 Content Page                 -->
        <!-- ============================================ -->

        <!-- ============================================ 
            This Stitch is used for content heavy interior pages
            that have no design or layout.  Often times these are 
            content silos where you talk extensively about a topic
            to educate your visitors and rank on Google for the 
            content.  These are great for pages that have a TON
            of content.  Design isn't important here, it's all 
            about making the content accessible and easy to read.
        ================================================= -->

        <section id="content-page-851">
            <div class="cs-container">
                <div class="cs-content">
                    <h1 class="cs-title">
                        Hosting and updates for small business websites
                    </h1>
                    <p>
                        <strong>Websites</strong> are iterative and never carved in stone&mdash;they can and <strong>should get regular updates</strong>. You must also take <strong>many technical steps</strong> to <strong>connect</strong> your website to the <strong>Internet</strong>. If you aren't savvy with technology, don't worry; <strong>we're here to help</strong>.
                    </p>
                    <p>
                        Some developers finish working on a website and leave you alone to figure things out. Others might be willing to make updates for a high hourly rate. Not us. <strong>We won't abandon you or charge you an obscene amount for a simple edit.</strong>
                    </p>
                    <p>
                        We offer these website management services:
                    </p>
                    <ul>
                        <li><a href="#domain-management">domain management</a>;</li>
                        <li><a href="#hosting">hosting with a CDN</a>;</li>
                        <li><a href="#copywriting">story-based copywriting</a>; and</li>
                        <li><a href="#unlimited-edits">unlimited content edits</a>.</li>
                    </ul>
                    <h2 id="domain-management">
                        Your domain helps people find you; pick a good one.
                    </h2>
                        <p>Computers use numbers, but people need words. Every website has a <strong>numerical IP address</strong>. For example, no one would ever remember &quot;208.80.153.224/27&quot;&mdash;we use wikipedia.org. This <strong>word-based version</strong> is the <strong>domain</strong>. The <strong>Domain Name System (DNS)</strong> translates the readable domain into the IP address. Your domain is how people will remember your website, so pick a good one!
                        </p>
                        <p>
                            <strong>Every website needs an active domain</strong> (it expires if you forget to renew it). You must also <strong>maintain your DNS records</strong> to configure your website and email. Some common DNS records include:
                        </p>
                        <ul>
                            <li><strong>A record:</strong> to <strong>assign</strong> your website's <strong>IP address</strong> to your <strong>domain</strong>;</li>
                            <li><strong>CNAME record:</strong> to <strong>add an alias</strong> or alternate version of your domain;</li>
                            <li><strong>MX record:</strong> to <strong>direct mail</strong> to your <strong>email server</strong>; and</li>
                            <li><strong>TXT record:</strong> to <strong>prove</strong> you <strong>own the domain</strong> and that your <strong>emails aren't spam</strong>.</li>
                        </ul>
                        <p>
                            There are many more types of DNS records. We can <a href="/prices#domain">manage your domain</a> for <strong>$20 a year</strong> if this stuff gives you a headache. Should you <strong>cancel</strong> our service, <strong>we'll return your domain without hassle</strong>. <strong>You always own your domain</strong>, even if we buy it for you.
                        </p>
                    <h2 id="hosting">
                        Hosting connects your website with the world.
                    </h2>
                        <p>
                            <strong>Web hosting connects your website to the Internet</strong>. Your website's files live on the host's server. When you visit a website, your computer pings the host's server, which returns the files to you.
                        </p>
                        <p>
                            A <strong>content delivery network</strong>, or <strong>CDN</strong>, works with the web host to <strong>improve website performance</strong>. A CDN is a global network of servers that can serve a cached version of your website. This network can make the website <strong>faster</strong> and <strong>more secure</strong>. Sharing the load also reduces the likelihood of crashing.
                        </p>
                        <p>
                            Our web host offers a <strong>CDN at no extra charge</strong>. <strong>We include hosting with our Subscription websites</strong>. If you buy a <strong>Standard website</strong>, you can <a href="/prices#hosting">add hosting for $25 a month</a>.
                        </p>
                    <h2 id="copywriting">
                        Clear copy converts
                    </h2>
                        <p>
                            <strong>Don't make your customers think</strong>. Your website should be <strong>effortless</strong> to read and <strong>persuasive</strong>. Storytelling accomplishes this.
                        </p>
                        <p>
                            Your website and brand need to <strong>tell the story of a hero</strong>. In this story, the hero overcomes obstacles, solves their problems, and transforms themself. <strong>Your business is not the hero</strong>; your customer is. <strong>Your business is the mentor</strong> guiding them to success.
                        </p>
                        <p>
                            This narrative structure <strong>puts your customer first</strong>. Customers don't care about you; they care about how you can solve their problems. This approach shows <strong>how</strong> your <strong>product</strong> or <strong>service will improve their lives</strong>. <strong>Features</strong> and <strong>benefits</strong> are essential, but <strong>they aren't convincing</strong>. You need to <strong>show them how your offer will improve their lives</strong>.
                        </p>
                        <p>
                            <strong>Explicit stories engage</strong> your customers and <strong>persuade</strong> them to act. Don't settle for bland copy that lists boring facts and fails to inspire action. <strong>You have a great offer</strong>; present it in a way that <strong>lets it shine</strong>.
                        </p>
                        <p>
                            We've applied this approach throughout our website. If you have us <a href="/prices#copywriting">write your copy</a>, we can do the same. We'll use the same <strong>framework</strong>, <strong>keyword research</strong>, and <strong>strong calls to action</strong>.
                        </p>
                        <p>
                            Also, our <a href="/prices#brand-narrative">Brand Narrative</a> service <strong>gives you</strong> the <strong>narrative framework to use everywhere</strong>. Represent your brand with clear, consistent, and coordinated messaging across every channel.
                        </p>
                    <h2 id="unlimited-edits">
                        Unlimited content edits keep website updates simple.
                    </h2>
                        <p>
                            Websites need updates. <strong>Search engines like</strong> to see <strong>regular updates</strong> and <strong>no broken links</strong>. You should have a <strong>content strategy</strong> and <strong>review your content on a schedule</strong>, looking for <strong>ways to improve</strong> it. It's good practice to keep your website updated.
                        </p>
                        <p>
                            <strong>We don't use page builders</strong> on our websites. This approach can result in <strong>faster performance</strong> and <strong>greater control</strong> over the code. But it can also make content updates <strong>more complex</strong>; you can't do it yourself. You lose some autonomy, but <strong>you'll never have to remember</strong> how to update your website. <strong>Send us an email,</strong> and <strong>we'll do the work</strong>.
                        </p>
                        <p>
                            Another benefit of having us do all the updates is <strong>governance</strong>. We can ensure that your <strong>website follows best practices</strong> and <strong>remains accessible</strong>.
                        </p>
                        <p>
                            As with hosting, our <strong>Subscription websites</strong> already include <a href="/prices#unlimited-edits">unlimited content edits</a>. Add this service to a <strong>Standard website</strong> for <strong>$50 a year</strong>. Content edits <strong>include</strong> updates like <strong>changing photos</strong> or <strong>text</strong>. They <strong>do not include</strong> changing the look and feel of the website&mdash;that's a <strong>redesign</strong> and a separate charge.
                        </p>
                    <h2>
                        Technical details shouldn't be your problem.
                    </h2>
                        <p>
                            Jargon can always overwhelm and confuse people. Web jargon, in particular, can be a lot to learn, especially if technology isn't your strength. You <strong>don't need to worry</strong> about DNS records, web hosts, CDNs, best practices, or a content management system. <strong>Let us handle</strong> all these <strong>technical details</strong> while <strong>you focus on what you do best</strong>.
                        </p>
                    <a href="/contact" class="cs-button-solid">Book a call</a>
                </div>
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="../../assets/images/support.webp">
                        <img fetch-priority="high" decoding="async" src="../../assets/images/support.webp" alt="A cat sleeps on an open laptop." width="542" height="520" aria-hidden="true">
                    </picture>
                </div>
            </div>
        </section>
    {% include 'components/cta.html' %}
{% endblock %}