---
title: 'Support | Neva Masquerade'
description: 'Description for <meta> description and OG tags'
preloadImg: '/assets/images/dark-mode-banner.svg'
permalink: 'services/support/'
eleventyNavigation:
    key: Support
    order: 1100
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->

        <!-- ============================================ -->
        <!--                   Banner                     -->
        <!-- ============================================ -->

        <div id="banner-1106">
            <div class="cs-container">
                <span class="cs-int-title">{{ eleventyNavigation.key }}</span>
                <div class="cs-breadcrumbs">
                    <a href="/" class="cs-link">Home</a>
                    <a href="/services" class="cs-link">Services</a>
                    <a href="" class="cs-link cs-active">{{ eleventyNavigation.key }}</a>
                </div>
            </div>
            <!--Background Image-->
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/dark-mode-banner.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/dark-mode-banner.svg">
                <img decoding="async" src="../../assets/images/dark-mode-banner.svg" alt="" width="1280" height="568" aria-hidden="true">
            </picture>
        </div>

        <!-- ============================================ -->
        <!--                 Content Page                 -->
        <!-- ============================================ -->

        <!-- ============================================ 
            This Stitch is used for content heavy interior pages
            that have no design or layout.  Often times these are 
            content silos where you talk extensively about a topic
            to educate your visitors and rank on Google for the 
            content.  These are great for pages that have a TON
            of content.  Design isn't important here, it's all 
            about making the content accessible and easy to read.
        ================================================= -->

        <section id="content-page-851">
            <div class="cs-container">
                <div class="cs-content">
                    <h1 class="cs-title">
                        Hosting and updates for small business websites
                    </h1>
                    <p>
                        Websites are never carved in stone---they can and should get regular updates. You also need to take many technical steps to connect your website with the internet. If you aren't savvy with technology, don't worry, we're here to help.
                    </p>
                    <p>
                        Some developers finish working on a website and then leave you on your own to figure things out. Others might be willing to make updates for you, for a high hourly rate. Not us. We won't abandon you or charge you an obscene amount for a simple edit.
                    </p>
                    <h2>
                        Your domain helps people find you, pick a good one
                    </h2>
                        <p>
                            Computers use numbers, but people need words. Every website has a numerical IP address. For example, no one would ever remember &quot;208.80.153.224/27&quot;---we use wikipedia.org. This word-based version is the domain. The <strong>Domain Name System (DNS)</strong> translates the readable domain into the IP address. Your domain is how people will remember your website, so pick a good one!
                        </p>
                        <p>
                            <strong>Every website needs an active domain</strong> (it expires if you forget to renew it). You also need to <strong>maintain your DNS records</strong> to configure your website and email. Some common DNS records include:
                        </p>
                        <ul>
                            <li><strong>A record:</strong> to assign your website's IP address to your domain;</li>
                            <li><strong>CNAME record:</strong> to add an alias or alternate version of your domain;</li>
                            <li><strong>MX record:</strong> to direct mail to your email server; and</li>
                            <li><strong>TXT record:</strong> to prove you own the domain and that your email's aren't spam.</li>
                        </ul>
                        <p>
                            There are many more types of DNS records. If this stuff gives you a headache, we can <a href="/prices#domain">manage your domain</a> for you for $20 a year. <strong>We'll return your domain to you without hassle</strong> should you cancel our service. <strong>You always own your domain</strong>, even if we buy it for you.
                        </p>
                    <h2>
                        Hosting connects your website with the world
                    </h2>
                        <p>
                            <strong>Web hosting connects your website to the internet</strong>. Your website's files live on the host's server. When someone tries to view your website, their computer pings the host's server and it returns the files to them.
                        </p>
                        <p>
                            A <strong>content delivery network or CDN</strong> works with the web host to <strong>improve website performance</strong>. A CDN is a global network of servers that can serve a cached version of your website. This can make the website <strong>faster</strong> and <strong>more secure</strong> as well as reduce the likelihood of it crashing.
                        </p>
                        <p>
                            Our web host offers a <strong>CDN at no extra charge</strong>. We include hosting with our Subscription websites---you're already covered if you subscribe. If you buy a Standard website, you can <a href="/prices#hosting">add hosting for $25 a month</a>.
                        </p>
                    <h2>
                        Clear copy converts
                    </h2>
                        <p>
                            Don't make your customers think. <strong>Reading</strong> your website should be <strong>effortless</strong>. It also needs to be <strong>persuasive</strong>. Storytelling accomplishes this.
                        </p>
                        <p>
                            Your website, and your brand, needs to <strong>tell the story of a hero</strong>. In this story, the hero overcomes obstacles, solves their problems, and transforms themself. <strong>Your business is not the hero</strong>, your customer is. <strong>You're the mentor</strong> who guides them to success.
                        </p>
                        <p>
                            This narrative structure <strong>puts your customer first</strong>. Customers don't care about you, they care about how you can solve their problems. This approach shows how your product or service will improve their life. Features and benefits are important, but on their own they aren't convincing. You need to <strong>show them how your offer will transform their life</strong> for the better.
                        </p>
                        <p>
                            <strong>Clear stories engage</strong> your customer and <strong>persuade</strong> them to act. Don't settle for bland copy that lists boring facts and fails to inspire action. You have a great offer, present it in a way that lets it shine.
                        </p>
                        <p>
                            We've applied this approach throughout our own website. If you have us <a href="/prices#copywriting">write your copy</a>, we can do the same for you. We'll apply the same <strong>framework</strong> along with <strong>keyword research</strong> and <strong>strong calls to action</strong>.
                        </p>
                        <p>
                            Also, our <a href="/prices#brand-narrative">Brand Narrative</a> service gives you the narrative framework to use on your own. Use clear, consistent, and coordinated messaging across every channel to represent your brand.
                        </p>
                    <h2>
                        Unlimited content edits keep website updates simple
                    </h2>
                        <p>
                            Websites need updates. <strong>Search engines like</strong> to see <strong>regular updates</strong> and <strong>no broken links</strong>. If you have a <strong>content strategy</strong> you should <strong>review your content on a schedule</strong> and look for <strong>ways to improve</strong> it. It's good practice to keep your website updated.
                        </p>
                        <p>
                            <strong>We don't use page builders</strong> on our websites. This makes them faster and more secure, but that also makes them more tedious to update. It's less convenient, but the <strong>results are better for your customers</strong>. That said, <strong>you don't have to figure out</strong> how to do that thing you did 6 months ago and can't find now. <strong>Send us an email</strong> and <strong>we'll do the work</strong>. Another benefit to having us do all the updates: <strong>governance</strong>. We can make sure that your <strong>website follows best practices</strong> and <strong>remains accessible</strong>.
                        </p>
                        <p>
                            As with hosting, our Subscription websites already include <a href="/prices#unlimited-edits">unlimited content edits</a>. You can add this service to a Standard website for $50 a year. Content edits include updates like <strong>changing photos</strong> or <strong>editing text</strong>. They <strong>do not include</strong> changing the look and feel of the website---that's a <strong>redesign</strong> and a separate charge.
                        </p>
                    <h2>Technical details shouldn't be your problem</h2>
                        <p>
                            Jargon can always overwhelm and confuse people. Web jargon can also be a lot to learn, especially if technology isn't your strength. You <strong>don't need to worry</strong> about DNS records, web hosts, CDNs, best practices, or a content management system. <strong>Let us handle</strong> all these <strong>technical details</strong>, while <strong>you focus on what you do best</strong>.
                        </p>
                    <a href="-/contact" class="cs-button-solid">Book a call</a>
                </div>
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="../../assets/images/services.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="../../assets/images/services.jpg">
                        <img decoding="async" src="../../assets/images/services.jpg" alt="person" width="542" height="520" aria-hidden="true">
                    </picture>
                </div>
            </div>
        </section>
    {% include 'components/cta.html' %}
{% endblock %}