---
title: 'Web Design | Neva Masquerade'
description: 'Description for <meta> description and OG tags'
preloadImg: '/assets/images/dark-mode-banner.svg'
permalink: 'services/web-design/'
eleventyNavigation:
    key: Web Design
    order: 1100
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->

        <!-- ============================================ -->
        <!--                   Banner                     -->
        <!-- ============================================ -->

        <div id="banner-1106">
            <div class="cs-container">
                <span class="cs-int-title">{{ eleventyNavigation.key }}</span>
                <div class="cs-breadcrumbs">
                    <a href="/" class="cs-link">Home</a>
                    <a href="/services" class="cs-link">Services</a>
                    <a href="" class="cs-link cs-active">{{ eleventyNavigation.key }}</a>
                </div>
            </div>
            <!--Background Image-->
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/dark-mode-banner.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/dark-mode-banner.svg">
                <img decoding="async" src="../../assets/images/dark-mode-banner.svg" alt="" width="1280" height="568" aria-hidden="true">
            </picture>
        </div>

        <!-- ============================================ -->
        <!--                 Content Page                 -->
        <!-- ============================================ -->

        <!-- ============================================ 
            This Stitch is used for content heavy interior pages
            that have no design or layout.  Often times these are 
            content silos where you talk extensively about a topic
            to educate your visitors and rank on Google for the 
            content.  These are great for pages that have a TON
            of content.  Design isn't important here, it's all 
            about making the content accessible and easy to read.
        ================================================= -->

        <section id="content-page-851">
            <div class="cs-container">
                <div class="cs-content">
                    <h1 class="cs-title">Web design services for your small business</h1>
                        <p>
                            Anyone can make a website with Wix, Squarespace, or WordPress. Being easy to do, doesn't guarantee it'll be good. <strong>A lot can go wrong with a website</strong>, especially if you're inexperienced. Many common practices make websites less effective and harder to use. People leave and never return to bad websites all the time, don't let your website be one of them.
                        </p>
                        <p>
                            Page builders, like WordPress, often ail from <strong>slow load times</strong> and <strong>bloated code</strong>. This is by design as they have to work for everyone. But, that means a lot of extra junk you don't need is weighing down your website. You can optimize it and make it faster, but that requires extra work. You don't get a fast, optimized website by default with a page builder.
                        </p>
                        <p>
                            Another downside to doing it yourself with a page builder: you don't get a unique website. <strong>Templates</strong> make design easy, but they <strong>cost you your individuality</strong>. You can make a decent looking website . . . that looks the same as every other website that uses the same template and theme.
                        </p>
                        <p>
                            Hiring an experienced web designer and developer isn't cheap. WordPress, Squarespace, and Wix can cost less, but <strong>a professional can be worth it</strong>. You get a unique design that actually reflects your brand, not a &quot;meh, it's good enough&quot; look. Custom coding gives you a lean website that only includes code that serves a purpose.
                        </p>
                        <p>
                            Everyone should have a <strong>fast-loading</strong>, <strong>quality</strong>, and <strong>unique</strong> website. That's why we never use pre-designed templates or page builders. When you work with us, you'll get a website that is:
                        </p>
                        <ul>
                            <li>designed for you;</li>
                            <li>fast, responsive, and mobile-first;</li>
                            <li>secure and safe from hackers;</li>
                            <li>intuitive and accessible; and</li>
                            <li>optimized for search engines.</li>
                        </ul>
                        <p>
                            We offer <a href="/prices#standard-website">Standard</a> and <a href="/prices#subscription-website">Subscription</a> websites with different payment models and benefits. Pick the one that works best for your budget and needs. Visit our <a href="/prices">Prices</a> page to learn more.
                        </p>
                        <h2>Custom websites designed with you in mind</h2>
                            <p>
                                The most successful brands have a <strong>strong personality</strong> and <strong>clear messaging</strong>. Too many small businesses have neither. You can be successful without good branding, but it's a lot harder.
                            </p>
                            <p>
                                Many customers will first learn of your business through your website. As such, it needs to be memorable and make a good first impression. Every interaction with your brand should look, sound, and feel like your business.
                            </p>
                            <p>
                                Often, a <strong>brand's personality</strong> and its <strong>founder's personality overlap</strong>. You pour your heart and soul into your business, it's only natural for it to reflect you. This can also be a good strategy for building a small business brand. <strong>Authenticity</strong> and <strong>passion</strong> draw people in. If your brand and you overlap, you will represent it by being yourself. Authenticity and passion are inevitable.
                            </p>
                            <p>
                                A template can't capture your essence. It may look nice, but it won't be you. We don't use templates. We start by getting to know you. When we start working, our knowledge of you will inform our design decisions. Colors, fonts, and the aesthetic should all be conscious choices. The end result? A website that excites you because we designed it with you in mind.
                            </p>
                            <p>
                                Your <strong>website</strong> is only <strong>one part of your brand</strong>. We offer other <a href="/services/branding">branding and design services</a> to help you build a cohesive brand. Consistency is key.
                            </p>
                        <h2>Mobile first and lightning fast</h2>
                            <p>
                                Too many small business websites look terrible on a phone. Usually this is because the website isn't responsive. <strong>Responsive websites adjust the layout</strong> at different screen sizes or breakpoints. This ensures it looks good and is easy to use no matter what type of device someone uses.
                            </p>
                            <p>
                                Most of your website's traffic will come from phones, then computers, and tablets in a distant third. Your website must look good and work well on all devices. But <strong>mobile is most important</strong> and needs prioritization.
                            </p>
                            <p>
                                Speed is another important factor. You'll lose visitors for each second a website takes to load. Studies show that <strong>40% of people abandon a website if it takes 3 seconds to load</strong>. People rarely return after they leave website for slowness or usability issues.
                            </p>
                            <p>
                                Our approach addresses each of these priorities. We <strong>style for mobile first</strong>, and then add the adjustments for larger screens. We also <strong>check our design at various screen sizes</strong> throughout development. We don't stop adjusting it until it looks great at every breakpoint.
                            </p>
                            <p>
                                We hand-code every website using HTML, CSS, and a little JavaScript. This allows us to follow <strong>best practices</strong> and create <strong>streamlined, fast-loading websites</strong>. Every line of code serves a purpose. You won't need to worry about losing customers because your website took too long to load.
                            </p>
                        <h2>
                            Sleep easy, your site is secure
                        </h2>
                            <p>
                                Is your current website safe from hackers? Our websites are, but if you're using <strong>WordPress</strong> or a similar platform <strong>it may not be</strong>. These platforms are popular and easy to use. But that popularity also makes them <strong>popular targets</strong>. And the content management system or CMS that makes them easy to use <strong>creates a vulnerability</strong>.
                            </p>
                            <p>
                                Websites are either <strong>dynamic</strong> or <strong>static</strong>. The difference boils down to where the website builds and how it's served to the person. Think of static websites like a grab-and-go sandwich, it's already made so everyone gets the same thing. Dynamic websites are like a made-to-order sandwich. Each user can customize it but you have to wait for it to build.
                            </p>
                            <p>
                                What do sandwiches have to do with hackers? While the server makes the dynamic website, a hacker can slip in an extra ingredient (a SQL injection). The SQL injection tricks the database into serving malicious code. It poisons the sandwich. <strong>Static websites</strong> don't have a database and they're already assembled, so <strong>there's nothing for the hacker to attack</strong>. The sandwich is already wrapped and tamper-proof.
                            </p>
                            <p>
                                <strong>Dynamic websites</strong> offer many advantages, but if your needs are simple they <strong>aren't worth the risk</strong>. Static websites offer more security and need less maintenance. Platforms like WordPress need constant security updates, static websites don't. Using <strong>HTTPS</strong> and <strong>SSL/TLS certificates</strong> is enough for us to ensure <strong>your website is secure</strong>.
                            </p>
                        <h2>
                            Intuitive and easy for everyone to use
                        </h2>
                            <p>
                                Bad websites cost money. A lot of money. They may not cost much out-of-pocket, but over time you'll lose sales.
                            </p>
                            <p>
                                Why do people abandon websites?
                            </p>
                            <ul>
                                <li>They don't wait for it to load.</li>
                                <li>They can't find what they need.</li>
                                <li>They don't know what you sell or how to buy.</li>
                                <li>They can't use the website.</li>
                            </ul>
                            <p>
                                After someone leaves your website for one of these reasons, <strong>they won't come back</strong>. If your competition has a better website, they'll get the sale, not you.
                            </p>
                            <p>
                                You don't have to worry about these problems if you work with us.
                            </p>
                            <ul>
                                <li>Our websites are fast, we get top marks on <a target="_blank" rel="noopener noreferrer" href="https://pagespeed.web.dev/">PageSpeed Insights</a>. Your customers won't need to wait for the website to load.</li>
                                <li>We follow <a target="_blank" rel="noopener noreferrer" href="https://lawsofux.com/jakobs-law/">Jakob's Law</a> and other best practices. Your customers won't need to learn how to use your website, it will be intuitive.</li>
                                <li>We use <a target="_blank" rel="noopener noreferrer" href="https://storybrand.com/">customer-centric frameworks</a> to clarify messaging and promote sales. Your customers won't wonder how you can help them or what they need to do to buy.</li>
                                <li>We follow the industry's standard for <a target="_blank" rel="noopener noreferrer" href="https://www.a11yproject.com/checklist/">accessibility guidelines</a>. Your customers won't have problems blocking them from using your website.</li>
                            </ul>
                        <h2>
                            Get discovered without buying ads
                        </h2>
                        <p>
                                Organic traffic costs you nothing. <strong>Advertising</strong> can be effective, but it <strong>gets expensive</strong> fast. Your goal should be to have <strong>people finding you</strong> on their own <strong>without you spending a penny</strong>. Search engine optimization or SEO is how you do that.
                            </p>
                            <p>
                                SEO can feel overwhelming. It involves technical terms and and requires a lot research and data analysis. It can be counter-intuitive---<strong>target low-volume search terms</strong>, not the popular high-volume ones. It can be mysterious---Google does what it wants when it wants and doesn't explain itself. It can be slow-going---<strong>SEO takes time</strong>, black-hat tricks may get you quick gains now, but you will be de-ranked later.
                            </p>
                            <p>
                                There are two types of SEO: on-page and off-page. <strong>On-page SEO</strong> involves things on your website that you can control. For example:
                            </p>
                            <ul>
                                <li>adding title tags and meta descriptions,</li>
                                <li>following URL best practices,</li>
                                <li>using header tags,</li>
                                <li>structuring content,</li>
                                <li>optimizing images, and</li>
                                <li>ensuring the website supports mobile devices.</li>
                            </ul>
                            <p>
                                We do everything we can to <strong>optimize your on-page SEO</strong>. We <strong>don't charge extra</strong> for this work, it's something every web developer should do by default. If they don't, that's a red flag.
                            </p>
                            <p>
                                <strong>Off-page SEO</strong> also contributes to your ranking, but it's done off your website. We're talking about backlinks here. A <strong>backlink</strong> is a link that links back to your website. They tell Google that your website is credible and provides quality content. Over time, this builds <strong>authority</strong> and <strong>improves your ranking</strong> in search results.</p>
                            <p>
                                We don't offer off-page SEO services.
                            </p>
                        <h2>
                            Uncertain if we're right for you?
                        </h2>
                            <p>
                                Hiring someone to design and manage your website is a big commitment. You shouldn't invest in a major project unless you're confident the results will be worth it.
                            </p>
                            <p>
                                We offer free consultation calls to learn about your needs and answer your questions. There's no commitment unless we both agree that this is a good fit for everyone.
                            </p>                    
                        <a href="-/contact" class="cs-button-solid">Book a call</a>
                </div>
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="../../assets/images/support.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="../../assets/images/support.webp">
                        <img decoding="async" src="../../assets/images/support.webp" alt="A cat sleeping on an open laptop." width="542" height="520" aria-hidden="true">
                    </picture>
                </div>
            </div>
        </section>
    {% include 'components/cta.html' %}
{% endblock %}