---
title: "The DIY Disaster Detector"
description: "Stop losing clients to website problems you can't see. Get a free audit that identifies 3 issues and 3 quick wins. $0, no strings attached."
preloadImg: '/assets/textures/blue-banner-m.webp'
permalink: '/services/diy-disaster-detector/'
---

{% extends "layouts/base.html" %}

{% block head %}
    {{ super() }}
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="/assets/css/website-audit.css" media="print" onload="this.media='all'; this.onload=null;" />
    <noscript>
        <link rel="stylesheet" href="/assets/css/website-audit.css" />
    </noscript>
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->

        <!-- ============================================ -->
        <!--                   Hero                       -->
        <!-- ============================================ -->

        <section id="hero-2349">
            <div class="cs-container">
                <div class="cs-content">
                    <nav aria-label="Breadcrumb">
                        <div class="cs-breadcrumbs">
                            <a href="/" class="cs-link">Home</a>
                            <a href="/services/" class="cs-link">Services</a>
                            <a href="/{{ permalink }}" class="cs-link cs-active" aria-current="page">DIY Disaster Detector</a>
                        </div>
                    </nav>
                    <h1 class="cs-title">The DIY Disaster Detector</h1>
                    <span class="nm-subhead">
                        Discover 3 of your website’s biggest problems and 3 easy wins you can fix right away.
                    </span>
                    <p class="cs-text">
                        You can’t fix what you don’t know. For example, you might wonder why your website gets traffic, but no conversions. Many small details can have an outsized impact on your site’s effectiveness.
                    </p>
                    <p class="cs-text">
                        With the DIY Disaster Detector, I will review your website, score it, and identify 3 problems and 3 quick wins. You’ll walk away knowing what you need to address to improve your website.
                    </p>
                    <p class="cs-text">
                        Oh, and one last thing, it’s $0.
                    </p>
                    <div class="nm-container">
                        <a href="#submit" class="cs-button-solid">Submit Your Website</a>
                        
                    </div>
                </div>
            </div>
            <ul class="cs-stats">
                <li class="cs-item">
                    <span class="cs-number">
                        7+
                    </span>
                    <span class="cs-desc">Years of experience</span>
                </li>
                <li class="cs-item">
                    <span class="cs-number">
                        79M
                    </span>
                    <span class="cs-desc">Annual visitors</span>
                </li>
                <li class="cs-item">
                    <span class="cs-number">
                        47.5K
                    </span>
                    <span class="cs-desc">Pages managed</span>
                </li>
            </ul>
            <!--Background Image-->
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/textures/blue-banner-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/textures/hero-background.webp">
                <img decoding="async" src="../../assets/textures/hero-background.webp" alt="" width="1800" height="860">
            </picture>
        </section>
                
        <!-- ============================================ -->
        <!--                 Services                     -->
        <!-- ============================================ -->
                                        
        <section id="services-2349">
            <div class="cs-container">
                <h2 class="cs-title">
                What the DIY Disaster Detector will uncover
                </h2>
                <p class="cs-text">
                    The DIY Disaster Detector uses a rubric to test website fundamentals. This rubric enables me to quickly and objectively determine the quality of a website.
                </p>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <h2 class="cs-h2">Technical Problems</h2>
                        <p class="cs-item-text">
                            The speed, mobile, and accessibility issues that make your website a pain to use. 40% of people leave if your site takes more than 3 seconds to load.
                        </p>
                    </li>
                    <li class="cs-item">
                        <h2 class="cs-h2">Conversion Problems</h2>
                        <p class="cs-item-text">
                            The poor calls-to-action and weak messaging that make your website confusing. Can visitors quickly find what you do, who you serve, and how to buy?
                        </p>
                    </li>
                    <li class="cs-item">
                        <h2 class="cs-h2">Credibility Problems</h2>
                        <p class="cs-item-text">
                            The design choices and trust-signals that undermine your professional credibility. Does your website make you look as competent as you actually are?
                        </p>
                    </li>
                </ul>
            </div>
        </section>

        <!-- ============================================ -->
        <!--                  Content                     -->
        <!-- ============================================ -->

        <section id="content-1638">
            <div class="cs-container">
                <div class="cs-content">
                    <div class="cs-flex">
                        <h2 class="cs-title">Why the DIY Disaster Detector is different</h2>
                    </div>
                    <div class="cs-flex">
                        <p class="cs-text">
                            I’ve learned everything I know by working in the trenches on a major federal government website. Since 2022, I have been the team lead and product owner overseeing the U.S. Department of State’s main website. Before that, I was an editor on the State.gov team for 4 years.
                        </p>
                        <p class="cs-text">
                            State.gov attracts 79 million annual visitors. It peaked at 47,503 pages at the end of the Biden administration. It’s a massive website, but it’s taught me that getting a website’s foundation correct is critical at any size.
                        </p>
                        <p class="cs-text">
                            I’m now making my 7+ years of knowledge and expertise available to solopreneurs like you. With the DIY Disaster Detector, you aren’t getting generic feedback. You’re getting a systematized evaluation founded in my enterprise-level experience.
                        </p>
                        <p class="cs-text">
                            After you submit your website URL, I will test your site and send you a PDF within 7 days. The PDF will include a complete breakdown of your score and my insights. I'll identify 3 problem areas and 3 wins you can fix right away.
                        </p>
                    </div>
                </div>  
            </div>
        </section>
                        
        <!-- ============================================ -->
        <!--                How it Works                  -->
        <!-- ============================================ -->

        <section id="services-1331">
            <div class="cs-container">
                <div class="cs-content">
                    <div class="cs-flex-group">
                        <h2 class="cs-title">How It Works</h2>
                    </div>
                    <p class="cs-text">
                        It’s as simple as filling out the form. No strings attached. No sales pitches.
                    </p>
                </div>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-step">Step 1</span>
                        <h3 class="cs-h3">Submit your website</h3>
                        <p class="cs-item-text">
                            Use the form on this page to submit your name, email address, and website URL for review.
                        </p>
                    </li>
                    <li class="cs-item">
                        <span class="cs-step">Step 2</span>
                        <h3 class="cs-h3">Receive your results</h3>
                        <p class="cs-item-text">
                            I will email you a PDF with my findings within 7 days.
                        </p>
                    </li>
                    <li class="cs-item">
                        <span class="cs-step">Step 3</span>
                        <h3 class="cs-h3">Schedule a call (optional)</h3>
                        <p class="cs-item-text">
                            Book a 30-minute call with me to review your findings.
                        </p>
                    </li>
                </ul>
            </div>
        </section>
                          
        <!-- ============================================ -->
        <!--                Submit & FAQ                  -->
        <!-- ============================================ -->

        <section id="contact-1333">
            <div class="cs-container" id="submit">
                <!--Form-->
                <form class="cs-form" id="cs-form-1333" name="DIY Disaster Detector" method="post"  netlify netlify-honeypot="bot-field">
                    <div class="cs-content">
                        <h2 class="cs-title">Submit your website</h2>
                    </div>
                    <label class="cs-label">
                        Name*
                        <input class="cs-input" required type="text" id="name-1333" name="name" placeholder="Name">
                    </label>
                    <label class="cs-label cs-email">
                        Email*
                        <input class="cs-input" required type="email" id="email-1333" name="email" placeholder="Email">
                    </label>
                    <label class="cs-label cs-website">
                        Website URL*
                        <input class="cs-input" required type="url" id="website-1333" name="website" placeholder="Website URL">
                    </label>
                    <label class="cs-label">
                        What's your biggest website frustration?
                        <textarea class="cs-input cs-textarea" name="Message" id="message-1333" placeholder="Write message..."></textarea>
                    </label>
                    <label class="nm-honeypot">Not for humans <input name="bot-field" /> </label>
                    <button class="cs-button-solid cs-submit" type="submit">Submit</button>
                </form>
                <div class="cs-content">
                    <h2 class="cs-title">Frequently Asked Questions</h2>
                    <ul class="cs-faq-group">
                        <!-- Active class added as default -->
                        <li class="cs-faq-item active">
                            <button class="cs-button">
                                <span class="cs-button-text">
                                    Is this really free?
                                </span>
                            </button>
                            <p class="cs-item-p">
                                Yes, the DIY Disaster Detector is $0. I see too many solopreneurs struggling with the same website mistakes. This is my contribution to making the internet a slightly better place.
                            </p>
                        </li>
                        <li class="cs-faq-item">
                            <button class="cs-button">
                                <span class="cs-button-text">
                                    How long does it take?
                                </span>
                            </button>
                            <p class="cs-item-p">
                                7 or fewer days.
                            </p>
                        </li>
                        <li class="cs-faq-item">
                            <button class="cs-button">
                                <span class="cs-button-text">
                                    What format will I receive it in?
                                </span>
                            </button>
                            <p class="cs-item-p">
                                I will email you a PDF.
                            </p>
                        </li>
                        <li class="cs-faq-item">
                            <button class="cs-button">
                                <span class="cs-button-text">
                                    Will you share my information?
                                </span>
                            </button>
                            <p class="cs-item-p">
                                No. I may use anonymized findings in my own content, but I won't reveal the sources. I will never sell or share your information with any third parties.
                            </p>
                        </li>
                        <li class="cs-faq-item">
                            <button class="cs-button">
                                <span class="cs-button-text">
                                    What happens after I get the report?
                                </span>
                            </button>
                            <p class="cs-item-p">
                                If you’d like to review the findings together, we can schedule a 30-minute call. Otherwise, you are free to make fixes at your own convenience.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>                               
        <script>
            const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
                for (const item of faqItems) {
                    const onClick = () => {
                    item.classList.toggle('active')
                }
                item.addEventListener('click', onClick)
                }
        </script>                  
    {% include 'components/cta.html' %}
{% endblock %}