/* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */
/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1106 {
    padding: var(--sectionPadding);
    padding-top: 11.25rem;
    padding-bottom: 7.5rem;
    /* clips the line from causing overflow issues for going off screen */
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: var(--medium);
  }
  #banner-1106 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.75rem;
  }
  #banner-1106 .cs-int-title {
    /* 39px - 61px */
    font-family: var(--headerFont);
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 400;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--textLight);
    position: relative;
  }
  #banner-1106 .cs-breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1106 .cs-link {
    font-family: var(--smallCaps);
    font-size: 0.875rem;
    line-height: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--textLight);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1106 .cs-link:last-of-type {
    /* remove the chevron on the last list item */
  }
  #banner-1106 .cs-link:last-of-type::after {
    display: none;
  }
  #banner-1106 .cs-link:after {
    /* chevron */
    content: "";
    width: 0.75rem;
    height: 1rem;
    margin: 0 1rem;
    background: url("../svgs/chevron.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
  }
  #banner-1106 .cs-link.cs-active {
    opacity: 0.6;
    font-weight: 300;
  }
  #banner-1106 .cs-link:hover {
    color: var(--primary100);
    text-decoration: underline;
    text-underline-offset: 0.3em;
    transition: color 0.3s, text-decoration 0.3s;
  }
  #banner-1106 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #banner-1106 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(18, 38, 51, 0.94) 0%, rgba(18, 38, 51, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(18, 38, 51, 0.94) 0%, rgba(18, 38, 51, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-1106 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-590 {
    background-color: var(--secondary);
    position: relative;
    z-index: 1;
  }
  #contact-590 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* changes to 20px at desktop */
    gap: 3rem;
  }
  #contact-590 .cs-picture {
    display: block;
    position: relative;
    width: 100%;
    height: 18.75rem;
  }
  #contact-590 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
  }
  #contact-590 .cs-right {
    /* moved section padding to the content so the picture can be full width */
    padding: var(--sectionPadding);
    padding-top: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }
  #contact-590 .cs-content {
    /* set text aling to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #contact-590 .cs-topper {
    color: var(--accent500);
  }
  #contact-590 .cs-text {
    margin-bottom: -2rem;
  }
  #contact-590 .cs-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
  }
  #contact-590 .cs-label {
    /* 14px - 16px */
    font-family: var(--smallCaps);
    text-transform: uppercase;
    font-weight: 300;
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    letter-spacing: 3px;
    width: 100%;
    color: var(--textDark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
    margin-top: 1.5rem;
  }
  #contact-590 .cs-input {
    font-family: var(--bodyFont);
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    color: var(--textDark);
    background-color: var(--textLight);
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  #contact-590 .cs-input:hover {
    border-color: var(--primary300);
  }
  #contact-590 .cs-input:focus {
    outline: 1px solid var(--accent200);
  }
  #contact-590 .cs-input::placeholder {
    color: var(--textMid);
    opacity: 0.8;
  }
  #contact-590 .cs-textarea {
    /* 120px - 192px */
    min-height: clamp(7.5rem, 28vw, 12rem);
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: var(--bodyFont);
  }
  #contact-590 .cs-button-solid {
    background-color: var(--primary);
    color: var(--textLight);
  }
  #contact-590 .cs-submit {
    text-transform: uppercase;
    line-height: 3.5rem;
    min-width: 13.375rem;
    border: none;
    border-radius: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-590 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #contact-590 .cs-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  #contact-590 .cs-picture {
    position: absolute;
    height: 100%;
    width: 44%;
    left: 50%;
    /* 84px - 120px */
    margin-left: clamp(5.25rem, 12vw, 7.5rem);
  }
  #contact-590 .cs-picture img {
    aspect-ratio: 1/1;
  }
  #contact-590 .cs-right {
    width: 56%;
    max-width: 39.375rem;
    padding: 0;
  }
  #contact-590 .cs-label {
    width: 48%;
  }
  #contact-590 .cs-message {
    width: 100%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #contact-590 {
    background-color: var(--medium);
  }
  body.dark-mode #contact-590 .cs-topper {
    color: var(--secondary);
  }
  body.dark-mode #contact-590 .cs-title,
  body.dark-mode #contact-590 .cs-text,
  body.dark-mode #contact-590 .cs-label,
  body.dark-mode #contact-590 .cs-link {
    color: var(--textLight);
  }
  body.dark-mode #contact-590 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #contact-590 .cs-input {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--textLight);
    border-color: rgba(255, 255, 255, 0.1);
  }
  body.dark-mode #contact-590 .cs-input:hover {
    border-color: var(--secondary400);
  }
  body.dark-mode #contact-590 .cs-input::placeholder {
    color: var(--secondary);
    opacity: 0.7;
  }
}

/*# sourceMappingURL=contact.css.map */
