/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1106 {
    padding: var(--sectionPadding);
    padding-top: 11.25rem;
    padding-bottom: 7.5rem;
    /* clips the line from causing overflow issues for going off screen */
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: var(--medium);
  }
  #banner-1106 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.75rem;
  }
  #banner-1106 .cs-int-title {
    /* 39px - 61px */
    font-family: var(--headerFont);
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 400;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--textLight);
    position: relative;
  }
  #banner-1106 .cs-breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1106 .cs-link {
    font-family: var(--smallCaps);
    font-size: 0.875rem;
    line-height: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--textLight);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1106 .cs-link:last-of-type {
    /* remove the chevron on the last list item */
  }
  #banner-1106 .cs-link:last-of-type::after {
    display: none;
  }
  #banner-1106 .cs-link:after {
    /* chevron */
    content: "";
    width: 0.75rem;
    height: 1rem;
    margin: 0 1rem;
    background: url("../svgs/chevron.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
  }
  #banner-1106 .cs-link.cs-active {
    opacity: 0.8;
    font-weight: 300;
  }
  #banner-1106 .cs-link:hover {
    color: var(--primary100);
    text-decoration: underline;
    text-underline-offset: 0.3em;
    transition: color 0.3s, text-decoration 0.3s;
  }
  #banner-1106 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #banner-1106 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(18, 38, 51, 0.94) 0%, rgba(18, 38, 51, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(18, 38, 51, 0.94) 0%, rgba(18, 38, 51, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-1106 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/*-- -------------------------- -->
<---        Content Page        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-page-851 {
    padding: var(--sectionPadding);
    background: var(--textLight);
    /* clips the wave background from causing overflow issues when it goes off screen */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #content-page-851 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #content-page-851 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 46.125rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #content-page-851 .nm-columns {
    display: flex;
    flex-flow: column;
  }
  #content-page-851 .nm-columns .nm-column {
    display: block;
  }
  #content-page-851 .nm-columns .nm-column li {
    color: var(--textMid);
  }
  #content-page-851 .nm-include {
    font-family: var(--smallCaps);
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--accent500);
  }
  #content-page-851 .cs-h3 {
    /* 20px - 25px */
    font-size: 1.5rem;
    line-height: 1.2em;
    font-weight: 400;
    width: 100%;
    margin: 0;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  #content-page-851 .nm-h4 {
    /* 20px - 25px */
    font-size: clamp(1rem, 20px, 1.25rem);
    line-height: 1.2em;
    font-weight: 400;
    width: 100%;
    margin: 0;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  #content-page-851 .cs-name {
    /* 16px - 20px */
    font-size: inherit;
    line-height: inherit;
    margin-right: auto;
    display: block;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #content-page-851 .cs-price {
    /* 20px - 25px */
    font-size: inherit;
    line-height: inherit;
    font-weight: 400;
    width: auto;
    margin: 0;
    padding: 0.5rem 0.75rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: block;
    /* prevents flexbox from squishing it */
    flex: none;
    /* forces it into the 3rd position */
    order: 3;
    font-variant-numeric: lining-nums;
  }
  #content-page-851 .nm-price-mod {
    font-family: var(--smallCaps);
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    opacity: 0.8;
  }
  #content-page-851 .nm-h3 {
    padding-top: 1rem;
  }
  #content-page-851 h1,
  #content-page-851 h2,
  #content-page-851 h3,
  #content-page-851 h4,
  #content-page-851 h5,
  #content-page-851 h6 {
    font-weight: 400;
    text-align: inherit;
    margin: 0 0 1rem 0;
    color: var(--secondary600);
  }
  #content-page-851 h1 {
    font-weight: 400;
  }
  #content-page-851 h2 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  #content-page-851 h3 {
    font-size: 1.5rem;
  }
  #content-page-851 h4,
  #content-page-851 h5,
  #content-page-851 h6 {
    font-size: 1.25rem;
  }
  #content-page-851 li ul {
    margin-top: 0.75rem;
    margin-bottom: 0rem;
  }
  #content-page-851 .cs-button-solid {
    margin-top: 1.5rem;
  }
  #content-page-851 .cs-no-margin {
    margin: 0;
  }
  #content-page-851 .cs-color {
    color: var(--secondary400);
  }
  #content-page-851 p {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    margin: 0 0 1rem 0;
    color: var(--textDark);
  }
  #content-page-851 .nm-available {
    color: var(--textMid);
    font-family: var(--smallCaps);
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: -0.25rem 0 1rem 0;
  }
  #content-page-851 ol,
  #content-page-851 ul {
    padding-left: 1rem;
    margin: 0 0 1rem 0;
    color: var(--textDark);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #content-page-851 ol li,
  #content-page-851 ul li {
    margin: 0 0 -0.5rem 0;
    font-size: 1rem;
  }
  #content-page-851 ol li:last-of-type,
  #content-page-851 ul li:last-of-type {
    margin: 0;
  }
  #content-page-851 img {
    width: 100%;
    height: auto;
    display: block;
  }
  #content-page-851 .cs-image-group {
    width: 50%;
    max-width: 27.0625rem;
    display: none;
    flex-direction: column;
    gap: 1.25rem;
    position: relative;
  }
  #content-page-851 .cs-image-group:after {
    /* colored box */
    content: "";
    width: 100%;
    /* 177px - 258px */
    height: 100%;
    background: var(--primary);
    display: block;
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: -1;
  }
  #content-page-851 .cs-picture {
    width: 100%;
    /* 300px - 520px */
    height: clamp(18.75rem, 40vw, 32.5rem);
    box-shadow: 0px 3.3478px 50.2169px rgba(0, 0, 0, 0.16);
    /* 125px - 200px */
    /* prevents border from affecting height and width */
    box-sizing: border-box;
    /* clips img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #content-page-851 .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes it act like a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #content-page-851 .cs-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  #content-page-851 .cs-content {
    flex: none;
    width: 60%;
  }
  #content-page-851 .cs-image-group {
    display: flex;
  }
  #content-page-851 .cs-picture {
    aspect-ratio: 4/5;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #content-page-851 .nm-columns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
  }
  #content-page-851 .nm-columns .nm-column {
    display: block;
    width: 50%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #content-page-851 {
    background: var(--medium);
  }
  body.dark-mode #content-page-851 .cs-title,
  body.dark-mode #content-page-851 .cs-text,
  body.dark-mode #content-page-851 h2,
  body.dark-mode #content-page-851 h3,
  body.dark-mode #content-page-851 h4,
  body.dark-mode #content-page-851 h5,
  body.dark-mode #content-page-851 h6 {
    color: var(--textLight);
  }
  body.dark-mode #content-page-851 p, body.dark-mode #content-page-851 li {
    color: var(--textLight);
    opacity: 0.8;
  }
  body.dark-mode #content-page-851 .cs-color {
    color: var(--secondary200);
  }
  body.dark-mode #content-page-851 .nm-column li {
    color: var(--textLight);
    opacity: 0.8;
  }
  body.dark-mode #content-page-851 .nm-available {
    color: var(--textLight);
    opacity: 0.6;
  }
  body.dark-mode #content-page-851 table a {
    color: var(--textLight);
  }
  body.dark-mode #content-page-851 table a:visited {
    color: var(--secondary);
  }
  body.dark-mode #content-page-851 .cs-button-solid {
    color: var(--textLight);
  }
  body.dark-mode #content-page-851 p,
  body.dark-mode #content-page-851 li {
    color: var(--textLight);
  }
  body.dark-mode #content-page-851 .cs-picture {
    border-color: var(--dark);
    background: var(--dark);
  }
}

/*# sourceMappingURL=content-pages.css.map */
