                              
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1389 {
      padding: var(--sectionPadding);
      background-color: #f7f7f7;
      position: relative;
      z-index: 1;

      .cs-container {
          width: 100%;
          max-width: calc(584 / 16 * 1rem);
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: stretch;
          flex-direction: column;
          column-gap: auto;
          /* 48px - 64px */
          gap: clamp(2rem, 3vw, 3rem);
          position: relative;
      }

      .cs-content {
          text-align: left;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
      }

      .cs-title {
          max-width: 23ch;
      }

      .cs-text {
          margin-bottom: calc(16 / 16 * 1rem);
          &:last-of-type {
              margin-bottom: calc(32 / 16 * 1rem);
          }
      }

      .cs-ul {
          text-align: left;
          width: 100%;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: calc(24 / 16 * 1rem);
          position: relative;
      }

      .cs-li {
          list-style: none;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: calc(20 / 16 * 1rem);

          &:hover {
              .cs-icon-wrapper {
                  transform: scale(1.1);
              }
          }
      }

      .cs-header {
          font-size: calc(20 / 16 * 1rem);
          font-weight: 700;
          line-height: 1.2em;
          margin-bottom: calc(12 / 16 * 1rem);
          color: var(--headerColor);
          display: block;
      }

      .cs-link {
          font-size: calc(16 / 16 * 1rem);
          line-height: 1.5em;
          text-decoration: none;
          color: #767676;
          display: block;
          position: relative;

          &:hover {
              text-decoration: underline;
          }
      }

      .cs-icon-wrapper {
          width: calc(60 / 16 * 1rem);
          height: calc(60 / 16 * 1rem);
          margin: 0;
          border-radius: 50%;
          border: 1px solid #bababa;
          display: flex;
          justify-content: center;
          align-items: center;
          flex: none;
          transition: transform 0.3s;
      }

      .cs-icon {
          width: calc(24 / 16 * 1rem);
          height: auto;
          display: block;
      }

      .cs-form {
          width: 100%;
          max-width: calc(630 / 16 * 1rem);
          padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
          box-sizing: border-box;
          background-color: #fff;
          border-radius: calc(16 / 16 * 1rem);
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;
          gap: calc(12 / 16 * 1rem);
      }

      .cs-h3 {
          /* 20px - 39px */
          font-size: clamp(1.25rem, 3vw, 2.4375rem);
          line-height: 1.2em;
          font-weight: 700;
          margin: 0 0 calc(4 / 16 * 1rem) 0;
          color: var(--headerColor);
      }

      .cs-label {
          /* 14px - 16px */
          font-size: clamp(0.875rem, 1.5vw, 1rem);
          width: 100%;
          color: var(--headerColor);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: calc(4 / 16 * 1rem);
      }

      .cs-input {
          font-size: calc(16 / 16 * 1rem);
          width: 100%;
          height: calc(56 / 16 * 1rem);
          padding: 0;
          padding-left: calc(24 / 16 * 1rem);
          color: var(--headerColor);
          background-color: #f7f7f7;
          border-radius: calc(8 / 16 * 1rem);
          border: none;
          box-sizing: border-box;
          &::placeholder {
              color: #7d799c;
              opacity: 0.6;
          }
      }

      .cs-textarea {
          min-height: calc(120 / 16 * 1rem);
          padding-top: calc(24 / 16 * 1rem);
          margin-bottom: calc(12 / 16 * 1rem);
          font-family: inherit;
      }

      .cs-button-solid {
          font-size: calc(16 / 16 * 1rem);
          line-height: calc(56 / 16 * 1rem);
          text-decoration: none;
          font-weight: 700;
          overflow: hidden;
          margin: 0;
          color: #fff;
          padding: 0 calc(48 / 16 * 1rem);
          border-radius: calc(30 / 16 * 1rem);
          background-color: var(--primary);
          display: inline-block;
          position: relative;
          z-index: 1;
          transition: color 0.3s;

          &:before {
              content: "";
              position: absolute;
              display: block;
              height: 100%;
              width: 0%;
              background: #1a1a1a;
              opacity: 1;
              top: 0;
              left: 0;
              z-index: -1;
              transition: width 0.3s;
          }

          &:hover {
              color: var(--primary);
              &:before {
                  width: 100%;
              }
          }
      }

      .cs-submit {
          width: 100%;
          min-width: calc(200 / 16 * 1rem);
          border: none;

          &:hover {
              color: #fff;
              cursor: pointer;
          }
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-1389 {
      .cs-container {
          max-width: calc(1280 / 16 * 1rem);
          flex-direction: row;
          justify-content: space-between;
      }

      .cs-content {
          width: 47%;
          flex: none;
          order: 2;
      }

      .cs-submit {
          width: auto;
      }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-1389 {
      .cs-form {
          width: 46%;
          max-width: calc(578 / 16 * 1rem);
      }

      .cs-submit {
          width: auto;
      }
  }
}

/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
  #contact-1389 {
      .cs-graphic {
          display: block;
      }
  }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* chnages to 1280px at desktop */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 40px - 48px */
            gap: clamp(2.5rem, 5vw, 3rem);
        }

        .cs-content {
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-faq-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            background-color: #f7f7f7;
            padding: 0;
            box-sizing: border-box;
            transition: border-bottom 0.3s;

            &.active {
                background-color: #1a1a1a;
                .cs-button {
                    color: var(--primary);
                    &:before {
                        background-color: var(--primary);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--primary);
                        transform: rotate(-315deg);
                    }
                }
                .cs-number {
                    background-color: #1a1a1a;
                    color: var(--primary);
                    &:before {
                        height: 100%;
                        opacity: 0.3;
                    }
                    &:after {
                        width: 100vw;
                        opacity: 0.3;
                    }
                }

                .cs-item-p {
                    height: auto;
                    /* 16px - 24px */
                    padding-top: clamp(1rem, 2.5vw, 1.5rem);
                    padding-bottom: clamp(1rem, 2.5vw, 1.5rem);
                    color: var(--bodyTextColorWhite);
                    opacity: 0.8;
                }
            }
        }

        .cs-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            width: 100%;
            padding: 0 calc(40 / 16 * 1rem) 0 0;
            border: none;
            background: transparent;
            color: var(--headerColor);
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            /* 16px - 24px */
            gap: clamp(1rem, 2.5vw, 1.5rem);
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: calc(8 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: calc(19 / 16 * 1rem);
                transform: rotate(45deg);
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: calc(8 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: calc(16 / 16 * 1rem);
                transform: rotate(-45deg);
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-number {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.5em;
            /* 52px - 72px */
            width: clamp(3.25rem, 6vw, 4.5rem);
            color: var(--headerColor);
            background-color: #e8e8e8;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: none;
            position: relative;
            transition: background-color 0.3s;

            &:before {
                content: "";
                width: 1px;
                height: 0;
                background: var(--primary);
                opacity: 0;
                position: absolute;
                display: block;
                top: -1px;
                right: 0;
                transition:
                    opacity 0.3s,
                    height 0.6s;
                transition-delay: 0.1s;
            }

            &:after {
                content: "";
                width: 0;
                height: 1px;
                background: var(--primary);
                opacity: 0;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                transition:
                    opacity 0.3s,
                    width 1s;
            }
        }

        .cs-button-text {
            width: 90%;
            /* 16px - 24px */
            padding: clamp(1rem, 2.5vw, 1.5rem) 0;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            max-width: calc(541 / 16 * 1rem);
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2.5vw, 1.5rem);
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s,
                padding-top 0.3s;
        }

        .cs-floater {
            display: none;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-faq-group {
            width: 56%;
            flex: none;
        }

        .cs-floater {
            width: 55%;
            max-width: calc(685 / 16 * 1rem);
            margin-right: calc(170 / 16 * 1rem);
            display: block;
            position: absolute;
            top: clamp(30%, 26vw, 40%);
            right: 50%;
            z-index: -1;
        }
    }
}

                                
                              
/*# sourceMappingURL=contact.css.map */
