/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-288 {
    /* 116px - 164px top */
    /* 60px - 100px  bottom */
    padding: clamp(7.25rem, 16.82vw, 10.25rem) 1rem clamp(3.75rem, 7.82vw, 6.25rem);
    position: relative;
    background: var(--secondary);
  }
  #hero-288 .cs-container {
    width: 100%;
    max-width: 80rem;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #hero-288 .cs-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  #hero-288 .cs-topper {
    text-wrap: balance;
  }
  #hero-288 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.25rem, 5vw, 3rem);
    line-height: 1.1em;
    text-align: center;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--accent600);
    position: relative;
  }
  #hero-288 .cs-text {
    /* 16px - 20px */
    font-size: 1rem;
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    max-width: 33.1875rem;
    margin: 0 auto;
    /* 28px - 40px */
    margin-bottom: 1rem;
    color: var(--textDark);
  }
  #hero-288 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #hero-288 .nm-subhead {
    color: var(--secondary500);
    font-size: clamp(1.125rem, 3.5vh, 1.5rem);
    margin: 0.5rem 0 1rem 0;
    text-align: center;
    max-width: 43.75rem;
  }
  #hero-288 .nm-subhead-md {
    font-size: clamp(1.25rem, 4vh, 1.75rem);
    font-family: var(--headerFont);
    text-align: center;
    margin: 1rem 0 2rem 0;
  }
  #hero-288 .cs-picture {
    width: 100%;
    max-width: 36.5625rem;
    /* 380px - 453px */
    aspect-ratio: 398/290;
    height: auto;
    /* clips the img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 2;
  }
  #hero-288 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act as a background image */
    object-fit: cover;
  }
  #hero-288 .cs-waves {
    width: 100%;
    height: 30vh;
    background: var(--primary);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  #hero-288 .cs-waves img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act as a background image */
    object-fit: cover;
  }
  #hero-288 #button-box-838 {
    width: 100%;
    max-width: 39.375rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-288 {
    text-align: left;
  }
  #hero-288 .cs-container {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 6.25rem;
  }
  #hero-288 .cs-content {
    width: 40%;
    /* prevents flex-box from squishing it */
    flex: none;
    align-items: flex-start;
    text-align: left;
  }
  #hero-288 .cs-content #button-box-838 {
    justify-content: flex-start;
    flex-flow: nowrap;
  }
  #hero-288 .cs-title,
  #hero-288 .cs-text {
    text-align: left;
  }
  #hero-288 .nm-subhead {
    text-align: left;
  }
  #hero-288 .cs-picture {
    max-width: 39.375rem;
    aspect-ratio: 630/814;
    /* 623px - 814px */
    height: auto;
  }
  #hero-288 .cs-waves {
    height: 100%;
    width: calc(40vw + 9rem);
    left: 50%;
    margin-left: 12.5rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-288 {
    background: var(--medium);
  }
  body.dark-mode #hero-288 .cs-title {
    color: var(--textLight);
  }
  body.dark-mode #hero-288 .cs-text {
    color: var(--textLight);
    opacity: 0.8;
  }
  body.dark-mode #hero-288 .nm-subhead, body.dark-mode #hero-288 .nm-subhead-md {
    color: var(--textLight);
  }
  body.dark-mode #hero-288 .cs-waves {
    opacity: 0.5;
    filter: brightness(160%);
  }
  body.dark-mode #hero-288 #button-box-838 .cs-button-transparent {
    color: var(--textLight);
  }
}

/*# sourceMappingURL=critical.css.map */
