---
title: "Get a Stunning, Fast Website & Branding"
description: "Say goodbye to website struggles. Get affordable, custom web design & branding for small businesses. Elevate your brand, attract clients, & grow."
preloadImg: "/assets/images/index-hero-m.webp"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    {{ super() }}
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="/assets/css/critical.css"  media="print" onload="this.media='all'; this.onload=null;" />
    <link rel="stylesheet" href="/assets/css/local.css" media="print" onload="this.media='all'; this.onload=null;" />
    <noscript>
        <link rel="stylesheet" href="/assets/css/critical.css" />
        <link rel="stylesheet" href="/assets/css/local.css" />
    </noscript>
    
    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-288">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Elevate your brand, grow your business</h1>
            <span class="nm-subhead">Is your website working as hard as you are?</span> 
            <p class="cs-text">
                As a small business owner, you know how important it is to be online. Finding the time or budget for <strong>quality web design</strong> can feel overwhelming. Your brand deserves a personalized touch that <strong>sets you apart</strong>.         
            </p>
            <div id="button-box-838" class="cs-contact-group">
                <a href="/contact/" class="cs-button-solid">Book a call</a>
                <a href="#how-it-works" class="cs-button-transparent">How it works</a>
            </div>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <source fetch-priority="high" media="(max-width: 1023px)" srcset="assets/images/index-hero-m.webp">
            <source media="(min-width: 1024px)" srcset="assets/images/index-hero.webp">
            <img aria-hidden="true" decoding="async" src="assets/images/index-hero.webp" alt="A cat wearing a tophat, glasses, and a bowtie. Conveys a feeling of timeless sophistication." width="630" height="814">
        </picture>
        <!--Texture-->
        <picture class="cs-waves">
            <source media="(min-width: 1024px)" srcset="assets/textures/blue-tall.webp">
            <source media="(min-width: 601px) and (max-width: 1023px)" srcset="assets/textures/blue-wide.webp">
            <source media="(max-width: 600px)" srcset="assets/textures/blue-wide-m.webp">
            <img decoding="async" src="assets/textures/blue-tall.webp" alt="" width="645" height="1080" aria-hidden="true">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-2175">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/services/web-design/" class="cs-link">
                    <h2 class="cs-h3">
                        <img class="cs-icon" src="assets/svgs/design.svg" loading="lazy" decoding="async" alt="icon" width="64" height="64" aria-hidden="true">
                        Web Design
                    </h2>
                    <p class="cs-item-text">
                        Are you unhappy with your current website? Stand out with a custom design that suits your personality and brand. Starting at <strong>$0 down, $175/month</strong>.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/services/support/" class="cs-link">
                    <h2 class="cs-h3">
                        <img class="cs-icon" src="assets/svgs/maintenance.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        Support
                    </h2>
                    <p class="cs-item-text">
                        Do you want a long-term partnership? Stop worrying about running your website. We offer affordable hosting, unlimited content edits, and copywriting.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/services/branding/" class="cs-link">
                    <h2 class="cs-h3">
                        <img class="cs-icon" src="assets/svgs/branding.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        Branding
                    </h2>
                    <p class="cs-item-text">
                        Are you struggling with a weak brand? Draw customers in and tell your brand story. Build a strong personality, stunning look, and persuasive narrative.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-576">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source loading="lazy" media="(max-width: 600px)" srcset="assets/images/index-problem-m.webp">
            <!--Tablet and above Image-->
            <source loading="lazy" media="(min-width: 601px)" srcset="assets/images/index-problem.webp">
            <img loading="lazy" decoding="async" src="assets/images/index-problem.webp" alt="A cat angrily attacks a piece of paper. Conveys feelings of stress and frustration." width="618" height="537">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">From frustrated and overwhelmed . . .</span>
            <h2 class="cs-title">Struggling to build an online brand?</h2>
            <p class="cs-text">
                <span class="nm-subhead">Don't let your website hold you back</span>
            </p>
            <p class="cs-text">
                A lackluster online presence can hinder your business. Customers may not understand your services and doubt you can meet their needs.
            </p>
            <ul>
                <li>Does your website look outdated and uninviting?</li>
                <li>Is your branding inconsistent?</li>
                <li>Are you lost about where to start?</li>
                <li>Do you lack time to learn how to do it yourself?</li>
                <li>Do you wish you could tailor designs to your brand?</li>
                <li>Does your messaging lack direction?</li>
            </ul>
            <a href="/contact/" class="cs-button-solid">Book a call</a>
        </div>
    </div>
</section>                  

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-576">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source loading="lazy" media="(max-width: 600px)" srcset="assets/images/index-solution-m.webp">
            <!--Tablet and above Image-->
            <source loading="lazy" media="(min-width: 601px)" srcset="assets/images/index-solution.webp">
            <img loading="lazy" decoding="async" src="assets/images/index-solution.webp" alt="A cat wearing sunglasses lounges in  a basket. Conveys a feeling of calm and relaxation." width="618" height="537">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">. . . to relaxed and confident</span>
            <h2 class="cs-title">Spend more time doing what matters most</h2>
            <p class="cs-text">
                <span class="nm-subhead">Elevate your brand effortlessly</span>
            </p>
            <p class="cs-text">
                Change how customers see you and stand out in a crowded marketplace. Partner with us, and you can get:
            </p>
            <ul>
                <li>an online presence tailored for you;</li>
                <li>an intuitive and fast hand-coded website;</li>
                <li>cost-effective, continuous support;</li>
                <li>persuasive and compelling, story-based messaging; and</li>
                <li>a brand that captures your values and personality.</li>
            </ul>
            <a href="/contact/" class="cs-button-solid">Book a call</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-585">
    <div class="cs-container" id="how-it-works">
        <div class="cs-content">
            <span class="cs-topper">Working with us is easy</span>
            <h2 class="cs-title">3 simple steps to elevate your brand online</h2>
            <p class="cs-text">
                Tell your brand's unique story through your website and branding. You don't need to break your budget to connect with your audience.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <h3 class="cs-h3">Book a call</h3>
                <p class="cs-item-text">
                    We meet, get to know each other, and discuss your needs. There's <strong>no commitment</strong> unless you want to move forward.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <h3 class="cs-h3">Discovery and design</h3>
                <p class="cs-item-text">
                    You answer some questions, and we turn your responses into a design. If you don't love our work, you <strong>get your money back</strong>.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <h3 class="cs-h3">Development and launch</h3>
                <p class="cs-item-text">
                    We make your approved design a reality. <strong>Our partnership doesn't end at launch</strong>; we'll support you for years to come.
                </p>
            </li>
        </ul>
        <a href="/contact/" class="cs-button-solid">Book a call</a>
    </div>
</section>

<!-- ============================================ -->
<!--                   Price                      -->
<!-- ============================================ -->

<section id="cs-menu-group-1038">
    <div class="cs-container">
        <div class="cs-content">
            <div id="cs-content-1801">
                <div class="cs-flex">
                    <span class="cs-topper">Transparent pricing, no hidden fees</span>
                    <h2 class="cs-title">Grow your brand within your budget</h2>
                    <p class="cs-text">
                        You don't have to settle for a subpar website and weak branding, even if money is tight. Our services and prices work with your goals and budget. Invest with confidence with our <strong>100% satisfaction money-back guarantee</strong>.
                    </p>
                </div>
                <div class="cs-button-group">
                    <button class="cs-button cs-active" data-filter="one" onclick="window.location.href='#cs-menu-group';">
                        Web Design
                    </button>
                    <button class="cs-button" data-filter="two" onclick="window.location.href='#cs-menu-group';">
                        Support
                    </button>
                    <button class="cs-button" data-filter="three" onclick="window.location.href='#cs-menu-group';">
                        Branding
                    </button>
                </div>
            </div>
        </div>
        <!--Web Design & Maintenance-->
        <div id="cs-menu1-1038" class="cs-menu-group" data-category="one">
            <section class="cs-menu">
                <div class="cs-container">
                    <div class="cs-menu-list">
                        <!--If you want a row of three, add cs-3 class to the row and it will format to the a 3 item menu row-->
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.stdWeb.name }}</span>
                                    <span class="cs-price"><span class="nm-price-mod">Starts at</span> ${{ services.stdWeb.price }}</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Design and development for a standard 5-page website. Does not include hosting or unlimited edits.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.subWeb.name }}</span>
                                    <span class="cs-price">${{ services.subWeb.price }} <span class="nm-price-mod">/ month</span></span>
                                </h3>
                                <p class="cs-menu-p">
                                    Get a 5-page website designed and developed for <strong>$0 down</strong>. Includes hosting and unlimited edits.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.extraPages.name }} </span>
                                    <span class="cs-price">${{ services.extraPages.price }} <span class="nm-price-mod">/ each</span></span>
                                </h3>
                                <p class="cs-menu-p">
                                    A one-time charge to add extra pages to your website (Standard or Subscription).
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.blog.name }}</span>
                                    <span class="cs-price">${{ services.blog.price }}</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Add a blog you can post on to your Standard or Subscription website. The one-time charge includes a training session.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.darkMode.name}}</span>
                                    <span class="cs-price">${{services.darkMode.price}}</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Add a toggle and alternate styles to enable light and dark modes on your website.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    </ul>
                </div>
            </section>
        </div>
        <!--Support-->
        <div id="cs-menu2-1038" class="cs-menu-group" data-category="two">
            <section class="cs-menu">
                <div class="cs-container">
                    <div class="cs-menu-list">
                        <!--If you want a row of three, add cs-3 class to the row and it will format to the a 3 item menu row-->
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.hosting.name }}</span>
                                    <span class="cs-price">${{ services.hosting.price }} <span class="nm-price-mod">/ month</span></span>
                                </h3>
                                <p class="cs-menu-p">
                                    Let us take care of hosting your Standard website. (Included in the Subscription website plan.)
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.edits.name }}</span>
                                    <span class="cs-price">${{ services.edits.price }} <span class="nm-price-mod">/ month</span></span>
                                </h3>
                                <p class="cs-menu-p">
                                    We'll handle all the edits to your existing pages. (Included in the Subscription website plan.)
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.domain.name }} </span>
                                    <span class="cs-price">${{ services.domain.price }} <span class="nm-price-mod">/ year</span></span>
                                </h3>
                                <p class="cs-menu-p">
                                    We'll manage your DNS records and renew your domain every year.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.copywriting.name }} </span>
                                    <span class="cs-price">${{ services.copywriting.price }} <span class="nm-price-mod">/ word</span></span>
                                </h3>
                                <p class="cs-menu-p">
                                    Convince customers to convert through persuasive storytelling.
                                </p>
                            </div>
                        </div>
                    </ul>
                </div>
            </section>
        </div>
        <!--Branding-->
        <div id="cs-menu3-1038" class="cs-menu-group" data-category="three">
            <section class="cs-menu">
                <div class="cs-container">
                    <div class="cs-menu-list">
                        <!--If you want a row of three, add cs-3 class to the row and it will format to the a 3 item menu row-->
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.profileGraphic.name }}</span>
                                    <span class="cs-price">${{services.profileGraphic.price }} </span>
                                </h3>
                                <p class="cs-menu-p">
                                    Turn your profile into an advertisement of your offer. Use it to highlight your unique selling proposition and a call to action.
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.socialGraphic.name }} </span>
                                    <span class="cs-price">${{ services.socialGraphic.price }} </span></span>
                                </h3>
                                <p class="cs-menu-p">
                                    Up your posting game with a custom-made graphic. Capture and hold attention with eye-catching visuals.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.socialSub.name }}</span>
                                    <span class="cs-price">${{ services.socialSub.price }} <span class="nm-price-mod">/ month</span></span>
                                </h3>
                                <p class="cs-menu-p">
                                    Get 5 custom graphics a month. Add more graphics for <strong>$15/each</strong>.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.businessCards.name }}</span>
                                    <span class="cs-price">{{ services.businessCards.price }}</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Custom design to match the rest of your brand.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.letterhead.name }} </span>
                                    <span class="cs-price">${{ services.letterhead.price }} </span>
                                </h3>
                                <p class="cs-menu-p">
                                    Look more professional with personalized stationery.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.otherGraphic.name }} </span>
                                    <span class="cs-price">{{ services.otherGraphic.price }}</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Need something else designed? Let's chat.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.styleGuide.name}}</span>
                                    <span class="cs-price">${{ services.styleGuide.price}}</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Put everything together with rules to maintain consistency.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.narrative.name }}</span>
                                    <span class="cs-price">${{ services.narrative.price }}</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Clear, story-based messages to talk about your business.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">{{ services.consulting.name }}</span>
                                    <span class="cs-price">${{ services.consulting.price}} <span class="nm-price-mod">/ hour</span></span>
                                </h3>
                                <p class="cs-menu-p">
                                    Need help figuring out what to do? We're here to help.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                
                            </div>
                        </div>
                    </ul>
                </div>
            </section>
        </div>
        <a href="/contact/" class="cs-button-solid">Book a call</a>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="assets/textures/price-texture-m.webp">
        <!--Tablet Image-->
        <source media="(min-width: 601px) and (max-width: 1023px)" srcset="assets/textures/price-texture-t.webp">
        <!--Small Desktop and above Image-->
        <source media="(min-width: 1024px)" srcset="assets/textures/price-texture.webp">
        <img loading="lazy" decoding="async" src="assets/textures/price-texture.webp" alt="" width="1400" height="789">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-2066">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Frequently asked questions</span>
            <h2 class="cs-title">Everything you need to know before starting</h2>
            <p class="cs-text">
                Are you wondering how we can transform your online brand from bland to grand? Keep reading to learn more about working with us.
            </p>
        </div>
        <div class="cs-flex-group">
            <div class="cs-button-group">
                <button class="cs-option" data-filter="one">
                    General
                </button>
                <button class="cs-option" data-filter="two">
                    Payments
                </button>
                <button class="cs-option" data-filter="three">
                    Support
                </button>
                <button class="cs-option" data-filter="four">
                    Websites
                </button>
                <button class="cs-option" data-filter="five">
                    Branding
                </button>
            </div>
            <div class="cs-wrapper">
                <!-- General Questions -->
                <ul class="cs-faq-group" data-category="one">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Where do you work?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            We are currently registered to do business with clients in Virginia, Maryland, and Washington, DC. If you’re located in a different state, we’d be happy to add to this list and register with your state as well.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Do you make e-commerce websites?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            No. The cart and payment features that e-commerce sites require add development and security complexities that we aren’t able to support at this time.
                        </p>
                        <p class="cs-item-p">
                            We could do the design work for an e-commerce site though, see our Figma Design service. We would design all your pages in Figma and then hand those files over to the developer you’ve hired to build the site.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How long does a website project take?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            We aim to deliver your site within 6 weeks of the discovery call.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Who owns the copyright for my website?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            For Standard Websites, you do once it’s fully paid for and work is completed. For Subscription Websites, we retain the copyright to protect our investment in your website.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Who owns my domain?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            You will always own your domain, even if we purchased it and have managed it for you. If we’ve been managing your domain, we’ll transfer full control of it to you as part of the account closing process when you cancel. 
                        </p>
                    </li>
                </ul>
                <!-- Payment Questions -->
                <ul class="cs-faq-group cs-hidden" data-category="two">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How long does the subscription last? 
                            </span>
                        </button>
                        <p class="cs-item-p">
                            The initial contract is for 12-months, after that we go month to month and you can cancel at any time. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What if I cancel my subscription during the first year?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            You’ll owe the full amount for a Standard Website minus your subscription payments.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                If I cancel my subscription after the first year can I keep my website?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            No. Under the subscription pricing model we aren’t fully compensated for building your website until the third year. We need long-term commitments for it to work. If everyone canceled after 13 months and walked away with a discounted website, we’d never make a profit and would go out of business.
                        </p>
                    </li>
                </ul>
                <!-- Support Questions -->
                <ul class="cs-faq-group cs-hidden" data-category="three">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What's included with “unlimited content edits”?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            As many edits as you need to your existing pages, such as replacing images or updating text. Adding multiple new sections to a page or completely changing the site’s appearance would be a redesign, not content edits, and thus not included. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                I didn’t add “unlimited content edits” to my Standard Website, but now I need some changes made. What do I do?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            You can add Unlimited Content Edits now with a 12-month contract, or we can charge an hourly rate for the updates. Our current rate is $100/hr billed in 15-minute increments.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How long do website updates take?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Most updates should be completed within 24–48 hours. In the unlikely event that we need more time, we’ll communicate that and provide an estimate for when we expect to finish it. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How do I request edits?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Email us with the URL of the page and a description of the change. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How long do social media graphics take?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Within 24–48 hours once we have established styles and layouts. The initial designs may take a couple rounds of edits which could add a few days for all the back and forth.
                        </p>
                    </li>
                </ul>
                <!-- Website Questions -->
                <ul class="cs-faq-group cs-hidden" data-category="four">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Do you use WordPress?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            No. While WordPress is very popular it comes with a number of downsides. Its popularity makes it a frequent target of hackers, so staying on top of security updates is critical. Its also plagued with bloated code that can slow down the website. You can have a fast and secure WordPress site, but it takes a lot of work to do. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Why is a custom-coded website better than WordPress?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Small informational websites that are ideal for service based small businesses don’t need WordPress. In most cases, you won’t get enough benefits from using WordPress to outweigh the negatives. 
                        </p>
                        <p class="cs-item-p">
                            A custom-coded static website should be able to meet all your business needs without the security vulnerabilities and performance issues that plague WordPress. There’s a higher barrier to entry building websites this way, but the end result is a faster, leaner, more secure website.
                        </p>
                    </li>
                </ul>
                <!-- Branding Questions -->
                <ul class="cs-faq-group cs-hidden" data-category="five">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How often should I have dental check-ups and cleanings?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            We recommend dental check-ups and cleanings every six months for most patients. However, some individuals may need more frequent visits based on their oral health needs.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the importance of fluoride treatments, and are they necessary for adults?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Fluoride treatments help strengthen tooth enamel and prevent decay. While especially important for children, adults can also benefit, particularly those at higher risk for cavities.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Are dental sealants only for children, or can adults benefit from them too?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            While commonly used for children, adults can also benefit from dental sealants, especially those prone to cavities or with deep grooves in their teeth.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my at-home oral hygiene routine?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            To maintain optimal oral health, follow these essential practices: Brush your teeth twice daily for two minutes using fluoride toothpaste and a soft-bristled brush. Floss once a day to clean between teeth where brushing can't reach. Consider using an antimicrobial mouthwash after brushing and flossing. Maintain a healthy diet low in sugary and acidic foods, and drink plenty of water to rinse away food particles. Visit your dentist regularly for checkups and cleanings, replace your toothbrush every few months, and avoid smoking. These habits will help prevent cavities, gum disease, and other oral health issues while promoting overall well-being.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What are the early signs of gum disease, and how can I prevent it?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Early signs of gum disease include red, swollen, or bleeding gums. Prevention includes regular brushing, flossing, and professional cleanings.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cs-cta">
            <div class="cs-flex">
                <h3 class="cs-cta-title">Have more questions?</h3>
                <p class="cs-cta-text">
                    Write to us or book a free consultation call. We'll be happy to answer all your questions.
                </p>
            </div>
            <a href="/contact/" class="cs-button-solid">Book a call</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1635">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Don't settle for less</span>
                <h2 class="cs-title">Your vision, beautifully designed online</h2>
            </div>
            <span class="nm-group">
                <p class="cs-text">
                    Too many small business websites and brands fail to impress. We help you elevate your brand and grow your business. You'll enjoy more engaged customers and more time to do what you do best.
                </p>
                <a href="/contact/" class="cs-button-solid">Book a call</a>
            </span>
        </div>  
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon"
                                src="assets/svgs/coding.svg"
                                loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Hand-coded for speed and quality</h3>
                        <p class="cs-item-text">
                            Forget templates&mdash;custom designs make customers happy.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" src="assets/svgs/pencil.svg"
                                loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Personalized design support</h3>
                        <p class="cs-item-text">
                            Unify your brand presence with our graphic design services.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon"
                                src="assets/svgs/book.svg"
                                loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Inspire and persuade your customers</h3>
                        <p class="cs-item-text">
                            Turn customers into heroes through storytelling that sells.
                        </p>
                    </div>
                </li>
            </ul>
            <div class="cs-image-group">
                <div class="cs-picture-wrapper">
                    <picture class="cs-picture cs-picture1">
                        <!--Mobile Image-->
                        <source loading="lazy" media="(max-width: 600px)" srcset="assets/images/why-choose-us-speed-m.webp">
                        <!--Tablet Image-->
                        <source loading="lazy" media="(min-width: 601px) and (max-width: 1023px)" srcset="assets/images/why-choose-us-speed-t.webp">
                        <!--Small Desktop and above Image-->
                        <source loading="lazy" media="(min-width: 1024px)" srcset="assets/images/why-choose-us-speed.webp">
                        <img loading="lazy" decoding="async" src="assets/images/why-choose-us-speed.webp" alt="A cat running; its legs and the background are blurry. Conveys a feeling of speed and quickness." width="434" height="414">
                    </picture>
                    <div class="cs-box">
                        <span class="cs-header">Custom Designs</span>
                        <span class="cs-desc">Never from a cookie-cutter</span>
                    </div>
                </div>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source loading="lazy" media="(max-width: 600px)" srcset="assets/images/why-choose-us-happy-m.webp">
                    <!--Tablet and above Image-->
                    <source loading="lazy" media="(min-width: 601px) and (max-width: 1023px)" srcset="assets/images/why-choose-us-happy-t.webp">
                    <!--Small Desktop and above Image-->
                    <source loading="lazy" media="(min-width: 1024px)" srcset="assets/images/why-choose-us-happy.webp">
                    <img loading="lazy" decoding="async" src="assets/images/why-choose-us-happy.webp" alt="A cat sleeping with a happy expression. Conveys a feeling of satisfaction." width="197" height="197">
                </picture>
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                JavaScript                    -->
<!-- ============================================ -->

<script>
    class CS_MenuFilter {
    filtersSelector = '.cs-button'
    menuSelector = '.cs-menu-group'
    activeClass = 'cs-active'
    hiddenClass = 'cs-hidden'

    constructor() {
        this.$menus = document.querySelectorAll(this.menuSelector)
        const $filters = document.querySelectorAll(this.filtersSelector)

        this.onClick($filters[0])

        for (const $filter of $filters) {
            $filter.addEventListener('click', () => this.onClick($filter))
        }
    }

    onClick($filter) {
        this.filter($filter.dataset.filter)

        const { activeClass } = this

        this.$activeFilter?.classList.remove(activeClass)
        $filter.classList.add(activeClass)

        this.$activeFilter = $filter
    }

    filter(filter) {
        const showAll = filter == 'all'
        const { hiddenClass } = this

        for (const $menu of this.$menus) {
            const show = showAll || $menu.dataset.category == filter
            $menu.classList.toggle(hiddenClass, !show)
        }
    }
}

new CS_MenuFilter()
                                
</script>

<script>
    const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }

        class FAQFilter {
        filtersSelector = '.cs-option'
        FAQselector = '.cs-faq-group'
        activeClass = 'cs-active'
        hiddenClass = 'cs-hidden'

        constructor() {
            const $filters = document.querySelectorAll(this.filtersSelector)
            this.$activeFilter = $filters[0]
            this.$images = document.querySelectorAll(this.FAQselector)

            this.$activeFilter.classList.add(this.activeClass)

            for (const $filter of $filters) {
            $filter.addEventListener('click', () => this.onClick($filter))
            }
        }

        onClick($filter) {
            this.filter($filter.dataset.filter)

            const { activeClass } = this

            this.$activeFilter.classList.remove(activeClass)
            $filter.classList.add(activeClass)

            this.$activeFilter = $filter
        }

        filter(filter) {
            const showAll = filter == 'all'
            const { hiddenClass } = this

            for (const $image of this.$images) {
            const show = showAll || $image.dataset.category == filter
            $image.classList.toggle(hiddenClass, !show)
            }
        }
        }

        new FAQFilter()
</script>

    {% include 'components/cta.html' %}
{% endblock %}
