/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-600,
    #RPsbsr-600 {
        position: relative;
        background-color: var(--textLight);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            /* moved section padding to cs-content so the cs-background can be full width */
            padding: var(--sectionPadding);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-topper {
            color: var(--accent500);
        }
        
        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-background {
            display: block;
            position: relative;
            width: 100%;
            height: calc(256 / 16 * 1rem);
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbs-600,
    #RPsbsr-600 {
        /* 90px - 150px */
        /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
        padding: clamp(5.625rem, 9vw, 9.375rem) calc(16 / 16 * 1rem);
        .cs-container {
            flex-direction: row;
            justify-content: flex-end;
        }

        .cs-background {
            width: 50%;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 50%;
        }

        .cs-content {
            width: 45%;
            padding: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbs-600,
        #RPsbsr-600 {
            background: var(--primary);
            
            .cs-topper {
                color: var(--secondary);
            }
            .cs-title,
            .cs-text {
                color: var(--textLight);
            }

            .cs-text {
                opacity: 0.8;
            }
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-600 {
        background: var(--primary);
        .cs-topper {
            color: var(--secondary);
        }
        
        .cs-title,
        .cs-text {
            color: var(--textLight);
        }
    }
}

/* Mobile - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbsr-600 {
        .cs-container {
            justify-content: flex-start;
        }

        .cs-background {
            left: 50%;
            right: auto;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbsr-600 {
            background-color: var(--dark);
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-1638 {
        padding: var(--sectionPadding);
        background-color: var(--secondary);
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 100px */
            gap: clamp(.5rem, 2vw, 1rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-flex {
            max-width: calc(608 / 16 * 1rem);
        }

        .cs-h3-mission {
            font-family: var(--smallCaps);
            font-size: calc(20 / 16 * 1rem);
            letter-spacing: 3px;
            text-transform: uppercase;
            line-height: 1.2em;
            font-weight: 600;
            margin: calc(32 / 16 * 1rem) 0 calc(16 / 16 * 1rem) 0;
            color: var(--accent400);
        }

        .cs-text {
            margin-bottom: calc(32 / 16 * 1rem);
        }

        .cs-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* 16px - 32px */
            gap: clamp(1rem, 3.2vw, 2rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            /* 16px - 32px */
            gap: clamp(1rem, 2vw, 2rem);
        }

        .cs-item {
            list-style: none;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-item-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-item-number {
            font-family: var(--smallCaps);
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--accent400);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
            font-variant-numeric: lining-nums;
        }

        .cs-h3 {
            font-family: var(--bodyFont);
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0;
            color: var(--textDark);
        }

        .cs-item-text {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            margin: 0;
            color: var(--textDark);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #content-1638 {
        &:before {
            height: 63%;
        }
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: calc(40 / 16 * 1rem);
        }

        .cs-flex {
            width: 50%;
            text-align: left;
        }

        .cs-title {
            margin: 0;
        }

        .cs-wrapper {
            flex-direction: row;
            align-items: flex-start;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #content-1638 {
            background-color: var(--medium);
            z-index: -10;
            
            .cs-title, .cs-text, .cs-h3-mission, .cs-text, .cs-h3, .cs-item-text {
                color: var(--textLight);
            }

            .cs-text {
                opacity: .8;
            }


            .cs-h3-mission,
            .cs-topper {
                color: var(--secondary);
            }

            .cs-item-text {
                opacity: 0.8;
            }

            .cs-item-number {
                color: var(--secondary200);
            }
        }
    }
}
                                

                                