/* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */

/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-1106 {
        padding: var(--sectionPadding);
        padding-top: calc(180 / 16 * 1rem);
        padding-bottom: calc(120 / 16 * 1rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;
        background: var(--medium);

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-int-title {
            /* 39px - 61px */
            font-family: var(--headerFont);
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 400;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--textLight);
            position: relative;
        }

        .cs-breadcrumbs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-link {
            font-family: var(--smallCaps);
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.2em;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: var(--textLight);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron */
                content: "";
                width: calc(12 / 16 * 1rem);
                height: calc(16 / 16 * 1rem);
                margin: 0 calc(16 / 16 * 1rem);
                background: url("../svgs/chevron.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                display: block;
            }

            &.cs-active {
                opacity: .6;
                font-weight: 300;
            }

            &:hover {
                color: var(--primary100);
                text-decoration: underline;
                text-underline-offset: .3em;
                transition: color .3s, text-decoration .3s;
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: -moz-linear-gradient(
                    left,
                    rgba(18, 38, 51, 0.94) 0%,
                    rgba(18, 38, 51, 0) 100%
                ); /* FF3.6-15 */
                background: -webkit-linear-gradient(
                    left,
                    rgba(18, 38, 51, 0.94) 0%,
                    rgba(18, 38, 51, 0) 100%
                ); /* Chrome10-25,Safari5.1-6 */
                opacity: 1;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-590 {
        background-color: var(--secondary);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* changes to 20px at desktop */
            gap: calc(48 / 16 * 1rem);
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            height: calc(300 / 16 * 1rem);

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                aspect-ratio: 2 / 1;
                object-fit: cover;
            }
        }

        .cs-right {
            /* moved section padding to the content so the picture can be full width */
            padding: var(--sectionPadding);
            padding-top: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(48 / 16 * 1rem);
        }

        .cs-content {
            /* set text aling to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-topper {
            color: var(--accent500);
        }

        .cs-text {
            margin-bottom: -2rem;
        }
        .cs-form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-label {
            /* 14px - 16px */
            font-family: var(--smallCaps);
            text-transform: uppercase;
            font-weight: 300;
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            letter-spacing: 3px;
            width: 100%;
            color: var(--textDark);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: calc(4 / 16 * 1rem);
            margin-top: 1.5rem;
        }

        .cs-input {
            font-family: var(--bodyFont);
            font-size: calc(16 / 16 * 1rem);
            width: 100%;
            height: calc(56 / 16 * 1rem);
            padding: 0;
            padding-left: calc(24 / 16 * 1rem);
            color: var(--textDark);
            background-color: var(--textLight);
            border: none;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            transition: border-color 0.3s;
            &:hover {
                border-color: var(--primary300);
            }
            &:focus {
                outline: 1px solid var(--accent200);
            }
            &::placeholder {
                color: var(--textMid);
                opacity: 0.8;
            }
        }

        .cs-textarea {
            /* 120px - 192px */
            min-height: clamp(7.5rem, 28vw, 12rem);
            padding-top: calc(24 / 16 * 1rem);
            margin-bottom: calc(12 / 16 * 1rem);
            font-family: var(--bodyFont);
        }

        .cs-button-solid {
            background-color: var(--primary);
            color: var(--textLight);            
        }

        .cs-submit {
            text-transform: uppercase;
            line-height: calc(56 / 16 * 1rem);
            min-width: calc(214 / 16 * 1rem);
            border: none;
            border-radius: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #contact-590 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            flex-direction: row;
            justify-content: flex-start;
        }

        .cs-picture {
            position: absolute;
            height: 100%;
            width: 44%;
            left: 50%;
            /* 84px - 120px */
            margin-left: clamp(5.25rem, 12vw, 7.5rem);

            img {
                aspect-ratio: 1 / 1;
            }
        }

        .cs-right {
            width: 56%;
            max-width: calc(630 / 16 * 1rem);
            padding: 0;
        }

        .cs-label {
            width: 48%;
        }

        .cs-message {
            width: 100%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #contact-590 {
            background-color: var(--medium);
            .cs-topper {
                color: var(--secondary);
            }

            .cs-title,
            .cs-text,
            .cs-label,
            .cs-link {
                color: var(--textLight);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-input {
                background-color: rgba(255, 255, 255, 0.1);
                color: var(--textLight);
                border-color: rgba(255, 255, 255, 0.1);
                &:hover {
                    border-color: var(--secondary400);
                }
                &::placeholder {
                    color: var(--secondary);
                    opacity: .7;
                }
            }
        }
    }
}