// ─────────────────────────────────────────────────────────────────────────────
// CRITICAL PAGE STYLES
// Above-the-fold and high-priority styles for the home page's landing section.
// Put the first section of the home page in here, so it loads immediately.
// The rest of the home page styles in local.css will be deferred and
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1203 {
        /* 150px - 350px */
        padding: clamp(9rem, 25.95vw, 21.875rem) 1rem;
        padding-bottom: 0;
        position: relative;
        z-index: 1;
        /* prevents overflow from the arrow graphic */
        overflow: hidden;
    }
    #hero-1203:before {
        /* black bar */
        content: "";
        width: 100%;
        /* 100px - 200px */
        height: clamp(6.25rem, 29vw, 12.5rem);
        background: #1a1a1a;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
    }
    #hero-1203 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* 48px - 64px */
        gap: clamp(3rem, 7vw, 4rem);
    }
    #hero-1203 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        max-width: 39.375rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
    #hero-1203 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }
    #hero-1203 .cs-title {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
        font-weight: 900;
        line-height: 1.2em;
        width: 100%;
        max-width: 17ch;
        margin: 0 0 1rem;
        color: var(--headerColor);
        position: relative;
    }
    #hero-1203 .cs-text {
        font-size: 1.25rem;
        line-height: 1.5em;
        width: 100%;
        max-width: 43.75rem;
        /* 28px - 40px */
        margin: 0 0 clamp(1.75rem, 4vw, 2.5rem);
        color: var(--bodyTextColor);
    }
    #hero-1203 .cs-button-solid {
        font-size: 1rem;
        text-align: center;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        width: 11.25rem;
        text-decoration: none;
        font-weight: 700;
        /* clips corners of the before element */
        overflow: hidden;
        margin: 0;
        color: #ffffff;
        padding: 0;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: color 0.3s;
    }
    #hero-1203 .cs-button-solid:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 0%;
        background: #000000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #hero-1203 .cs-button-solid:hover {
        color: #fff;
    }
    #hero-1203 .cs-button-solid:hover:before {
        width: 100%;
    }
    #hero-1203 .cs-picture {
        width: 100%;
        /* changes to 866px at desktop */
        max-width: 34.0625rem;
        height: auto;
        display: flex;
        align-items: flex-end;
        position: relative;
    }
    #hero-1203 .cs-picture img {
        width: 100%;
        height: auto;
    }
    #hero-1203 .cs-floater {
        /* changes to 1465px at desktop */
        width: 59.6875rem;
        height: auto;
        opacity: 0.08;
        display: block;
        position: absolute;
        right: 0;
        top: 40%;
        z-index: -1;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-1203:before {
        height: 16.125rem;
    }
    #hero-1203 .cs-picture {
        width: 70%;
        max-width: 54.125rem;
    }
    #hero-1203 .cs-floater {
        width: 91.5625rem;
        top: 30%;
    }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-1203 {
        padding-bottom: 12.5rem;
    }
    #hero-1203:before {
        height: 100%;
        width: 40vw;
        margin-left: 20.8125rem;
        left: 50%;
    }
    #hero-1203 .cs-container {
        flex-direction: row;
        justify-content: flex-start;
        /* remove the positioning so the cs-picture is now absolutely positioned to the next parent with a declared position - the #hero section container. Now we can position it off the bottom edge of the parent container */
        position: initial;
    }
    #hero-1203 .cs-content {
        text-align: left;
        align-items: flex-start;
    }
    #hero-1203 .cs-picture {
        width: 54.125rem;
        height: 52.625rem;
        margin-left: 0.625rem;
        position: absolute;
        left: 50%;
        bottom: 0;
    }
    #hero-1203 .cs-picture img {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: contain;
    }
    #hero-1203 .cs-floater {
        margin-right: -20.8125rem;
        top: 8.75rem;
        right: 50%;
    }
}

                                