/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-288 {
        /* 116px - 164px top */
        /* 60px - 100px  bottom */
        padding: clamp(7.25rem, 16.82vw, 10.25rem) calc(16 / 16 * 1rem)
            clamp(3.75rem, 7.82vw, 6.25rem);
        position: relative;
        background: var(--secondary);
       

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            height: auto;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.25rem, 5vw, 3rem);
            line-height: 1.1em;
            text-align: center;
            max-width: calc(700 / 16 * 1rem);
            margin: 0 auto calc(16 / 16 * 1rem);
            color: var(--accent600);
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: 1rem;
            line-height: 1.5em;
            text-align: center;
            width: 100%;
            max-width: calc(531 / 16 * 1rem);
            margin: 0 auto;
            /* 28px - 40px */
            margin-bottom: calc(16 / 16 * 1rem);
            color: var(--textDark);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .nm-subhead {
            color: var(--secondary500);
            font-size: clamp(1.125rem, 3.5vh, 1.5rem);
            margin: .5rem 0 1rem 0;
            text-align: center;
            max-width: calc(700 / 16 * 1rem);
        }

        .nm-subhead-md {
            font-size: clamp(1.25rem, 4vh, 1.75rem);
            font-family: var(--headerFont);
            text-align: center;
            margin: 1rem 0 2rem 0;
        }

        .cs-picture {
            width: 100%;
            max-width: calc(585 / 16 * 1rem);
            /* 380px - 453px */
            aspect-ratio: 398 / 290;
            height: auto;
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 2;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                aspect-ratio: 398 / 290;
                /* makes image act as a background image */
                object-fit: cover;
            }
        }

        .cs-waves {
            width: 100%;
            height: 30%;
            background: var(--primary);
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act as a background image */
                object-fit: cover;
            }
        }

        #button-box-838 {
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            margin-bottom: calc(64 / 16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: calc(24 / 16 * 1rem);
    
            .cs-button-solid {
                font-size: calc(16 / 16 * 1rem);
                /* 46px - 56px */
                line-height: clamp(2.875rem, 5.5vw, 3.5rem);
                text-decoration: none;
                font-weight: 700;
                text-align: center;
                margin: 0;
                min-width: calc(150 / 16 * 1rem);
                padding: 0 calc(24 / 16 * 1rem);
                display: inline-block;
                position: relative;
                z-index: 1;
                color: var(--textLight);
                /* prevents padding from adding to the width */
                box-sizing: border-box;
    
                &:before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 0%;
                    opacity: 1;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: width 0.3s;
                }
    
                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
    
            .cs-button-transparent {
                font-size: calc(16 / 16 * 1rem);
                /* 46px - 56px */
                line-height: clamp(2.875rem, 5.5vw, 3.5rem);
                text-decoration: none;
                font-family: var(--smallCaps);
                font-weight: 600;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 3px;
                margin: 0;
                color: var(--accent500);
                min-width: calc(150 / 16 * 1rem);
                padding: 0 calc(24 / 16 * 1rem);
                background-color: transparent;
                display: inline-block;
                position: relative;
                z-index: 1;
                /* prevents padding from adding to the width */
                box-sizing: border-box;
                transition:
                    background-color 0.3s,
                    color 0.3s;
    
                &:hover {
                    color: var(--textLight);
                    background: var(--accent500);
                }
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-288 {
        text-align: left;
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            column-gap: calc(100 / 16 * 1rem);
        }

        .cs-content {
            width: 40%;
            /* prevents flex-box from squishing it */
            flex: none;
            align-items: flex-start;

            #button-box-838 {
                justify-content: flex-start;
            }
        }

        .cs-title,
        .cs-text {
            text-align: left;
        }

        .nm-subhead {
            text-align: left;
        }

        .cs-picture {
            max-width: calc(630 / 16 * 1rem);
            aspect-ratio: 630 / 814;
            /* 623px - 814px */
            height: auto;
        }

        .cs-waves {
            height: 100%;
            width: calc(40vw + 9rem);
            left: 50%;
            margin-left: calc(200 / 16 * 1rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-288 {
            background: var(--medium);
            .cs-title {
                color: var(--textLight);
            }

            .cs-text {
                color: var(--textLight);
                opacity: .8;
            }

            .nm-subhead, .nm-subhead-md {
                color: var(--textLight);
            }

            .cs-waves {
                opacity: 0.5;
                filter: brightness(160%);
            }

            #button-box-838 {
                .cs-button-transparent {
                    color: var(--textLight);
                }
            }
        }
    }
}

                        