/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #dark-mode-toggle {
            .cs-sun {
                opacity: 1;
                transform: translate(-50%, -50%);
            }

            .cs-moon {
                opacity: 0;
                transform: translate(-50%, -150%);
                fill: #fff;
            }
        }
    }

    #dark-mode-toggle {
        z-index: 1000;
        position: absolute;
        right: calc(60 / 16 * 1rem);
        display: block;
        border: none;
        background: transparent;
        height: calc(48 / 16 * 1rem);
        width: calc(48 / 16 * 1rem);
        overflow: hidden;
        padding: 0;

        img,
        svg {
            //center image inside button
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: calc(20 / 16 * 1rem);
            width: calc(20 / 16 * 1rem);
            pointer-events: none;
        }

        .cs-moon {
            z-index: 2;
            fill: var(--textLight);
            // Transition properties
            transition:
                transform 0.3s,
                opacity 0.3s;

            // fill: yellow; --> uncomment to change the color of the moon if needed
        }

        .cs-sun {
            z-index: 1;
            opacity: 0;
            // Transition property
            transform: translate(-50%, 100%);
            transition:
                transform 0.3s,
                opacity 0.3s;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #dark-mode-toggle {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        margin: 0;

        &:hover {
            cursor: pointer;
        }
    }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body {
        &.cs-open {
            overflow: hidden;
        }
    }

    #cs-navigation {
        z-index: 10000;
        position: fixed;
        background: var(--textLight);
        width: 100%;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        padding: calc(12 / 16 * 1rem) calc(16 / 16 * 1rem);
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        font-family: var(--smallCaps);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;

        .cs-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
        }

        .cs-logo {
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 0 0;
            height: 100%;
            max-width: calc(300 / 16 * 1rem);
            width: 70%;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            padding: 0;

            img {
                height: 100%;
                width: 100%;
                aspect-ratio: 25 / 3;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
                /* places the image to the left edge of the parent */
                object-position: left;
            }
        }

        .light-mode-logo {
            display: block;
        }

        .dark-mode-logo {
            display: none;
        }

        .cs-toggle {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            margin: 0 0 0 auto;
            background: transparent;
            height: clamp(2.75rem, 6vw, 3rem);
            /* 44px - 48px */
            width: clamp(2.75rem, 6vw, 3rem);
        }

        .cs-active {
            .cs-line1 {
                top: 50%;
                transform: translate(-50%, -50%) rotate(225deg);
            }

            .cs-line2 {
                top: 50%;
                transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
                transform-origin: center;
            }

            .cs-line3 {
                bottom: 100%;
                opacity: 0;
            }
        }

        .cs-box {
            position: relative;
            /* 14px - 16px */
            height: clamp(0.875rem, 1.5vw, 1rem);
            /* 24px - 28px */
            width: clamp(1.5rem, 2vw, 1.75rem);
        }

        .cs-line {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background: var(--primary);
            height: 2px;
            width: 100%;
        }

        .cs-line1 {
            top: 0;
            transition:
                transform 0.5s,
                top 0.3s,
                left 0.3s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
            transform-origin: center;
        }

        .cs-line2 {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition:
                top 0.3s,
                left 0.3s,
                transform 0.5s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }

        .cs-line3 {
            bottom: 0;
            transition:
                bottom 0.3s,
                opacity 0.3s;
        }

        .cs-ul-wrapper {
            z-index: -1;
            position: absolute;
            top: 100%;
            left: auto;
            right: 0;
            opacity: 0;
            visibility: hidden;
            transform: scaleX(0);
            background: var(--textLight);
            height: 100vh;
            overflow: hidden;
            transition:
                transform 0.4s,
                opacity 0.3s;
            box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
            transform-origin: top right;
        }

        .cs-ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0;
            height: 65vh;
            min-width: 40%;
            width: auto;
            overflow: scroll;
            /* 28px - 40px */
            padding: calc(48 / 16 * 1rem) clamp(1.75rem, 3vw, 2.5rem)
                calc(32 / 16 * 1rem) calc(70 / 16 * 1rem);
            gap: calc(20 / 16 * 1rem);
        }

        .cs-li {
            opacity: 0;
            /* transition from these values */
            transform: translateX(calc(-40 / 16 * 1rem));
            margin-right: 0;
            width: 100%;
            list-style: none;
            transition:
                transform 0.6s,
                opacity 0.9s;
            text-align: right;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
        }

        .cs-li-link {
            position: relative;
            display: inline-block;
            margin: 0;
            text-decoration: none;
            /* 16px - 24px */
            font-size: clamp(0.875rem, 2vw, 1.25rem);
            line-height: 1.2em;
            color: var(--primary600);
            font-family: var(--smallCaps);
            font-weight: 600;
            letter-spacing: 3px;
            text-transform: uppercase;

            &:before {
                position: absolute;
                bottom: calc(-2 / 16 * 1rem);
                left: 0;
                /* active state underline */
                content: "";
                opacity: 1;
                display: none;
                background: var(--secondary300);
                height: 1px;
                width: 100%;
            }

            &.cs-active {
                &:before {
                    display: block;
                }
            }
        }

        .cs-button-solid {
            display: none;
        }

        &:before {
            z-index: -11;
            position: absolute;
            top: 100%;
            right: 0;
            /* black blurred overlay */
            content: "";
            opacity: 0;
            display: block;
            background: rgba(7, 18, 25, 0.6);
            height: 100vh;
            width: 0%;
            transition:
                width 0.5s,
                opacity 0.3s;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }

        &.cs-active {
            .cs-ul-wrapper {
                opacity: 1;
                visibility: visible;
                transform: scaleX(1);
                transition-delay: 0.2s;
            }

            .cs-li {
                opacity: 1;
                transform: translateX(0);
            }
            &:before {
                opacity: 1;
                width: 100%;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (max-width: 63.9375rem) {
    body.dark-mode {
        #cs-navigation {
            background: var(--dark);

            .light-mode-logo {
                display: none;
            }

            .dark-mode-logo {
                display: block;
            }

            .cs-line {
                background: var(--secondary300);
            }

            .cs-ul-wrapper {
                background: var(--medium);
            }

            .cs-li-link {
                color: var(--textLight);

                &:before {
                    background: var(--secondary300);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    #cs-navigation {
        .cs-dropdown {
            position: relative;
            color: var(--accent200);

            .cs-li-link {
                position: relative;
                transition: opacity 0.3s;
                font-family: var(--smallCaps);
                font-size: clamp(0.875rem, 2vw, 1.25rem);
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            &.cs-active {
                .cs-drop-ul {
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                    margin: calc(12 / 16 * 1rem) 0 0 0;
                    height: auto;
                    padding: calc(24 / 16 * 1rem);
                }

                .cs-drop-link {
                    opacity: 1;
                }
            }
        }

        .cs-dropdown-button {
            border: none;
            background: transparent;
            font-family: inherit;
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            cursor: pointer;
            appearance: none;
        }

        .cs-drop-icon {
            position: absolute;
            top: 50%;
            right: calc(-20 / 16 * 1rem);
            transform: translateY(-50%);
            height: auto;
            width: calc(15 / 16 * 1rem);
        }

        .cs-drop-ul {
            visibility: hidden;
            opacity: 0;
            transform: scale(0);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0;
            background: var(--secondary);
            height: 0;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            padding: 0 calc(24 / 16 * 1rem) 0 calc(24 / 16 * 1rem);
            transition:
                padding 0.3s,
                margin 0.3s,
                height 0.3s,
                opacity 0.3s,
                transform 0.3s,
                visibility 0.3s;
            gap: calc(12 / 16 * 1rem);
            transform-origin: top right;
        }

        .cs-drop-li {
            list-style: none;
            text-align: inherit;
        }

        .cs-li-link {
            &.cs-drop-link {
                /* 14px - 16px */
                font-size: clamp(0.875rem, 2vw, 1.25rem);
                color: var(--textDark);
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        .cs-dropdown {
            position: relative;

            &.cs-active,
            &:hover {
                cursor: pointer;
                .cs-drop-ul {
                    visibility: visible;
                    opacity: 1;
                    transform: scaleY(1);
                }

                .cs-drop-li {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .cs-dropdown-button {
            border: none;
            background: transparent;
            font-family: inherit;
            font-size: inherit;
            cursor: pointer;
            appearance: none;
        }

        .cs-drop-icon {
            display: inline-block;
            height: auto;
            width: calc(15 / 16 * 1rem);
        }

        .cs-drop-ul {
            z-index: -100;
            /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
            // columns: 2;
            position: absolute;
            top: 100%;
            visibility: hidden;
            opacity: 0;
            transform: scaleY(0);
            border-bottom: 5px solid var(--secondary300);
            margin: 0;
            background: var(--textLight);
            min-width: calc(200 / 16 * 1rem);
            overflow: hidden;
            padding: 0;
            transition:
                transform 0.3s,
                visibility 0.3s,
                opacity 0.3s;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 16px;
            transform-origin: top;
        }

        .cs-drop-li {
            opacity: 0;
            transform: translateY(calc(-10 / 16 * 1rem));
            display: block;
            height: auto;
            width: 100%;
            list-style: none;
            text-decoration: none;
            font-size: calc(16 / 16 * 1rem);
            color: var(--textDark);
            transition:
                opacity 0.6s,
                transform 0.6s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(11) {
                transition-delay: 0.55s;
            }
            &:nth-of-type(12) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(13) {
                transition-delay: 0.65s;
            }
        }

        .cs-li-link {
            &.cs-drop-link {
                display: block;
                width: 100%;
                /* prevents padding from affecting height and width */
                box-sizing: border-box;
                padding: calc(12 / 16 * 1rem);
                white-space: nowrap;
                text-decoration: none;
                font-size: calc(16 / 16 * 1rem);
                line-height: 1.5em;
                letter-spacing: 1.5px;
                color: var(--textDark);
                transition:
                    color 0.3s,
                    background 0.3s;

                &:hover {
                    background: var(--secondary);
                }

                &:focus-visible {
                    outline: 2px solid currentColor;
                    outline-offset: -4px;
                }

                &:before {
                    display: none;
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cs-navigation {
            .cs-drop-ul {
                background: var(--primary);
            }

            .cs-li-link {
                &.cs-drop-link {
                    &:hover {
                        background: var(--medium);
                    }
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {

    #cs-navigation {
        z-index: 10000;
        position: fixed;
        background: var(--textLight);
        width: 100%;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        padding: 0 calc(16 / 16 * 1rem);
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;

        li {
            margin-bottom: 0; 
        }

        .cs-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: auto;
            max-width: calc(1280 / 16 * 1rem);
            width: 100%;
            gap: calc(24 / 16 * 1rem);
        }

        .cs-toggle {
            display: none;
        }

        .cs-logo {
            z-index: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            /* margin-right auto pushes everything away from it to the right */
            margin: 0 auto 0 0;
            height: calc(65 / 16 * 1rem);
            max-width: calc(350 / 16 * 1rem);
            width: 25%;
            padding: 0;

            img {
                height: 100%;
                width: 100%;
                aspect-ratio: 25 / 3;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .light-mode-logo {
            display: block;
        }

        .dark-mode-logo {
            display: none;
        }

        .cs-ul {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
            width: 100%;
            padding: 0;
            /* 20px - 36px */
            gap: clamp(1.25rem, 2.6vw, 2.25rem);
        }

        .cs-button-solid {
            font-size: clamp(.7rem, 1.8vw, .9rem);
            align-self: center;
        }

        .cs-li {
            padding: calc(32 / 16 * 1rem) 0;
            list-style: none;
            /* prevent flexbox from squishing it */
            flex: none;
        }

        .cs-li-link {
            position: relative;
            display: block;
            align-self: center;
            margin: 0;
            text-decoration: none;
            font-family: var(--smallCaps);
            font-weight: 600;
            /* 14px - 16px */
            font-size: clamp(.7rem, 1.8vw, .9rem);
            line-height: 1.2em;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: var(--primary600);
            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                position: absolute;
                bottom: calc(0 / 16 * 1rem);
                left: 0;
                /* active state underline */
                content: "";
                opacity: 1;
                display: block;
                background: var(--secondary300);
                height: 2px;
                width: 0%;
                transition: width 0.3s;
            }

            &.cs-active {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 64rem) {
    body.dark-mode {
        #cs-navigation {
            background: var(--dark);

            .light-mode-logo {
                display: none;
            }

            .dark-mode-logo {
                display: block;
            }

            .cs-li-link {
                color: var(--textLight);
            }

            .cs-li-link {
                &:before {
                    background: var(--secondary200);
                }
            }

            .cs-button-solid {
                background: var(--primary400);
                color: var(--textLight);

                &:before {
                    background: var(--accent500);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-1612 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        display: none;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title, .cs-topper, .cs-text {
            color: var(--textLight);
        }

        .cs-title {
            max-width: 30ch;
        }

        .cs-text {
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            opacity: .8;
        }

        .cs-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-input {
            font-family: var(--bodyFont);
            font-weight: 300;
            font-size: calc(16 / 16 * 1rem);
            width: 100%;
            height: clamp(2.875rem, 5.5vw, 3.5rem);
            margin: 0;
            padding: 0;
            padding-left: calc(20 / 16 * 1rem);
            border: none;
            background: var(--textLight);
            color: var(--textDark);

            box-shadow: 
                inset 0 0 .375rem rgba(0, 0, 0, .3);
            /* prevents padding from adding to width and height */
            box-sizing: border-box;
            display: block;
            &::placeholder {
                color: var(--textMid);
            }
        }

       .cs-button-solid {
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            background: var(--secondary200);
            color: var(--accent700);
            
            &:hover {
                color: var(--textLight);
            }
       }

        .cs-submit {
            width: 100%;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }

        .cs-wrapper {
            display: none;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* black overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #19130d;
                opacity: 0.6;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                aspect-ratio: 4 / 3;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cta-1612 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-form {
            flex-direction: row;
        }

        .cs-input {
            width: calc(360 / 16 * 1rem);
        }

        .cs-submit {
            width: calc(222 / 16 * 1rem);
        }

        .cs-wrapper {
            width: 100%;
            max-width: calc(1774 / 16 * 1rem);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
        }
    }
}

/* Large Desktop 1300px - Parallax Scroll */
@media only screen and (min-width: 81.25rem) {
    #cta-1612 {
        background: url("/assets/images/newsletter-cta-w.webp");
        background-size: cover;
        background-position: center 20%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        .cs-background {
            img {
                display: none;
                aspect-ratio: 16 / 9;
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-1293 {
        padding: var(--sectionPadding);
        padding-bottom: calc(20/16 * 1rem);
        box-sizing: border-box;
        overflow: hidden;
        background: var(--primary600);
        position: relative;
        z-index: 10;

        .cs-container {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            column-gap: calc(24/16 * 1rem);
            row-gap: calc(36/16 * 1rem);
        }

        .cs-logo-group {
            /* takes up all the space, lets the other ul's wrap below it */
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            justify-content: center;
            align-items: center;
            column-gap: 2rem;
        }

        .cs-logo {
            width: calc(197/16 * 1rem);
            height: auto;
            display: block;
            /* 20px - 24px */
            margin: 0 0 clamp(1.25rem, 2vw, 1.5rem) 0;
        }

        .cs-logo-img {
            width: 100%;
            height: auto;

            &.dark {
                display: none;
            }
        }

        .cs-text {
            color: var(--textLight);
            margin: 0 0 calc(32/16 * 1rem);
            font-size: 1rem;
            font-weight: 300;
        }

        .cs-link {
            font-size: calc(14/16 * 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--textLight);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(12/16 * 1rem);
            transition: color 0.3s;

            &:hover {
                color: var(--primary100);
            }
        }

        /* Navigation Links */

        .cs-nav {
            width: 45%;
            max-width: calc(180/16 * 1rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(16/16 * 1rem);
        }

        .cs-nav-li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .cs-header {
            font-size: calc(16/16 * 1rem);
            font-family: var(--smallCaps);
            text-transform: uppercase;
            letter-spacing: 3px;
            line-height: 1.2em;
            font-weight: 600;
            margin-bottom: calc(8/16 * 1rem);
            color: var(--textLight);
            position: relative;
            display: block;
        }

        .cs-nav-link {
            font-size: calc(14/16 * 1rem);
            text-decoration: none;
            line-height: 1.5em;
            width: auto;
            color: var(--textLight);
            opacity: 0.8;
            position: relative;
            display: inline-block;
            transition: color 0.3s;

            &:before {
                /* underline */
                content: "";
                width: 0%;
                height: calc(2/16 * 1rem);
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(-2/16 * 1rem);
                left: 0;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--primary100);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-bottom {
            max-width: calc(1280/16 * 1rem);
            margin: auto;
            /* 48px - 100px */

            /* 20px - 32px */
            padding: clamp(1.25rem, 3vw, 2rem) 0 0 0;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: calc(36/16 * 1rem);
            row-gap: calc(12/16 * 1rem);
        }

        .cs-copyright {
            font-size: calc(14/16 * 1rem);
            line-height: 1.5em;
            color: var(--textLight);
            opacity: 0.8;

            .cs-copyright-link {
                opacity: 1;
            }
        }

        .cs-copyright-link {
            font-size: calc(14/16 * 1rem);
            line-height: 1.5em;
            color: var(--textLight);
            opacity: 0.8;
        }

        .cs-copyright {
            text-align: center;
            width: 100%;
        }

        .cs-copyright-link {
            text-decoration: none;
            transition: color 0.3s;
            &:hover {
                color: var(--primary100);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-1293 {
        .cs-container {
            row-gap: 0;
            flex-direction: row;
            flex-wrap: nowrap;
            /* 40px - 88px */
            column-gap: clamp(2.5rem, 5vw, 5.5rem);
            row-gap: calc(32/16 * 1rem);
            justify-content: flex-start;
        }

        .cs-logo-group {
            width: 30%;
            max-width: calc(384/16 * 1rem);
            margin-right: auto;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
        }

        
        .cs-nav {
            width: auto;
        }

        .cs-bottom {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        .cs-copyright {
            text-align: left;
            width: auto;
            margin-right: auto;
        }

        .cs-floater {
            display: block;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-1293 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-wrap: nowrap;
            /* align everything to the right */
            justify-content: flex-end;
            column-gap: clamp(2.5rem, 6vw, 5.25rem);
        }

        .cs-logo-group {
            width: 100%;
            max-width: calc(600/16 * 1rem);
            /* pushes away from everything to the right */
            margin-right: auto;
            align-items: center;
            flex-flow: row nowrap;
        }

        .cs-text {
            width: 100%;
        }

        .cs-graphic {
            display: block;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cs-footer-1293 {
            background: var(--dark);
            
            .cs-header {
                color: var(--secondary);
            }
        }
    }
}
