.nm-subhead {
    font-size: 1.75rem;
    font-family: var(--headerFont);
    font-weight: 400;
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-2175 {
        max-width: calc(1920/16 * 1rem);
        margin: auto;
        position: relative;
        z-index: 10;
        background: var(--primary600);

        &:before {
            /* background color */
            content: '';
            width: 100vw;
            height: 100%;
            background: var(--primary600);
            opacity: 1;
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-container {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            /* 60px - 100px top & bottom */
            /* 16px - 100px left and right */
            padding: clamp(3.75rem, 7vw, 6.25rem) clamp(1rem, 4vw, 6.25rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: calc(32/16 * 1rem);
            position: relative;
            z-index: 15;
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            box-sizing: border-box;
            grid-column: span 12;
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(16/16 * 1rem);
        }

        .cs-icon {
            width: calc(64/16 * 1rem);
            height: auto;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-family: var(--smallCaps);
            font-size: 1.25rem;
            font-weight: 400;
            text-align: inherit;
            text-transform: uppercase;
            letter-spacing: 3px;
            line-height: 1.2em;
            margin: 0;
            color: var(--textLight);
            display: flex;
            align-items: center;
            gap: calc(8/16 * 1rem);
            transition: color .3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            text-align: inherit;
            font-weight: 400;
            line-height: 1.5em;
            margin: 0;
            color: var(--textLight);
            opacity: .8;
            transition: color .3s, opacity .3s;

            strong {
                color: var(--secondary200);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-2175 {
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: calc(48/16 * 1rem);
        }

        .cs-title {
            margin: 0;
        }

        .cs-card-group {
            /* 32px - 60px */
            column-gap: clamp(2rem, 6vw, 3.75rem);
        }

        .cs-flex-group {
            width: 50%;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-item {
            grid-column: span 4;
        }
    }
}
                                
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-2175 {
            background: var(--primary);
            &:before {
                background: rgba(0, 0, 0, .6);
            }
        }
    }
}
        
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-576,
    #RPsbsr-576 {
        background: var(--primary);

        ul {
            margin-bottom: 2rem;
        }

        li {
            color: var(--textLight);
            line-height: 1.5;
        }
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            /* moved section padding to the .cs-content so we can have the cs-picture be full width on mobile without the padding preventing it from doing so */
            padding: var(--sectionPadding);
            padding-top: 0;
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-title {
            color: var(--textLight);
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            color: var(--textLight);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .nm-subhead {
            color: var(--textLight);
            opacity: .9;
        }

        .nm-featured-link {
            font-family: var(--headerFont);
            color: var(--primary100);
            text-decoration: none;


            /* &:visited {
                color: var(--accent100);
            } */

            &:hover {
                color: var(--primary200);
                text-decoration: underline;
                text-underline-offset: .2em;
            }
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            height: calc(300 / 16 * 1rem);

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbs-576,
    #RPsbsr-576 {
        /* we use margin here instead of padding because we want to create the space OUTSIDE the section.  The overflow on the section clips the boxes we made to make the slanted designs, so we need to push from the outside of the section with margin to create space between it and the next section.  If the section above this Stitch has a white background, add margin-top: 0. If it has a white section below it, add margin-bottom: 0. This will allow more proper spacing and not have too much empty space.  If both sections above and below this Stitch have white backgrounds, you can just remove this margin all together */
        margin: var(--sectionPadding);
        margin-left: 0;
        margin-right: 0;
        padding: var(--sectionPadding);
        background: transparent;
        /* clips the red box from overflowing the section */
        overflow: hidden;

        .cs-container {
            flex-direction: row;
            position: relative;
            z-index: 1;
            &:before {
                /* red box */
                content: "";
                width: 100vw;
                margin-left: -38%;
                background: var(--primary);
                opacity: 1;
                display: block;
                position: absolute;
                top: calc(-150 / 16 * 1rem);
                bottom: calc(-150 / 16 * 1rem);
                left: 50%;
                z-index: -1;
            }
        }

        .cs-content {
            width: 51%;
            /* reset the padding, add the section padding back to the section container */
            padding: 0;
        }

        .cs-picture {
            width: 47vw;
            max-width: calc(618 / 16 * 1rem);
            height: calc(536 / 16 * 1rem);
            /* 24px - 32px, added margin top and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it top and bottom. This maintains consistent spacing top and bottom */
            margin: clamp(1.5rem, 3vw, 2rem) 0 clamp(1.5rem, 3vw, 2rem)
                clamp(1.5rem, 3vw, 2rem);
            position: relative;

            &:before {
                /* yellow box */
                content: "";
                width: 50%;
                background: var(--secondary300);
                opacity: 1;
                display: block;
                position: absolute;
                /*24px - 32px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
                top: calc(clamp(1.5rem, 3vw, 2rem) * -1);
                bottom: calc(clamp(1.5rem, 3vw, 2rem) * -1);
                left: calc(clamp(1.5rem, 3vw, 2rem) * -1);
            }
        }
    }
}

/* Dark Mode - 768px */
@media only screen and (min-width: 48rem) {
    body.dark-mode {
        #RPsbs-576,
        #RPsbsr-576 {
            .cs-container {
                
                &:before {
                    background: var(--medium);
                }
            }
            
            .cs-picture {
                &:before {
                background: var(--accent);
                }
            }

            .nm-button-outline {
                border: 2px solid var(--primary400);
                background: var(--medium);
            }

            .cs-button-solid {
                background: var(--primary400);
                color: var(--textLight);

                &:before {
                    background: var(--accent500);
                }
            }
        }
    }
    
}

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-576 {
        background: var(--primary600);
        .cs-topper {
            color: var(--secondary);
        }

        .cs-title {
            color: var(--textLight);
        }

        .cs-text {
            color: var(--textLight);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbsr-576 {
        background: transparent;
        .cs-container {
            justify-content: flex-end;
            &:before {
                /* auto resets the left and margin left values */
                margin-left: auto;
                margin-right: -38%;
                left: auto;
                right: 50%;
                background: var(--primary600);
            }
        }

        .cs-content {
            /* pushes to the left in the 1st position */
            order: -1;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-title,
        .cs-text {
            color: var(--textLight);
        }

        .cs-picture {
            /* 24px - 32px, added margin top and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it top and bottom. This maintains consistent spacing top and bottom */
            margin: clamp(1.5rem, 3vw, 2rem) clamp(1.5rem, 3vw, 2rem)
                clamp(1.5rem, 3vw, 2rem) 0;

            &:before {
                left: auto;
                /* wrapped in calc function to multiple by negative 1 and get a negative clamp value */
                right: calc(clamp(1.5rem, 3vw, 2rem) * -1);
            }
        }
    }
}

/* Dark Mode - max 767px */
@media only screen and (max-width: 47.9375rem) {
    body.dark-mode {
        #RPsbsr-576 {
            background: var(--dark);

            .cs-topper {
                color: var(--secondary);
            }

            .cs-title,
            .cs-text {
                color: var(--textLight);
            }
        }
    }
}

/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-585 {
        padding: var(--sectionPadding);
        background: var(--secondary);

        .cs-topper {
            color: var(--accent500);
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: calc(20 / 16 * 1rem);
        }

        .cs-item {
            list-style: none;
            min-height: calc(290 / 16 * 1rem);
            /* 16px - 24px left & right */
            padding: calc(16 / 16 * 1rem) clamp(1rem, 1.8vw, 1.5rem);
            border-bottom: 1px solid var(--accent500);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &:last-of-type {
                border: none;
            }
        }

        .cs-h3 {
            font-family: var(--smallCaps);
            font-size: calc(20 / 16 * 1rem);
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 400;
            line-height: 1.2em;
            text-align: left;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--textDark);
            display: block;
        }

        .cs-item-text {
            font-size: var(--bodyFontSize);
            line-height: 1.4em;
            text-align: left;
            margin: 0;
            color: var(--textDark);
        }

        .cs-number {
            font-family: var(--smallCaps);
            font-size: calc(61 / 16 * 1rem);
            font-weight: 400;
            line-height: 1.2em;
            /* auto pushes against other elements in a flexbox, this one forces it to be at the bottom of the flexbox */
            margin: auto 0 0 0;
            color: var(--accent500);
            display: block;
            font-variant-numeric: lining-nums;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-585 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .cs-item {
            width: 48%;
            &:nth-of-type(3) {
                border-bottom: none;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #steps-585 {
        .cs-card-group {
            flex-wrap: nowrap;
        }

        .cs-item {
            border-bottom: none;
            border-right: 1px solid var(--accent500);
        }
        
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #steps-585 {
            background: var(--medium);

            .cs-topper {
                color: var(--secondary200);
            }
            .cs-title {
                color: var(--textLight);
            }

            .cs-item {
                border-color: var(--textLight);
            }

            .cs-item-text {
                color: var(--textLight);
                opacity: 0.8;
            }

            .cs-h3 {
                color: var(--textLight);
            }
            
            .cs-number {
                color: var(--secondary300);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Price             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-menu-group-1038 {
        text-align: left;
        height: auto;
        padding: var(--sectionPadding);
        position: relative;
        background: var(--primary600);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        /* Content Group */
        #cs-content-1801 {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        max-width: calc(1280/16 * 1rem);
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;

        .cs-title {
            max-width: 25ch;
        }
    }
        .cs-topper {
            color: var(--secondary200);
        }

        .cs-title, .cs-text {
            color: var(--textLight);
        }

        .cs-icon {
            width: 40%;
            /* 100px - 180px */
            max-width: clamp(6.25rem, 18vw, 11.25rem);
            height: auto;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-title {
            margin: 0 0 calc(32 / 16 * 1rem);
        }

        .cs-text {
            margin-bottom: 1rem;
        }
        .cs-hidden {
            display: none;
        }

        .cs-button-group {
            width: auto;
            max-width: calc(1000 / 16 * 1rem);
            margin: 0;
            /* 16px - 28px top & bottom */
            /* 32px - 48px left & right */
            padding: calc(20 / 16 * 1rem) 0 0 0;
            display: inline-flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-end;
            /* 24px - 36px */
            column-gap: clamp(1.5rem, 2vw, 2.25rem);
            row-gap: calc(12 / 16 * 1rem);
        }

        .cs-button {
            font-family: var(--smallCaps);
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 400;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            color: var(--textLight);
            opacity: .8;
            background: transparent;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;
            transition:
                color 0.3s,
                font-weight 0.3s,
                color 0.3s;

            &:hover {
                color: var(--primary100);
                cursor: pointer;
            }

            &:before {
                position: absolute;
                bottom: calc(-2 / 16 * 1rem);
                left: 0;
                /* active state underline */
                content: "";
                opacity: 1;
                display: none;
                background: var(--secondary300);
                height: 2px;
                width: 100%;
            }

            &.cs-active {
                color: var(--textLight);
                font-weight: 700;
                opacity: 1;
                &:after {
                    width: clamp(1.5625rem, 3vw, 2.25rem);
                    opacity: 1;
                    /* 8px - 16px */
                    margin-left: clamp(0.5rem, 0.5vw, 1rem);
                }
                &:before {
                    display: block;
                }
            }
        }

        .cs-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 32px - 64px */
            gap: clamp(2rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 20;
        }

        .cs-menu-list {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            /* 32px - 60px */
            row-gap: clamp(2rem, 6vw, 3.75rem);
            position: relative;
            z-index: 20;
        }

        .cs-menu-row {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            /* 32px - 60px */
            row-gap: clamp(2rem, 6vw, 3.75rem);
        }

        .cs-menu-item {
            text-align: left;
            list-style: none;
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 400;
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: calc(16 / 16 * 1rem);
            position: relative;

            &:after {
                /* divider line */
                content: "";
                width: 75%;
                height: 1px;
                background: var(--secondary300);
                opacity: 1;
                position: relative;
                display: block;
                order: 1;
            }
        }

        .cs-name {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            max-width: 16ch;
            margin-right: auto;
            display: block;
            /* prevents flexbox from squishing it */
            flex: none;
            color: var(--textLight);
        }

        .cs-price {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 400;
            width: auto;
            margin: 0;
            padding: calc(8 / 16 * 1rem) calc(12 / 16 * 1rem);
            color: var(--textLight);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: block;
            /* prevents flexbox from squishing it */
            flex: none;
            /* forces it into the 3rd position */
            order: 3;
            font-variant-numeric: lining-nums;
        }

        .nm-price-mod {
            font-family: var(--smallCaps);
            font-size: .75rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 300;
            opacity: .8;
        }

        .cs-menu-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            margin: 0;
            color: var(--textLight);
        }

        .cs-button-solid {
            color: var(--textLight);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-menu-group-1038 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        #cs-content-1801 {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .cs-button-group {
            justify-content: flex-end;
            align-items: center;
        }

        .cs-menu-row {
            width: 100%;
            flex-direction: row;
            justify-content: stretch;
            /* 32px - 80px */
            gap: clamp(2em, 4vw, 5rem);

            &.cs-3 {
                .cs-h3 {
                    gap: calc(8 / 16 * 1rem);
                    &:after {
                        display: none;
                    }
                }
                .cs-name {
                    font-size: clamp(1rem, 2vw, 1.5625rem);
                    width: 70%;
                    max-width: 20ch;
                }
            }
        }

        .cs-menu-item {
            max-width: calc(600 / 16 * 1rem);
            margin: 0 auto;
        }

        .cs-name {
            width: fit-content;
            max-width: 70%;
        }
    }
}

/* Large Desktop 1300px - Parallax Scroll */
@media only screen and (min-width: 81.25rem) {
    #cs-menu-group-1038 {
        background: url("/assets/textures/price-texture.webp");
        background-color: var(--primary600);
        background-size: cover;
        background-position: center 20%;
        background-repeat: no-repeat;
        background-attachment: fixed;

        &:before {
            /* black overlay */
            content: "";
            width: 100%;
            height: 100%;
            background: #19130d;
            opacity: 0.6;
            position: relative;
            display: block;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .cs-background {
            img {
                display: none;
            }
        }
    }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-2066 {
        display: none;
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;

        .cs-topper {
            color: var(--accent500);
        }
        
        .cs-container {
            width: 100%;
            max-width: calc(704/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-flex-group {
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: calc(32/16 * 1rem);
            position: relative;
        }

        .cs-button-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            gap: calc(12/16 * 1rem);
            align-self: stretch;
        }

        .cs-option {
            /* 16px - 20px */
            font-family: var(--smallCaps);
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: 3px;
            font-weight: 600;
            /* 50px - 72px */
            line-height: 1.2em;
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            padding: calc(12/16 * 1rem);
            border: none;
            background: var(--secondary400);
            box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
            color: var(--textLight);
            position: relative;
            z-index: 1;
            filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .5));

            &:before {
                /* background color */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
                opacity: 0;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: opacity 0.3s;
            }

            &:hover {
                &:hover {
                    cursor: pointer;
                    color: var(--textLight);

                    &:before {
                        opacity: .8;
                    }
                }
            }

            &.cs-active {
                color: var(--textLight);
                background: var(--primary400);

                &:before {
                    opacity: 1;
                }
            }
        }

        .cs-wrapper {
            position: relative;
        }

        .cs-faq-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(8/16 * 1rem);
            transform-style: preserve-3d;
            perspective: 900px;
            transition:
                transform 0.7s,
                opacity 0.3s,
                visibility 0.5s,
                top 0.3s,
                left 0.3s;
            /* makes the transfrom scaling orgin the top left corner, dictates the direction by which the scale transforms animate towards */
            transform-origin: top;

            &.cs-hidden {
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                position: absolute;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the FAQ won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-flex-group (left: 0). Same for the bottom:0 value, the FAQ won't go past that position when it animates */
                top: 0;
                left: 0;
                /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0);

                .cs-faq-item {
                    opacity: 0;
                    transform: rotateX(270deg);
                }
            }
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            opacity: 1;
            border-bottom: 1px solid var(--accent400);
            top: 0;
            transform: rotateX(0deg);
            transition:
                transform 0.6s,
                opacity 0.3s;

            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.7s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.8s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.9s;
            }

            &:last-of-type {
                border-bottom: none;
            }

            &.active {
                .cs-button {
                    color: var(--accent400);
                    &:before {
                        background: var(--accent200);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background: var(--accent200);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 0 calc(24/16 * 1rem) 0;
                    opacity: 1;
                }
            }
        }

        .cs-button {
            /* 16px - 20px */
            font-family: var(--headerFont);
            font-size: clamp(1.25rem, 2vw, 1.75rem);
            font-weight: 400;
            line-height: 1.2em;
            text-align: left;
            width: 100%;
            padding: calc(24/16 * 1rem) 0;
            background-color: transparent;
            color: var(--textDark);
            border: none;
            display: block;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: calc(8/16 * 1rem);
                height: calc(2/16 * 1rem);
                background: var(--accent200);
                opacity: 1;
                display: block;
                position: absolute;
                top: 50%;
                right: calc(24/16 * 1rem);
                transform: rotate(45deg);
                transition: transform 0.5s;
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
            }

            &:after {
                /* right line */
                content: "";
                width: calc(8/16 * 1rem);
                height: calc(2/16 * 1rem);
                background: var(--accent200);
                opacity: 1;
                display: block;
                position: absolute;
                top: 50%;
                right: calc(21/16 * 1rem);
                transform: rotate(-45deg);
                transition: transform 0.5s;
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            padding: 0;
            /* clips the text so it doesn't show up */
            overflow: hidden;
            color: var(--textDark);
            opacity: 0;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }

        .cs-cta {
            text-align: center;
            width: 100%;
            margin: 0;
            /* 32px - 40px */
            padding: clamp(2rem, 4vw, 2.5rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background: var(--secondary);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: opacity 0.3s;
            }
        }

        .cs-flex {
            display: flex;
            flex-direction: column;
        }

        .cs-cta-title {
            font-size: calc(31/16 * 1rem);
            font-weight: 400;
            line-height: 1.2em;
            margin: 0 0 calc(16/16 * 1rem) 0;
            color: var(--textDark);
        }

        .cs-cta-text {
            font-size: calc(16/16 * 1rem);
            line-height: 1.5em;
            margin: 0 0 calc(32/16 * 1rem) 0;
            color: var(--textDark);
        }

        .cs-button-solid {
            color: var(--textLight);
        }   
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #faq-2066 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
        }

        .cs-button-group {
            flex-direction: row;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-2066 {
        .cs-option {
            padding: calc(12/16 * 1rem) calc(24/16 * 1rem);
        }

        .cs-cta {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: calc(64/16 * 1rem);
        }

        .cs-cta-text {
            margin: 0;
        }

        .cs-button-solid {
            flex-shrink: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #faq-2066 {
            background: var(--dark);

            .cs-title,
            .cs-item-p,
            .cs-text {
                color: var(--textLight);
            }

            .cs-text, .cs-cta-text {
                opacity: 0.8;
            }

            .cs-topper {
                color: var(--secondary);
            }

            .cs-option {
                background: var(--primary600);
                color: var(--textLight);

                &:before {
                    background: var(--primary);
                }

                &.cs-active, &:hover {
                    background: var(--medium);
                    color: var(--textLight);
                }
            }

            .cs-item {
                background: var(--medium);
            }

            .cs-faq-item {
                transition: border-color .3s, transform .6s;
                border-color: var(--primary);
                &.active {
                    .cs-button {
                        color: var(--primary100);

                        &:before,
                        &:after {
                            background: var(--textLight);
                            opacity: .6;
                        }
                    }

                    .cs-item-p {
                        /* 20px - 24px */
                        padding-top: clamp(1.25rem, 1.3vw, 1.5rem);
                    }
                }

                &:nth-of-type(2) {
                    transition-delay: 0.1s;
                }
                &:nth-of-type(3) {
                    transition-delay: 0.2s;
                }
                &:nth-of-type(4) {
                    transition-delay: 0.3s;
                }
                &:nth-of-type(5) {
                    transition-delay: 0.4s;
                }
                &:nth-of-type(6) {
                    transition-delay: 0.5s;
                }
                &:nth-of-type(7) {
                    transition-delay: 0.6s;
                }
                &:nth-of-type(8) {
                    transition-delay: 0.7s;
                }
                &:nth-of-type(9) {
                    transition-delay: 0.8s;
                }
                &:nth-of-type(10) {
                    transition-delay: 0.9s;
                }
            }

            .cs-button {
                background: var(--dark);
                color: var(--textLight);
                &:before,
                &:after {
                    background: var(--textLight);
                    opacity: .6;
                }
            }

            .cs-cta-title, .cs-cta-text {
                color: var(--textLight);
            }

            .cs-cta {
                &:before {
                    background: var(--medium);
                    opacity: .8;
                }
            }

            .cs-graphic {
                display: none;
            }
        }
    }
}
                                
/*-- -------------------------- -->
<---      Why Choose Us         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1635 {
        padding: var(--sectionPadding);
        background: var(--primary600);
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 100px */
            gap: clamp(3rem, 10vw, 6.25rem);
        }
    
        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-flex {
            max-width: calc(616 / 16 * 1rem);
        }
    
        .cs-topper {
            color: var(--secondary);
        }

        .cs-title {
            max-width: 30ch;
            color: var(--textLight);
        }

        .cs-text {
            color: var(--textLight);
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            color: var(--textLight);
        }

        .cs-wrapper {
            width: 100%;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: calc(28 / 16 * 1rem);
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.3vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            align-items: flex-start;
            /* 16px - 24px */
            gap: clamp(1rem, 3vw, 1.5rem);
        }

        .cs-icon-wrapper {
            /* 60px - 80px */
            width: clamp(3.75rem, 7vw, 5rem);
            height: clamp(3.75rem, 7vw, 5rem);
            margin: 0;
            box-sizing: border-box;
            background: var(--primary400);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-icon {
            width: calc(48 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-family: var(--headerFont);
            font-size: calc(20 / 16 * 1rem);
            letter-spacing: 1px;
            font-weight: 400;
            line-height: 1.5em;
            margin: 0;
            margin-bottom: calc(8 / 16 * 1rem);
            color: var(--secondary);
            text-align: inherit;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--textLight);
            text-align: inherit;
        }

        .cs-wrapper {
            /* makes the contents of this container act as though the container doesn't exist. They are now children of the cs-container so they can be positioned around each other. This allows us to sue the order property to place the cs-image-group at the top of the page on mobile */
            display: contents;
        }

        .cs-image-group {
            font-size: min(2.7vw, 1em);
            width: calc(584 / 16 * 1em);
            height: calc(494 / 16 * 1em);
            /* sends it to teh top in the 1st position */
            order: -1;
            position: relative;
            z-index: 1;
        }

        .cs-picture-wrapper {
            width: 80.073801%;
            height: 83.805668%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: stretch;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
        }

        .cs-box {
            width: 60%;
            margin-top: calc(-38 / 16 * 1em);
            margin-left: calc(24 / 16 * 1em);
            padding: calc(16 / 16 * 1em);
            background: var(--primary400);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(4 / 16 * 1em);
            position: relative;
            z-index: 10;
        }

        .cs-header {
            font-family: var(--headerFont);
            font-size: calc(20 / 16 * 1em);
            letter-spacing: 1px;
            line-height: 1.2em;
            font-weight: 400;
            margin: 0;
            color: var(--textLight);
            display: block;
        }

        .cs-desc {
            font-size: calc(14 / 16 * 1em);
            line-height: 1.5em;
            margin: 0;
            color: var(--textLight);
            display: block;
        }

        .cs-picture {
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: 100%;
            height: 100%;
        }

        .cs-picture2 {
            width: 36.346863%;
            height: 39.878543%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1635 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .cs-flex {
            text-align: left;
            width: 40vw;
            max-width: calc(640 / 16 * 1rem);
            flex: none;
        }

        .cs-title {
            margin: 0;
        }

        .cs-h3,
        .cs-item-text {
            text-align: left;
        }
        
        .cs-item {
            grid-column: span 4;
        }

        .cs-image-group {
            width: 100%;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #why-choose-1635 {
        /* set the darker background color on the main div */
        background: var(--primary600);
        overflow: hidden;
        
        .cs-content {
            align-items: flex-start;
        }

        .cs-flex {
            width: 50%;
        }

        .cs-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            gap: calc(40 / 16 * 1rem);
            position: relative;
            z-index: 1;

            &:before {
                /* make the white space dependant on the height of the cs-wrapper as a pseudo element attached to the cs wrapper. This makes the white background responsive to the amount of items you have in your list. When the list grows or shrinks, the design will maintain its same spacing */
                content: '';
                width: 100vw;
                height: 100vw;
                background: var(--secondary);
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 50%;
                z-index: -1;
                transform: translateX(-50%);
            }
        }

        .cs-icon-wrapper {
            background: var(--accent500);
        }

        .cs-card-group {
            max-width: calc(630 / 16 * 1rem);
            /* use padding to push add the same amount of space between the content and the top of the card group as the negative margin top value on the cs-image-group. This makes sure that it counter acts the effects of the negative margin affecting the card group as well */
            padding-top: calc(48 / 16 * 1rem);
            align-self: flex-start;
        }

        .cs-h3 {
            color: var(--accent600);
        }

        .cs-item-text {
            color: var(--textDark);
        }

        .cs-image-group {
            width: calc(542 / 16 * 1em);
            /* by setting height to auto, it will stretch to fill the container height. So when you add or subtract more cards and change the height of the container, the image group will shrink as well. Thats why we set the heights of the images in percentages. They will always be X% tall inside the cs-image-group. So when the image group stretches to match the container height, the pictures percentage height also grows proportionally. This ensures the design responds to changes in height from the card section on the left. */
            height: auto;
            min-height: calc(494 / 16 * 1em);
            /* makes it overlap the .cs-wrapper div */
            margin-top: calc(-48 / 16 * 1em);
            flex: none;
        }

        .cs-item {
            grid-column: span 12;
            flex-direction: row;
        }

        .cs-box {
            background: var(--accent500);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #why-choose-1635 {
            background: var(--medium);

            .cs-title, .cs-text, .cs-h3, .cs-item-text, .cs-header {
                color: var(--textLight);
            }

            .cs-text, .cs-item-text {
                opacity: .8;
            }

            .cs-box {
                background: var(--dark);
                position: relative;
                z-index: 1;

                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: var(--primary);

                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }

            .cs-wrapper {
                &:before {
                    background: var(--dark);
                }
            }

            .cs-icon-wrapper {
                background: var(--primary);
            }
        }
    }
}
                                