/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0rem) {
    // Website colors
    :root {
        --primary100: #c5d9e5;
        --primary200: #9bb9cc;
        --primary300: #6d90a6;
        --primary400: #486a80;
        --primary: #294759;
        --primary600: #122633;
        --primary700: #071219;
        --secondary: #e5dbd1;
        --secondary200: #ccb7a5;
        --secondary300: #a6917e;
        --secondary400: #806c5b;
        --secondary500: #59493b;
        --secondary600: #33281f;
        --accent100: #e5bbb8;
        --accent200: #cc948f;
        --accent300: #a66963;
        --accent400: #804540;
        --accent500: #592824;
        --accent600: #33120f;
        --accent700: #190705;
        --textLight: #fffaf0;
        --textMid: #656360;
        --textDark: #262524;

        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;

        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

        --headerFont: 'Baskerville', 'Georgia', serif;
        --bodyFont: 'Montserrat', 'Arial Narrow', sans-serif;
        --smallCaps: 'Contralto Small', 'Arial Narrow', sans-serif;

        body {
            background: var(--textLight);
        }
    }

    :target {
        scroll-margin-top: 89px; /* Navigation height for jump links */
      }

    // Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
    .cs-topper {
        display: block;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
        font-family: var(--smallCaps);
        letter-spacing: 2px;
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        font-weight: 300;
        color: var(--accent500);
        text-align: inherit;
    }

    .cs-title {
        position: relative;
        margin: 0 0 1rem 0;
        max-width: 43.75rem;
        font-size: var(--headerFontSize);
        line-height: 1.2em;
        font-weight: 400;
        color: var(--textDark);
        text-align: inherit;
    }

    .cs-text {
        margin: 0;
        max-width: 40.625rem;
        width: 100%;
        font-family: var(--bodyFont);
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        color: var(--textDark);
        text-align: inherit;
    }
                                    
    // Button - can be replaced using CodeStitch's "Button" Stitches
    .cs-button-solid {
        z-index: 1;
        position: relative;
        display: inline-block;
        background: #A2635D;
        width: auto;
        padding: 0 calc(30 / 16 * 1rem);
        font-family: var(--smallCaps);
        text-decoration: none;
        text-transform: uppercase;
        font-size: calc(16 / 16 * 1rem);
        line-height: calc(48 / 16 * 1em);
        letter-spacing: 3px;
        font-weight: 600;
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, .3));
        box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);

        // Transition Properties
        color: var(--textLight);
        transition: color 0.3s;
        transition-delay: 0.1s;
        text-align: center;

        &:visited {
            color: var(--textLight);
        }

        &:hover {
            &:before {
                width: 100%;
            }
        }

        &:before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            opacity: 1;
            display: block;
            background: var(--primary400);
            height: 100%;
            box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.4);
            //Transition properties
            width: 0;
            transition: width 0.3s;
        }
    }

    .cs-button-solid:hover {
        color: var(--textLight);
    }

    .nm-honeypot {
        display: none;
    }

    .cs-hide-on-mobile {
        display: none;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .cs-hide-on-mobile {
        display: block;
    }

    .cs-hide-on-desktop {
        display: none;
    }
}

/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
    body,
    html {
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        font-family: var(--bodyFont);
        font-size: 100%;
        color: var(--textDark);
    }

    *,
    *:before,
    *:after {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    body {
        transition: background-color 0.3s;
    }

    .container {
        position: relative;
        margin: auto;
        width: 92%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: var(--textDark);
        font-family: var(--headerFont);
    }

    p,
    li,
    a {
        margin: 0;
        font-size: calc(16 / 16 * 1rem);
        font-family: var(--bodyFont);
        line-height: 1.5em;
    }

    a {
        color: var(--primary);
        font-weight: 600;
        text-underline-offset: .12em;
      
        &:visited {
          color: var(--accent500);
        }
      
        &:hover {
          color: var(--primary600);
        }
      }
      
      a[target="_blank"] {
        display: inline-flex;
        align-items: center;
        gap: 0.25ex;
      }
      
      /* Target the SVG's stroke directly */
      a[target="_blank"]:link::after {
        content: "";
        display: inline-block;
        margin-left: 0.25ex;
        width: .8em;
        height: .8em;
        vertical-align: top;
        background-color: var(--primary400); /* Default color */
        -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016.696%2016.696%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cstyle%3E%0A%20%20%20%20%20%20.cls-1%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20none%3B%0A%20%20%20%20%20%20%20%20stroke%3A%20currentColor%3B%0A%20%20%20%20%20%20%20%20stroke-linecap%3A%20round%3B%0A%20%20%20%20%20%20%20%20stroke-linejoin%3A%20round%3B%0A%20%20%20%20%20%20%20%20stroke-width%3A%201.5px%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%3C%2Fstyle%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%3Cg%20id%3D%22Layer_1-2%22%20data-name%3D%22Layer%201%22%3E%0A%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%3Cpolyline%20class%3D%22cls-1%22%20points%3D%2214.957%209.043%2014.957%2016.348%20.348%2016.348%20.348%201.739%207.652%201.739%22%2F%3E%0A%20%20%20%20%20%20%3Cline%20class%3D%22cls-1%22%20x1%3D%2212.174%22%20y1%3D%22.348%22%20x2%3D%2216.348%22%20y2%3D%22.348%22%2F%3E%0A%20%20%20%20%20%20%3Cline%20class%3D%22cls-1%22%20x1%3D%2216.348%22%20y1%3D%224.522%22%20x2%3D%2216.348%22%20y2%3D%22.348%22%2F%3E%0A%20%20%20%20%20%20%3Cline%20class%3D%22cls-1%22%20x1%3D%228.696%22%20y1%3D%228%22%20x2%3D%2216.348%22%20y2%3D%22.348%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
        mask-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016.696%2016.696%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cstyle%3E%0A%20%20%20%20%20%20.cls-1%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20none%3B%0A%20%20%20%20%20%20%20%20stroke%3A%20currentColor%3B%0A%20%20%20%20%20%20%20%20stroke-linecap%3A%20round%3B%0A%20%20%20%20%20%20%20%20stroke-linejoin%3A%20round%3B%0A%20%20%20%20%20%20%20%20stroke-width%3A%201.5px%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%3C%2Fstyle%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%3Cg%20id%3D%22Layer_1-2%22%20data-name%3D%22Layer%201%22%3E%0A%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%3Cpolyline%20class%3D%22cls-1%22%20points%3D%2214.957%209.043%2014.957%2016.348%20.348%2016.348%20.348%201.739%207.652%201.739%22%2F%3E%0A%20%20%20%20%20%20%3Cline%20class%3D%22cls-1%22%20x1%3D%2212.174%22%20y1%3D%22.348%22%20x2%3D%2216.348%22%20y2%3D%22.348%22%2F%3E%0A%20%20%20%20%20%20%3Cline%20class%3D%22cls-1%22%20x1%3D%2216.348%22%20y1%3D%224.522%22%20x2%3D%2216.348%22%20y2%3D%22.348%22%2F%3E%0A%20%20%20%20%20%20%3Cline%20class%3D%22cls-1%22%20x1%3D%228.696%22%20y1%3D%228%22%20x2%3D%2216.348%22%20y2%3D%22.348%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
        -webkit-mask-size: cover;
        mask-size: cover;
      }
      
      a[target="_blank"]:hover::after {
        background-color: var(--primary); /* Hover color */
      }
      
      a[target="_blank"]:visited::after {
        background-color: var(--accent500); /* Visited color */
      }

    p,
    li {
        color: var(--textDark);
    }

    ul {
        margin-top: -.5rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    li {
        color: var(--textDark);
        font-size: .9rem;
        font-family: var(--bodyFont);
        list-style-image: url(../svgs/diamond.svg);
        list-style-position: outside;
        padding-left: .5em;
        margin-bottom: .25rem;
    }

    a,
    button {
        &:hover {
            cursor: pointer;
        }
    }

    table {
        border-collapse: collapse;
        border: none;
        font-size: .9rem;
        width: 100%;
        margin: 1rem 0;

        caption {
            caption-side: top;
            padding: 0 0 .5rem 0;
            font-family: var(--smallCaps);
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: left;
            color: var(--accent500);
          }
          
          thead,
          tfoot {
            background-color:var(--accent500);
            color: var(--textLight);
            font-family: var(--headerFont);
            font-size: 1.2rem;
            font-weight: 400;
          }
          
          th,
          td {
            border: none;
            padding: .5rem .75rem;

            a {
                font-size: inherit;
            }
          }
          
          tbody > tr:nth-of-type(odd) {
            background-color: rgba(229, 219, 209, .5);
          }

          tbody > tr:nth-of-type(even) {
            background-color: rgba(229, 219, 209, 1);
          }
          
          tfoot th {
            text-align: right;
          }
          
          tfoot td {
            font-weight: bold;
          }
      }
      
      
      

    // Hidden Screen reader skip nav button
    .skip {
        z-index: -1111111;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    // Grab your fonts to locally host from https://google-webfonts-helper.herokuapp.com/fonts

    /* Baskerville - Regular */
    @font-face {
        font-style: normal;
        font-family: "Baskerville";
        font-weight: 400;
        font-display: swap;
        src: 
            local(""),
            url("../fonts/baskervville-v16-latin-regular.woff2") format("woff2");
    }

    /* Baskerville - Italic */
    @font-face {
        font-style: italic;
        font-family: "Baskerville";
        font-weight: 400;
        font-display: swap;
        src: 
            local(""),
            url("../fonts/baskervville-v16-latin-italic.woff2") format("woff2");
    }

    /* Contralto Small - Light */
    @font-face {
        font-style: normal;
        font-family: "Contralto Small";
        font-weight: 300;
        font-display: swap;
        src: 
            local(""),
            url("../fonts/ContraltoSmallLight/font.woff2") format("woff2"), 
            url("../fonts/ContraltoSmallLight/font.woff") format("woff");
    }

    /* Contralto Small - Regular */
    @font-face {
        font-style: normal;
        font-family: "Contralto Small";
        font-weight: 400;
        font-display: swap;
        src: 
            local(""),
            url("../fonts/ContraltoSmallRegular/font.woff2") format("woff2"), 
            url("../fonts/ContraltoSmallRegular/font.woff") format("woff");
    }

    /* Contralto Small - Regular - italics */
    @font-face {
        font-style: italic;
        font-family: "Contralto Small";
        font-weight: 400;
        font-display: swap;
        src: 
            local(""),
            url("../fonts/ContraltoSmallRegularItalic/") format("woff2"), 
            url("../fonts/ContraltoSmallRegularItalic/font.woff") format("woff");
    }
   
    /* Contralto Small - Demi Bold */
    @font-face {
        font-style: normal;
        font-family: "Contralto Small";
        font-weight: 600;
        font-display: swap;
        src: 
            local(""),
            url("../fonts/ContraltoSmallDemiBold/font.woff2") format("woff2"), 
            url("../fonts/ContraltoSmallDemiBold/font.woff") format("woff");
    }
   
    /* Contralto Small - Demi Bold - italics */
    @font-face {
        font-style: italic;
        font-family: "Contralto Small";
        font-weight: 600;
        font-display: swap;
        src: 
            local(""),
            url("../fonts/ContraltoSmallDemiBoldItalic/font.woff2") format("woff2"), 
            url("../fonts/ContraltoSmallDemiBoldItalic/font.woff") format("woff");
    }

    /* Montserrat Regular */
    @font-face {
        font-style: normal;
        font-family: "Montserrat";
        font-weight: 400;
        font-display: swap;
        src: 
            local(""),
            url("../fonts/Montserrat/montserrat-v29-latin-regular.woff2") format("woff2");
    }

    /* Montserrat Italic */
    @font-face {
        font-style: italic;
        font-family: "Montserrat";
        font-weight: 400;
        font-display: swap;
        src: 
            local(""),
            url("../fonts/Montserrat/montserrat-v29-latin-italic.woff2") format("woff2");
    }

    /* Montserrat Bold Regular */
    @font-face {
        font-style: normal;
        font-family: "Montserrat";
        font-weight: 600;
        font-display: swap;
        src: 
            local(""),
            url("../fonts/Montserrat/montserrat-v29-latin-600.woff2") format("woff2");
    }

    /* Montserrat Bold Italic */
    @font-face {
        font-style: italic;
        font-family: "Montserrat";
        font-weight: 600;
        font-display: swap;
        src: 
            local(""),
            url("../fonts/Montserrat/montserrat-v29-latin-600italic.woff2") format("woff2");
    }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
    body,
    html {
        margin: 0;
        padding: 0;
    }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
    body,
    html {
        font-size: 0.55vw;
    }
}
                                           

/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #dark-mode-toggle {
            .cs-sun {
                opacity: 1;
                transform: translate(-50%, -50%);
            }

            .cs-moon {
                opacity: 0;
                transform: translate(-50%, -150%);
                fill: #fff;
            }
        }
    }

    #dark-mode-toggle {
        z-index: 1000;
        position: absolute;
        right: calc(60 / 16 * 1rem);
        display: block;
        border: none;
        background: transparent;
        height: calc(48 / 16 * 1rem);
        width: calc(48 / 16 * 1rem);
        overflow: hidden;
        padding: 0;

        img,
        svg {
            //center image inside button
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: calc(20 / 16 * 1rem);
            width: calc(20 / 16 * 1rem);
            pointer-events: none;
        }

        .cs-moon {
            z-index: 2;
            fill: var(--textLight);
            // Transition properties
            transition:
                transform 0.3s,
                opacity 0.3s;

            // fill: yellow; --> uncomment to change the color of the moon if needed
        }

        .cs-sun {
            z-index: 1;
            opacity: 0;
            // Transition property
            transform: translate(-50%, 100%);
            transition:
                transform 0.3s,
                opacity 0.3s;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #dark-mode-toggle {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        margin: 0;

        &:hover {
            cursor: pointer;
        }
    }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body {
        &.cs-open {
            overflow: hidden;
        }
    }

    #cs-navigation {
        z-index: 10000;
        position: fixed;
        background: var(--textLight);
        width: 100%;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        padding: calc(12 / 16 * 1rem) calc(16 / 16 * 1rem);
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        font-family: var(--smallCaps);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;

        .cs-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
        }

        .cs-logo {
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 0 0;
            height: 100%;
            max-width: calc(300 / 16 * 1rem);
            width: 70%;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            padding: 0;

            img {
                height: 100%;
                width: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
                /* places the image to the left edge of the parent */
                object-position: left;
            }
        }

        .light-mode-logo {
            display: block;
        }

        .dark-mode-logo {
            display: none;
        }

        .cs-toggle {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            margin: 0 0 0 auto;
            background: transparent;
            height: clamp(2.75rem, 6vw, 3rem);
            /* 44px - 48px */
            width: clamp(2.75rem, 6vw, 3rem);
        }

        .cs-active {
            .cs-line1 {
                top: 50%;
                transform: translate(-50%, -50%) rotate(225deg);
            }

            .cs-line2 {
                top: 50%;
                transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
                transform-origin: center;
            }

            .cs-line3 {
                bottom: 100%;
                opacity: 0;
            }
        }

        .cs-box {
            position: relative;
            /* 14px - 16px */
            height: clamp(0.875rem, 1.5vw, 1rem);
            /* 24px - 28px */
            width: clamp(1.5rem, 2vw, 1.75rem);
        }

        .cs-line {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background: var(--primary);
            height: 2px;
            width: 100%;
        }

        .cs-line1 {
            top: 0;
            transition:
                transform 0.5s,
                top 0.3s,
                left 0.3s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
            transform-origin: center;
        }

        .cs-line2 {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition:
                top 0.3s,
                left 0.3s,
                transform 0.5s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }

        .cs-line3 {
            bottom: 0;
            transition:
                bottom 0.3s,
                opacity 0.3s;
        }

        .cs-ul-wrapper {
            z-index: -1;
            position: absolute;
            top: 100%;
            left: auto;
            right: 0;
            opacity: 0;
            visibility: hidden;
            transform: scaleX(0);
            background: var(--textLight);
            height: 100vh;
            overflow: hidden;
            transition:
                transform 0.4s,
                opacity 0.3s;
            box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
            transform-origin: top right;
        }

        .cs-ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0;
            height: 65vh;
            min-width: 40%;
            width: auto;
            overflow: scroll;
            /* 28px - 40px */
            padding: calc(48 / 16 * 1rem) clamp(1.75rem, 3vw, 2.5rem)
                calc(32 / 16 * 1rem) calc(70 / 16 * 1rem);
            gap: calc(20 / 16 * 1rem);
        }

        .cs-li {
            opacity: 0;
            /* transition from these values */
            transform: translateX(calc(-40 / 16 * 1rem));
            margin-right: 0;
            width: 100%;
            list-style: none;
            transition:
                transform 0.6s,
                opacity 0.9s;
            text-align: right;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
        }

        .cs-li-link {
            position: relative;
            display: inline-block;
            margin: 0;
            text-decoration: none;
            /* 16px - 24px */
            font-size: clamp(0.875rem, 2vw, 1.25rem);
            line-height: 1.2em;
            color: var(--primary600);
            font-family: var(--smallCaps);
            font-weight: 600;
            letter-spacing: 3px;
            text-transform: uppercase;

            &:before {
                position: absolute;
                bottom: calc(-2 / 16 * 1rem);
                left: 0;
                /* active state underline */
                content: "";
                opacity: 1;
                display: none;
                background: var(--secondary300);
                height: 1px;
                width: 100%;
            }

            &.cs-active {
                &:before {
                    display: block;
                }
            }
        }

        .cs-button-solid {
            display: none;
        }

        &:before {
            z-index: -11;
            position: absolute;
            top: 100%;
            right: 0;
            /* black blurred overlay */
            content: "";
            opacity: 0;
            display: block;
            background: rgba(7, 18, 25, 0.6);
            height: 100vh;
            width: 0%;
            transition:
                width 0.5s,
                opacity 0.3s;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }

        &.cs-active {
            .cs-ul-wrapper {
                opacity: 1;
                visibility: visible;
                transform: scaleX(1);
                transition-delay: 0.2s;
            }

            .cs-li {
                opacity: 1;
                transform: translateX(0);
            }
            &:before {
                opacity: 1;
                width: 100%;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (max-width: 63.9375rem) {
    body.dark-mode {
        #cs-navigation {
            background: var(--dark);

            .light-mode-logo {
                display: none;
            }

            .dark-mode-logo {
                display: block;
            }

            .cs-line {
                background: var(--secondary300);
            }

            .cs-ul-wrapper {
                background: var(--medium);
            }

            .cs-li-link {
                color: var(--textLight);

                &:before {
                    background: var(--secondary300);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    #cs-navigation {
        .cs-dropdown {
            position: relative;
            color: var(--accent200);

            .cs-li-link {
                position: relative;
                transition: opacity 0.3s;
                font-family: var(--smallCaps);
                font-size: clamp(0.875rem, 2vw, 1.25rem);
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            &.cs-active {
                .cs-drop-ul {
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                    margin: calc(12 / 16 * 1rem) 0 0 0;
                    height: auto;
                    padding: calc(24 / 16 * 1rem);
                }

                .cs-drop-link {
                    opacity: 1;
                }
            }
        }

        .cs-dropdown-button {
            border: none;
            background: transparent;
            font-family: inherit;
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            cursor: pointer;
            appearance: none;
        }

        .cs-drop-icon {
            position: absolute;
            top: 50%;
            right: calc(-20 / 16 * 1rem);
            transform: translateY(-50%);
            height: auto;
            width: calc(15 / 16 * 1rem);
        }

        .cs-drop-ul {
            visibility: hidden;
            opacity: 0;
            transform: scale(0);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0;
            background: var(--secondary);
            height: 0;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            padding: 0 calc(24 / 16 * 1rem) 0 calc(24 / 16 * 1rem);
            transition:
                padding 0.3s,
                margin 0.3s,
                height 0.3s,
                opacity 0.3s,
                transform 0.3s,
                visibility 0.3s;
            gap: calc(12 / 16 * 1rem);
            transform-origin: top right;
        }

        .cs-drop-li {
            list-style: none;
            text-align: inherit;
        }

        .cs-li-link {
            &.cs-drop-link {
                /* 14px - 16px */
                font-size: clamp(0.875rem, 2vw, 1.25rem);
                color: var(--textDark);
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        .cs-dropdown {
            position: relative;

            &.cs-active,
            &:hover {
                cursor: pointer;
                .cs-drop-ul {
                    visibility: visible;
                    opacity: 1;
                    transform: scaleY(1);
                }

                .cs-drop-li {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .cs-dropdown-button {
            border: none;
            background: transparent;
            font-family: inherit;
            font-size: inherit;
            cursor: pointer;
            appearance: none;
        }

        .cs-drop-icon {
            display: inline-block;
            height: auto;
            width: calc(15 / 16 * 1rem);
        }

        .cs-drop-ul {
            z-index: -100;
            /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
            // columns: 2;
            position: absolute;
            top: 100%;
            visibility: hidden;
            opacity: 0;
            transform: scaleY(0);
            border-bottom: 5px solid var(--secondary300);
            margin: 0;
            background: var(--textLight);
            min-width: calc(200 / 16 * 1rem);
            overflow: hidden;
            padding: 0;
            transition:
                transform 0.3s,
                visibility 0.3s,
                opacity 0.3s;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 16px;
            transform-origin: top;
        }

        .cs-drop-li {
            opacity: 0;
            transform: translateY(calc(-10 / 16 * 1rem));
            display: block;
            height: auto;
            width: 100%;
            list-style: none;
            text-decoration: none;
            font-size: calc(16 / 16 * 1rem);
            color: var(--textDark);
            transition:
                opacity 0.6s,
                transform 0.6s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(11) {
                transition-delay: 0.55s;
            }
            &:nth-of-type(12) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(13) {
                transition-delay: 0.65s;
            }
        }

        .cs-li-link {
            &.cs-drop-link {
                display: block;
                width: 100%;
                /* prevents padding from affecting height and width */
                box-sizing: border-box;
                padding: calc(12 / 16 * 1rem);
                white-space: nowrap;
                text-decoration: none;
                font-size: calc(16 / 16 * 1rem);
                line-height: 1.5em;
                letter-spacing: 1.5px;
                color: var(--textDark);
                transition:
                    color 0.3s,
                    background 0.3s;

                &:hover {
                    background: var(--secondary);
                }

                &:focus-visible {
                    outline: 2px solid currentColor;
                    outline-offset: -4px;
                }

                &:before {
                    display: none;
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cs-navigation {
            .cs-drop-ul {
                background: var(--primary);
            }

            .cs-li-link {
                &.cs-drop-link {
                    &:hover {
                        background: var(--medium);
                    }
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {

    #cs-navigation {
        z-index: 10000;
        position: fixed;
        background: var(--textLight);
        width: 100%;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        padding: 0 calc(16 / 16 * 1rem);
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;

        .cs-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: auto;
            max-width: calc(1280 / 16 * 1rem);
            width: 100%;
            gap: calc(24 / 16 * 1rem);
        }

        .cs-toggle {
            display: none;
        }

        .cs-logo {
            z-index: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            /* margin-right auto pushes everything away from it to the right */
            margin: 0 auto 0 0;
            height: calc(65 / 16 * 1rem);
            max-width: calc(350 / 16 * 1rem);
            width: 25%;
            padding: 0;

            img {
                height: 100%;
                width: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .light-mode-logo {
            display: block;
        }

        .dark-mode-logo {
            display: none;
        }

        .cs-ul {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
            width: 100%;
            padding: 0;
            /* 20px - 36px */
            gap: clamp(1.25rem, 2.6vw, 2.25rem);
        }

        .cs-li {
            padding: calc(32 / 16 * 1rem) 0;
            list-style: none;
            /* prevent flexbox from squishing it */
            flex: none;
        }

        .cs-li-link {
            position: relative;
            display: block;
            margin: 0;
            text-decoration: none;
            font-family: var(--smallCaps);
            font-weight: 600;
            /* 14px - 16px */
            font-size: clamp(.75rem, 2vw, 1rem);
            line-height: 1.2em;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: var(--primary600);
            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                position: absolute;
                bottom: calc(0 / 16 * 1rem);
                left: 0;
                /* active state underline */
                content: "";
                opacity: 1;
                display: block;
                background: var(--secondary300);
                height: 2px;
                width: 0%;
                transition: width 0.3s;
            }

            &.cs-active {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 64rem) {
    body.dark-mode {
        #cs-navigation {
            background: var(--dark);

            .light-mode-logo {
                display: none;
            }

            .dark-mode-logo {
                display: block;
            }

            .cs-li-link {
                color: var(--textLight);
            }

            .cs-li-link {
                &:before {
                    background: var(--secondary200);
                }
            }

            .cs-button-solid {
                background: var(--primary400);
                color: var(--textLight);

                &:before {
                    background: var(--accent500);
                }
            }
        }
    }
}