/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-1106 {
        padding: var(--sectionPadding);
        padding-top: calc(180 / 16 * 1rem);
        padding-bottom: calc(120 / 16 * 1rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;
        background: var(--medium);

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-int-title {
            /* 39px - 61px */
            font-family: var(--headerFont);
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 400;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--textLight);
            position: relative;
        }

        .cs-breadcrumbs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-link {
            font-family: var(--smallCaps);
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.2em;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: var(--textLight);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron */
                content: "";
                width: calc(12 / 16 * 1rem);
                height: calc(16 / 16 * 1rem);
                margin: 0 calc(16 / 16 * 1rem);
                background: url("../svgs/chevron.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                display: block;
            }

            &.cs-active {
                opacity: .6;
                font-weight: 300;
            }

            &:hover {
                color: var(--primary100);
                text-decoration: underline;
                text-underline-offset: .3em;
                transition: color .3s, text-decoration .3s;
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: -moz-linear-gradient(
                    left,
                    rgba(18, 38, 51, 0.94) 0%,
                    rgba(18, 38, 51, 0) 100%
                ); /* FF3.6-15 */
                background: -webkit-linear-gradient(
                    left,
                    rgba(18, 38, 51, 0.94) 0%,
                    rgba(18, 38, 51, 0) 100%
                ); /* Chrome10-25,Safari5.1-6 */
                opacity: 1;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-690 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-flex-group {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-topper {
            color: var(--accent600);
        }

        .cs-title {
            color: var(--secondary600);
        }

        .cs-color {
            color: var(--accent400);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            row-gap: calc(16 / 16 * 1rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 24px - 40px top & bottom */
            padding: clamp(1.25rem, 4vw, 2.5rem) calc(24 / 16 * 1rem);
            background-color: var(--secondary);
            box-sizing: border-box;
            transition:
                background-color 0.3s,
                transform 0.3s,
                box-shadow 0.3s;

            &:hover {
                background-color: var(--primary);
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 50px;
                transform: translateY(calc(-7 / 16 * 1rem));

                .cs-picture {
                    &:before {
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                    }
                }

                .cs-h3 {
                    color: var(--textLight);
                    font-weight: 400;
                }

                .cs-item-text {
                    color: var(--textLight);
                    font-family: var(--bodyFont);
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-picture {
            width: calc(64 / 16 * 1rem);
            height: calc(64 / 16 * 1rem);
            margin: 0;
            margin-bottom: calc(24 / 16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: var(--accent500);
            box-shadow: 0px 12px 30px rgba(26, 26, 26, 0.04);
            position: relative;
            z-index: 1;
        }

        .cs-icon {
            height: calc(40 / 16 * 1rem);
            width: auto;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            font-weight: 400;
            text-align: center;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: calc(12 / 16 * 1rem);
            color: var(--accent500);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            font-weight: 400;
            text-align: center;
            line-height: 1.5em;
            margin: 0;
            color: var(--textDark);
            transition: color 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-690 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: calc(48 / 16 * 1rem);
        }

        .cs-flex-group {
            width: 50%;
        }

        .cs-card-group {
            /* pushes down the same amount the 2nd cards are translated down to maintain the even spacing at the bottom of the cs-card-group */
            margin-bottom: calc(40 / 16 * 1rem);
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: calc(20 / 16 * 1rem);
        }

        .cs-item {
            width: 30vw;
            max-width: calc(413 / 16 * 1rem);
            &:nth-of-type(2) {
                transform: translateY(calc(40 / 16 * 1rem));

                &:hover {
                    /* make these cards a separate hover translate amount, they're already translated 40px down, so to match the same hover animations as the other cards we just subtract their translate values from the 40px and they will move up by the same amount as the other cards */
                    transform: translateY(calc(33 / 16 * 1rem));
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-690 {
            background: var(--medium);
            .cs-topper {
                color: var(--secondary);
            }
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--textLight);
            }

            .cs-color {
                color: var(--secondary300);
            }

            .cs-picture {
                background-color: var(--primary400);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--primary);

                &:hover {
                    background-color: var(--dark);
                }
            }
        }
    }
}
                                